@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Best Heater Control Solution!";
    ViewBag.Message = "DC Controller";
}
<div class="HowToTitle2">The Best Heater Control Solution Ever!</div><br />
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
</aside>
<div class="TextProp">
    <div class="aside1main">
        <a href="/Images/Projects/12VUpgrade/12VUpgrade0081lg.jpg">
            <img class="PicsLeft" img src="/Images/Projects/12VUpgrade/12VUpgrade0081sm.jpg">
        </a><br />
        <p>
            This is a GIANT breakthrough for us Vintage Vehicle Enthusiasts! Until now, you had to get an aftermarket rotary heater switch that gave you three
            positions (Low, Medium, High) and the switch is not all that great of quality. Stock Switches are rare and get really HOT when converting to 12 Volts.
            This system is designed to give you FULL LINEAR CONTROL of your Heater Motor. The included Stainless Steel Bracket holds a Potentiometer with a very
            solid 1-1/2" knob. Full Counter-Clockwise position turns the system off with a Click. The Motor Controller mounts anywhere you choose near the
            Heater out of sight. This solution puts off NO heat whatsoever yet gives you full control from 0 RPM to 3500 RPM (depending on your motor's top speed).
        </p><br />
        <hr /><br />
        <center>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="SE5T5KSQUGYBY">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Choose Your Product"></td></tr>
                    <div style="font-family:verdana,sans-serif; font-size:16pt; font-weight:bold; color: #0a4f12">
                        <b>Best Heater Control Solution Ever! (12v Power Only)</b>
                    </div><br />
                    <br />
                    "Complete Controller Solution" comes with the entire wiring bundle, Controller, Switch Bracket with Potentiometer and Knob ready to install.
                    <br />
                    "Stainless Steel Dash Bracket" is the bracket with the 1/4" stud, nut and washer for installing under your dash.
                    <br />
                    "Stainless Dash Bracket with Potentiometer and Knob" is self explanatory. Knob is high quality 1-1/2" Knob with Deluxe Switched Potentiometer.
                    <br />
                    <br />
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Complete Controller Solution">Complete Controller Solution $74.50 USD</option>
                                <option value="Stainless Steel Dash Bracket">Stainless Steel Dash Bracket $22.00 USD</option>
                                <option value="Stainless Dash Bracket with Potentiometer and Knob">Stainless Dash Bracket with Potentiometer and Knob $37.50 USD</option>
                            </select>
                        </td>
                    </tr>
                </table><br />
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"><br /><br />
                <b>**Additional International Shipping Rates Apply**</b>
            </form>
        </center><br />
        <hr />
        <p>
            The entire instruction on how to build this yourself: <a href="/Home/Native12VUpgrade#DCController" target=_blank>Full Instruction</a><br />
            You can skip to the Installation Instructions Here: <a href="/Home/Native12VUpgrade#KitInstall" target=_blank>Installation Instructions</a><br />
        </p>
        <p>
            The build instruction contains everything you need. We encourage you to build it yourself, however, if you can't do it, email <a href="mailto:deve@speedprint.com?subject=Your Website">deve@speedprint.com</a> and
            we will get this done for you. If you have any questions or concerns, we are here to help. Either email Deve, or go to <a href="forums.devestechnet.com" target=_blank>DTN Forums</a> and join
            in on the conversation.<br />
        </p>
    </div>
</div>
    <p>
        PROJECT DIRECTOR: DEVE KREHBIEL<br />
        CONTACT: DEVE@SPEEDPRINT.COM<br />
    </p>
