@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "So What Is Farm-It-Out?";
    ViewBag.Message = "Farm-It-Out Home";
}
<center>
    <div class="HowToTitle3">So What Is Farm-It-Out?</div><br />
</center>
<aside>
    <b>Farm-It-Out</b> is our Buy-It-Now page but with a difference. We only make each item to order and we are doing it because we realize not everyone has the shop
    facilities to do it themselves. We are not in this to make money, rather give everyone an opportunity to have some of the unique items us retired folks
    come up with. If you are interested in anything below, click on the button for a more clear description, learn how you can make these items yourself if you
    so choose. Place your order via PayPal using the Buttons provided at each offering. Checks, Cash, or Money Orders send to the address below each offering.
    Don't forget we want to hear back from you on how you feel about our services!
</aside>
<hr /><br />
<aside>
    <b>
        Very Important! All shipping rates are within the U.S. Only! International Shipping Rates Apply! If you are International, please email <a href="mailto:deve@speedprint.com?subject=Your Website">deve@speedprint.com</a>
        and we will get the correct price for your order.
    </b>
</aside>
<div class="HowToTitle4">Our Most Popular Kits for the 216/235/261 Engines</div><br />
<div class="asidefio">
    <span class="farmitoutmatrix">
        <center>
            <span class="farmitout">
                <a href="/Services/HEISystem" class="btn btn-deve btn-lg">HEI Installation Kit!<br /><center>$176.50 [click!]</center><img src="http://images.devestechnet.com/Restorations/1950B/D50b06067sm.jpg"></a>
            </span>
            <span class="farmitout">
                <a href="/Services/PCVUpgrade" class="btn btn-deve btn-lg">PCV Upgrade Kit!<br /><center>$74.50 [click!]</center><img src="http://images.devestechnet.com/Projects/PCVInstall/PCV2sm.jpg"></a>
            </span>
            <span class="farmitout">
                <a href="/Services/OilFilterAdapter" class="btn btn-deve btn-lg">Spin-On Filter Kit!<br /><center>$174.50 [click!]</center><img src="http://images.devestechnet.com/Restorations/1950B/D50b00407sm.jpg"></a>
            </span>
            <span class="farmitout">
                <a href="/Services/DipstickTube" class="btn btn-deve btn-lg">Stainless Dipstick Tubes!<br /><center>$14.95 [click!]</center><img src="http://images.devestechnet.com/Projects/DipstickTube/DipstickTube00001sm.jpg"></a>
            </span>
        </center>
    </span>
</div>
<br />
<div class="asidefio">
    <span class="farmitoutmatrix">
        <center>
            <span class="farmitout">
                <a href="/Services/HEIMount" class="btn btn-deve btn-lg">HEI/Ballast Mount!<br /><center>$35.00 [click!]</center><img src="http://images.devestechnet.com/Restorations/1950B/D50b06091sm.jpg"></a>
            </span>
            <span class="farmitout">
                <a href="/Services/CarbAdapter" class="btn btn-deve btn-lg">Old-New Carb Adapter!<br /><center>$35.00 [click!]</center><img src="http://images.devestechnet.com/Projects/Project1959235/Project59235156sm.jpg"></a>
            </span>
        </center>
    </span>
</div>
<br /><hr /><br />
<div class="HowToTitle4">Our Most Popular 1947-1955 Advance Design Solutions</div>
<h4>(Other Vintage Vehicles May Apply)</h4>
<br />
<div class="asidefio">
    <span class="farmitoutmatrix">
        <center>
            <span class="farmitout">
                <img class="featureditem" src="http://images.devestechnet.com/FeaturedItem.jpg">
                <a href="/Services/CISIntro" class="btn btn-deve btn-lg">Critical Information System!<br /><center>Coming Soon!</center><img src="http://images.devestechnet.com/Projects/WarningSystem/WarningSystem0045sm.jpg"></a>
            </span>
        </center>
    </span>
</div>
<br /><hr /><br />
<div class="asidefio">
   <span class="farmitoutmatrix">
       <center>
             <span class="farmitout">
                <a href="/Services/RancoFirewallCover" class="btn btn-deve btn-lg">Firewall Ranco Cover!<br /><center>$16.50 [click!]</center><img src="http://images.devestechnet.com/Projects/HeaterRestore/RancoHCV0048sm.jpg"></a>
             </span>
             <span class="farmitout">
                <a href="/Services/BestHeaterControlSolution" class="btn btn-deve btn-lg">Best Heater Controller!<br /><center>$74.50 [click!]</center><img src="http://images.devestechnet.com/Projects/12VUpgrade/12VUpgrade0081sm.jpg"></a>
             </span>
             <span class="farmitout">
                <a href="/Services/HitchSystem" class="btn btn-deve btn-lg">Hitch System!<br /><center>$450.00 [click!]</center><img src="http://images.devestechnet.com/Restorations/1950B/D50b04023sm.jpg"></a>
             </span>
             <span class="farmitout">
                <a href="/Services/Shifter" class="btn btn-deve btn-lg">3 on the Floor!<br /><center>$550.00 [click!]</center><img src="http://images.devestechnet.com/Restorations/1950B/D50b03139sm.jpg"></a>
              </span>
       </center>
    </span>
</div>
<br /><hr /><br />
<div class="HowToTitle4">Our Most Popular Restoration Shop Solutions</div><br />
<div class="asidefio">
   <span class="farmitoutmatrix">
       <center>
             <span class="farmitout">
                <a href="/Services/Rotisserie" class="btn btn-deve btn-lg">Frame Rotisserie!<br /><center>$850.00 [click!]</center><img src="http://images.devestechnet.com/Restorations/1950B/D50b00638sm.jpg"></a>
             </span>
             <span class="farmitout">
                <a href="/Services/EngineCart" class="btn btn-deve btn-lg">Engine Cart!<br /><center>$85.00 [click!]</center><img src="http://images.devestechnet.com/Restorations/1950B/D50b02016sm.jpg"></a>
             </span>
             <span class="farmitout">
                <a href="/Services/RollerStand" class="btn btn-deve btn-lg">Roller Stand!<br /><center>$85.00 [click!]</center><img src="http://images.devestechnet.com/Restorations/1950B/D50b02035sm.jpg"></a>
              </span>
              <span class="farmitout">
                 <a href="/Services/StartKart" class="btn btn-deve btn-lg">The Start Kart!<br /><center>$1800.00 [click]</center><img src="http://images.devestechnet.com/Projects/StartKart/SrtKrt00001sm.jpg"></a>
              </span>
        </center>
   </span>
</div>
<br /><hr /><br />
<div class="asidefio">
   <span class="farmitoutmatrix">
       <center>
              <span class="farmitout">
                 <a href="/Services/SuperJig" class="btn btn-deve btn-lg">The Super Jig!<br /><center>$5200.00 [click]</center><img src="http://images.devestechnet.com/Restorations/1950B/D50b02041sm.jpg"></a>
              </span>
              <span class="farmitout">
                 <a href="/Services/Accessories" class="btn btn-deve btn-lg">Accessories!<br /><center>Email for Quote!</center><img src="http://images.devestechnet.com/Restorations/1950B/D50b02056sm.jpg"></a>
              </span>
       </center>
   </span>
</div>
<br /><hr /><br />
<p>
    <b>Want to join the Farm-It-Out Team?</b> We are always looking for honest, giving individuals who wish to spend their time going out of their way to
    accommodate their fellow man. If you have a shop with the capabilities to do some of these projects, and the skills/mindset required to do an
    extra-ordinary job, or wish to share an idea with the Network, contact <a href="mailto:deve@speedprint.com?subject=Your Website">deve@speedprint.com</a>
    and we will initiate a conversation about putting you on the list.
</p>
<p>
    Each project is assigned a Project Director and a Contact. Usually it's the person that invented it, although sometimes others volunteer to do the
    work. Currently we are short on volunteers, so if you want to participate, let us know.
</p>
   <center>
       <div class="HomeTitle1">Check out our current offerings. These are made to order, so give us plenty of time!</div>
       <b>We encourage you to make these items yourself first. Full detailed instructions are found in the link pages.</b><br /><br />
   </center>
