@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AD Truck Wiring Made Easy!";
    ViewBag.Message = "Wiring Tips and Tricks";
}
<div class="HowToTitle1">AD System Wiring</div>
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!    
</aside><br />
<div class="aside1main">
    <p>
        I'm sorry, but I haven't gotten around to writing this yet. I was able to provide pictures for the writeup so here they are.<br /><br />
        I am always hoping someone else will help with the writing for a good cause!
    </p>
</div>
<div class="aside1mainx">
    <span class="restopics">
        <a href="http://images.devestechnet.com/Projects/ADWiringSystem/adwiring1lg.jpg"><img src="http://images.devestechnet.com/Projects/ADWiringSystem/adwiring1sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/ADWiringSystem/adwiring20lg.jpg"><img src="http://images.devestechnet.com/Projects/ADWiringSystem/adwiring20sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/ADWiringSystem/adwiring21lg.jpg"><img src="http://images.devestechnet.com/Projects/ADWiringSystem/adwiring21sm.jpg" width="175"></a>
    </span>
</div>

