@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AD Air Filter Options";
    ViewBag.Message = "Oil Bath or Modern Air?";
}
<div class="HowToTitle1">1947-1955 1st Air Filter Options</div><br />
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!    
</aside><br />
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/AirFilter/dryfilter1lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/AirFilter/dryfilter1sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/AirFilter/oilbath1lg.jpg">
        <img class="PicsRight" src="http://images.devestechnet.com/Projects/AirFilter/oilbath1sm.jpg">
    </a><br />
    <p>
        In these years, Chevy made two types of filters. The dry filter was standard from the factory, and for some reason, wasn't
        as desirable as the oil bath type. Customers generally opted to have the dry filter replaced at the dealer. This makes the
        dry filter assembly very rare. You do see them on Ebay from time to time.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/AirFilter/dryfilter2lg.jpg">
        <img class="PicsRight" src="http://images.devestechnet.com/Projects/AirFilter/dryfilter2sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/AirFilter/dryfilter8lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/AirFilter/dryfilter8sm.jpg">
    </a><br />
    <p>
        These are shots of a dry filter taken while on the truck. The reason it wasn't real desirable was its copper filling.
        You had to wash this filter with Kerosene every 2000 miles and re-oil and drain before re-assembly. The copper also
        broke down over time, and this copper was likely to get sucked into the carb, thus possibly causing premature engine failure.
        Fortunately for us, the vendors carry new original filters for this style. I just went with a modern type myself. There is
        the question of the modern filter allowing for the volume of air that a 261 sucks in, but no, that isn't an issue at all.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/AirFilter/dryfilter4lg.jpg">
        <img class="PicsLeft" src="http://images.devestechnet.com/Projects/AirFilter/dryfilter4sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/AirFilter/dryfilter5lg.jpg">
        <img class="PicsRight" src="http://images.devestechnet.com/Projects/AirFilter/dryfilter5sm.jpg">
    </a><br />
    <p>
        Personally, I like the dry type, because I do not like the idea of oil sloshing around in the oil bath type. It is also
        a messy proposition when you go to clean it. It gets sludgy and dirty really quick. I say I like the dry type, but with a
        modification or two. By simply removing the copper mesh and screen, and getting a modern round filter to replace it, you
        now have a really nice filter that is really the best of both worlds. Great filtering and no mess while maintaining
        relatively the same look. My only complaint about this solution is that it sits higher due to the additional height of the
        modern filter. I have been unable to find a flatter modern filter.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/AirFilter/dryfilter9lg.jpg">
        <img class="PicsRight" src="http://images.devestechnet.com/Projects/AirFilter/dryfilter9sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/AirFilter/dryfilter7lg.jpg">
        <img class="PicsLeft" src="http://images.devestechnet.com/Projects/AirFilter/dryfilter7sm.jpg">
    </a><br />
    <p>
        The second mod that has to be done is to make the center screw longer to accommodate the higher filter. My solution was to
        remove the original screw, drill it out for a #10 longer screw. By screwing the screw into the nut
        (with lock washer and Loctite), you can pretty much not worry about the screw falling into the intake. The decal is available
        from our standard vendors, and adds the finishing touch. The NAPA part number for the filter element is #2373 (Napa Gold.)
        Anyone finding a shorter filter that would eliminate the need to change the bolt, please let me know!
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/AirFilter/oilbath2lg.jpg">
        <img class="PicsRight" src="http://images.devestechnet.com/Projects/AirFilter/oilbath2sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/AirFilter/oilbath3lg.jpg">
        <img class="PicsLeft" src="http://images.devestechnet.com/Projects/AirFilter/oilbath3sm.jpg">
    </a><br />
    <p>
        Here is a shot of the Oil Bath assembly, so you can see the difference. There is quite a difference, too! The advantage
        of this system is that no disposable filter is required. It also makes the engine look more antique. Decals are available
        for this type, too.
    </p>
</div>
<div class="HowToTitle1">Picture Gallery</div><br />
<div class="aside1mainx">
    <span class="restopics">
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter1lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter1sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter2lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter2sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter3lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter3sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter4lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter4sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter5lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter5sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter6lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter6sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter7lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter7sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter8lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter8sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter9lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter9sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter10lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter10sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter11lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter11sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter12lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter12sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter13lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter13sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter14lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter14sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter15lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter15sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter16lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter16sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter17lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter17sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter18lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter18sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter19lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter19sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter20lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter20sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter21lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter21sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter22lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter22sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter23lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter23sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter24lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter24sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter25lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter25sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter26lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter26sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter27lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter27sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter28lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter28sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter29lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter29sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter30lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter30sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter31lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter31sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter32lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter32sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter33lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter33sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter34lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter34sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter35lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter35sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter36lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter36sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter37lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter37sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter38lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter38sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter39lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter39sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/AirFilter/AirFilter40lg.jpg"><img src="http://images.devestechnet.com/Projects/AirFilter/AirFilter40sm.jpg" width="175"></a>
    </span>
</div>
<aside>
    Do you have Pictures or some information that would add to this conversation? Send Pics and/or improvements to
    <a href="mailto:deve@speedprint.com?subject=Air Filters">Deve</a> and we will make sure they are considered for this document.
    Meanwhile don't forget to check the <a href="/Services/Index" target=_blank><b>Farm-It-Out</b></a> section for unique items
    that may make your restoration just a little better.
</aside>

