@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AD Bed Wood Options";
    ViewBag.Message = "A Comprehensive Look";
}
<aside>
    There are two separate articles on this page from two separate sources. The first is my friend Jeff Nelson who has contributed
    other things to the site, and the second one is from a fellow oletrucker Mike Klepp. Both are really excellent reading if you
    are at this stage.
</aside><br />
<div class="HowToTitle1">Advance Design Bed Wood Specifications</div>
<div class="TitleByLine">Provided by Jeff Nelson</div>
<div class="para">
    <p>
        The bedwood in the Advance Design trucks was originally southern yellow pine. The wood came from the factory treated with a
        combination of linseed oil and lampblack, giving it a dull, black color. The boards were held down with metal strips between
        the boards which were painted black also. Remember that these were working trucks, meant to haul hay, manure, gravel, etc.
    </p>
    <p>
        Many of the vendors listed at the Chevytrucks.org homepage (<a href="http://www.chevytrucks.org/resources/vendors.htm">Vendors</a>)
        sell bed replacement kits. You can buy the entire kits or any of the individual components. These kits can include the boards
        (usually available in either pine or oak), the metal strips (available in stainless steel or plain steel for painting), and all
        of the necessary hold down hardware. Most of the vendors also carry a booklet for around $4 or $5 titled "<b>
            Bed Assembly and Restoration Manual
        </b>." Although the booklet does not include the dimensions (given below) it has lots of useful information about
        restoring and reassembling your bed.
    </p>
    <p>
        When replacing the bedwood, people usually take one of two approaches to finishing the wood. They either try to duplicate the
        original look, or they go with a clear finish to show the wood grain. If you want to have a bed that resembles the original,
        here are two methods suggested by our members that you might try.
    </p>
    <div class="SmallTitle">Method #1</div>
    <p>
        Get a pint of Pine Tar, usually from farm supply outfits, mix it with enough 'turps' Turpentine, to thin it out, and then add it
        to at least a gallon of Boiled Linseed Oil. Do this when all of it is warm, as in sitting out in the sun for a few hours. Mix
        and stir well and coat the 'be jabbers' out of the boards. For a different fragrance, toss in a bit of diesel or 'kero' Kerosene.
        Do not let it dry out. Keep flooding the wood with the mixture and at night cover well. The Boiled Oil will start to skin over
        if left exposed to air so I made a 'tub of old boards lined with plastic to hold the mess. After about a week, take the boards
        out drain the excess back into the tub and when all are done save the 'goo' for other like minded jobs. Hint, after saving the
        'goo' float a layer of kero or diesel on top to prevent the linseed from drying out.
    </p>
    <div class="SmallTitle">Method #2</div>
    <p>
        I finished the wood by rubbing on an oil-based paint (black to go with the bed strips painted black w/ clear coat), and wiping it
        off within 1 minute.  For final finish, if possible, I think a clear coat would be sweet, but with budget in mind, I used a UV
        resistant outdoor, spar varnish, lightly sanded between coats.  It sure looks good.  The wood grain is dark, yet very visible.
    </p>
    <p>
        Many oletruckers, when they replace the bedwood, choose to use a variety of clear finishes to bring out the beauty of the wood
        grain. When purchasing a clear finish for this purpose, be sure to get a finish that is UV resistant to reduce the potential
        damage from the sun. Most marine type varnishes will meet this criteria.
    </p>
    <p>
        If you prefer to use your own boards, you need numbers and dimensions. From 1947 to early 1951, there were 9 boards making up the
        bed. From late 1951 to 1955 1st, there were 8 boards. The boards were nominally 1" thick (making them a measured 3/4" thick).
        The width of the boards varied depending on position. The tables below show the width of each board and its relative position.
    </p>
    <div class="tablecont1">
        <div class="tbltitle">1947 to Early 1951 - 9 Boards</div>
        <div class="bedwood9item">4 1/4"</div>
        <div class="bedwood9item">5"</div>
        <div class="bedwood9item">5 1/2"</div>
        <div class="bedwood9item">5 1/2"</div>
        <div class="bedwood9item">6 3/8"</div>
        <div class="bedwood9item">5 1/2"</div>
        <div class="bedwood9item">5 1/2"</div>
        <div class="bedwood9item">5"</div>
        <div class="bedwood9thitem">4 1/4"</div>
    </div>
    <div class="tablecont1">
        <div class="tbltitle">Late 1951 to 1955 1st Series - 8 Boards</div>
        <div class="bedwood8item1st">4 1/4"</div>
        <div class="bedwood8item">7 1/4"</div>
        <div class="bedwood8item">5"</div>
        <div class="bedwood8item">7 1/4"</div>
        <div class="bedwood8item">7 1/4"</div>
        <div class="bedwood8item">5"</div>
        <div class="bedwood8item">7 1/4"</div>
        <div class="bedwood8thitem">4 1/4"</div>
    </div><br />
    <p>
        The individual boards were held down by steel strips (called "wear strips") which sat in grooves in each board. You will note from the
        drawing below that the outer edges of the wear strip came down lower than the middle of the wear strip. This explains the somewhat
        unusual groove pattern of the wood (see below for dimensions.)
    </p><br /><br />
    <img class="center" src="http://images.devestechnet.com/Projects/BedWood/wearstrp.jpg" width="380px" height="161px" alt="Wear Strip" /><br />
    <p>
        The two outside boards had grooves only on their inside edges. All of the other boards had grooves down both sides.
        The drawing below shows how the boards were grooved. The dimensions given are from members measuring old bedwood. If I was going to
        create my own board, I would purchase the wear strips first and use those measurements to adjust the dimensions below. The
        shallower the inside groove is, the higher the wear strips will ride above the bedwood. Originally, the top protrusions of the wear
        strips were just slightly higher than the bedwood.
    </p><br /><br />
    <img class="center" src="http://images.devestechnet.com/Projects/BedWood/board.jpg" width="380px" height="236px" alt="Board Dimensions" />
    <dl>
        <dt>Dimensions</dt>
        <dd>A. 3/4" (Board Thickness)</dd>
        <dd>B. 1/4"</dd>
        <dd>C. 1/4"</dd>
        <dd>D. 1/2"</dd>
        <dd>E. 1/8"</dd>
    </dl>
    <p>
        Why would GM go through so much trouble designing the bedwood? Eric Phillips sent me the following information that
        explains this...
    </p>
    <p>
        "The reason for the unusual design is wood movement due to moisture content change. A six inch wide board can easily change width
        cross grain by 1/16" - 1/8" due to seasonal humidity changes. The groove design allows the boards to float without buckling while
        still being firmly held to the steel supports underneath.
    </p>
    <p>
        My GMC fleet side box has 12 boards across ranging from 5" to 7" in width, so the bed may change width by over an inch between dry
        winter storage and humid summer time conditions. For people who are making bedwood as I did, please note: different species of wood
        move different amounts in response to humidity (moisture content) changes. It is important to allow clearance between the hold down
        bolts and the wood so that movement can occur.  If you're working dry wood in a heated shop (shrunk condition) more expansion room
        should be allowed than if you're working air dried wood in the humid part of summer with no heat in the shop (expanded condition).
        Varnish or polyurethane does not prevent this natural wood movement but may slow it down some, so if you don't varnish or seal both
        the upper and lower surfaces of the boards, they will change moisture content faster on the unsealed surface causing cupping of the
        wood. Interestingly, the wood changes little along the grain (lengthwise) so it is not necessary to allow for much change in length.

    </p>
    <p>
        "Bedwood is a project that anyone with a decent table saw can do, and it allows an infinite number of choices for wood material.
        I chose quarter sewn white oak because it is hard, naturally rot resistant, cup resistant (due to quarter sewn orientation) and it's
        quite attractive. The draw backs are it's heavy and expensive. My 12-board bed cost $425.00 for S2S planed, kiln dried stock."
    </p>
</div>
<p>
    Eric A. St. Phillips<br />
    1959 GMC 100, long fleet-side
</p>
<div class="HowToTitle1">Bed Restoration Information</div>
<div class="TitleByLine">Provided by Mike Klepp</div>
<div class="para">
    <p>
        I've restored a few Advance Design beds in the past so I know some of the surprises that await the first time restorer. I'll try to help
        alleviate some of those surprises by including as much information as possible on what I know about the different bed varieties, board
        widths, board thickness, components, parts suppliers and restoration methods.
    </p>
</div>
<center><img width=330 src="http://images.devestechnet.com/Projects/BedWood/OakBed.jpg"></center>

<div class="HowToTitle3">Bed Varieties</div>
<center>
    <table cols=8 width="70%" border=1>
        <caption>
            <center>
                <b><font size=+1>1947-54 CHEVROLET & GMC BED'S</font></b>
        </caption>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <center>Chevy/GMC</center>
                    <center>1/2 Ton Bed Length</center>
                </td>
                <td>
                    <center>Chevrolet Long 1/2 Ton Length</center>
                </td>
                <td>
                    <center>GMC Long</center>
                    <center>1/2 Ton Length</center>
                </td>
                <td>
                    <center>Chevy/GMC</center>
                    <center>3/4 ton Bed</center>
                    <center>Length</center>
                </td>
                <td>
                    <center>Side Rail Design</center>
                </td>
                <td>
                    <center># of wood planks</center>
                </td>
                <td>
                    <center>Wear Strip</center>
                    <center>Bolt Hole</center>
                    <center>Quantity</center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>1947</center>
                </td>
                <td>
                    <center>77"</center>
                </td>
                <td>
                    <center>Not Available</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>Angled</center>
                </td>
                <td>
                    <center>9</center>
                </td>
                <td>
                    <center>7</center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>1948</center>
                </td>
                <td>
                    <center>77"</center>
                </td>
                <td>
                    <center>Not Available</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>"</center>
                </td>
                <td>
                    <center>9</center>
                </td>
                <td>
                    <center>7</center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>1949</center>
                </td>
                <td>
                    <center>77"</center>
                </td>
                <td>
                    <center>Not Available</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>"</center>
                </td>
                <td>
                    <center>9</center>
                </td>
                <td>
                    <center>7</center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>1950</center>
                </td>
                <td>
                    <center>77"</center>
                </td>
                <td>
                    <center>Not Available</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>"</center>
                </td>
                <td>
                    <center>9</center>
                </td>
                <td>
                    <center>7</center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>1951</center>
                </td>
                <td>
                    <center>77"</center>
                </td>
                <td>
                    <center>Not Available</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>"</center>
                </td>
                <td>
                    <center>Early 51 = 9</center>
                    <center>Late 51= 8</center>
                </td>
                <td>
                    <center>7</center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>1952</center>
                </td>
                <td>
                    <center>77"</center>
                </td>
                <td>
                    <center>Not Available</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>"</center>
                </td>
                <td>
                    <center>8</center>
                </td>
                <td>
                    <center>7</center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>1953</center>
                </td>
                <td>
                    <center>77"</center>
                </td>
                <td>
                    <center>Not Available</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>"</center>
                </td>
                <td>
                    <center>8</center>
                </td>
                <td>
                    <center>7</center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>1954</center>
                </td>
                <td>
                    <center>77 1/4"</center>
                </td>
                <td>
                    <center>89"</center>
                </td>
                <td>
                    <center>89 "</center>
                </td>
                <td>
                    <center>85 3/4"</center>
                </td>
                <td>
                    <center>Flat</center>
                </td>
                <td>
                    <center>8</center>
                </td>
                <td>
                    <center>8</center>
                </td>
            </tr>
        </tbody>
    </table>
    </center><br />
    Chevrolet and GMC 1/2 ton beds starting in 1947-'53 had the following dimension:
    <ul>
        <li>Depth x Width x Length = 15" x 50" x 77"</li>
    </ul>
    Chevrolet and GMC 3/4 ton beds starting in 1947-'53 had the following dimension:
    <ul>
        <li>Depth x Width x Length = 15" x 50" x 85 3/4"</li>
    </ul>
    In 1954 Chevrolet reduced the frame kick-up to allow for an increase in bed depth of 2". The bed dimensions changed to:
    <ul>
        <li>Depth x Width x Length = 17" x 50" x 77 1/4" for the 1/2 ton</li>
        <li>Depth x Width x Length = 17" x 50" x 89" for the 3/4 ton</li>
    </ul>
    <h2><b><font size=+1><center>GMC'S LONG 1/2 TON</center></font></b></h2>
    <p>
        GMC Corporation had all the similar bed configuration as Chevrolet but due to it's stronger engines with full
        flow oiling, it was able to offer the long 1/2 ton truck as an option to its buyers well before 1954. The long 1/2 ton
        incorporated an extended frame to support the lengthened box on the 1/2 ton chassis. This lengthened box was only available
        on the Chevrolet 3/4 ton chassis.<br /><br />

        The long 1/2 ton can be distinguished from the 3/4 ton by the quantity of lug nut on the rear end. If the rear end has 6
        lugs then its a long 1/2 ton but if it has 8 lugs then its a 3/4 ton.
    </p>
    <hr>
    <h2><b><font size=+1><center>Board Widths</center></font></b></h2>
</div>

    <div class="para">
        <p>
            If you would rather cut your own boards for your bed then ordering up a kit your going to need to know how many boards you'll
            need and their dimensions. From the chart above you can see that the 1947 to early 1951 trucks had 9 boards making up the bed.
            The late 1951 to 1954 used 8 boards.
        </p>
        <p>
            The boards width depended on what position they were placed on the bed end cross sills. You can kind of get an idea of the bed
            wood width and for that matter a clue to the beds year "if the bed happened to have been changed at one time" by counting the
            wear strips in the bed or if their missing the holes for the wear strips in the front or rear cross sills. If their are 8 holes
            in the sill then the bed is from a 1947- Early 1951 series. If their are only 7 holes in the sill then the bed is from the Late
            1951-54 series.
        <p>
    </div>
    <center>
        The tables below show the width of each board and its relative position.
    </center>
    <center>
        <table width="70%" border=1>
            <tbody>
                <tr>
                    <td align=middle colspan=9>
                        <b>1947 to Early 1951</b><br><b>9 Boards</b>
                    </td>
                </tr>
                <tr>
                    <td align=middle width="11%">4 1/4"</td>
                    <td align=middle width="11%">5"</td>
                    <td align=middle width="11%">5 1/2"</td>
                    <td align=middle width="11%">5 1/2"</td>
                    <td align=middle width="11%">6 3/8"</td>
                    <td align=middle width="11%">5 1/2"</td>
                    <td align=middle width="11%">5 1/2"</td>
                    <td align=middle width="11%">5"</td>
                    <td align=middle width="11%">4 1/4"</td>
                </tr>
            </tbody>
        </table>
    </center>
    <center>
        <table width="70%" border=1>
            <tbody>
                <tr>
                    <td align=middle colspan=8>
                        <b>Late 1951 to 1954</b>with<br><b>8 Boards</b>
                    </td>
                </tr>
                <tr>
                    <td align=middle width="12%">4 1/4"</td>
                    <td align=middle width="12%">7 1/4"</td>
                    <td align=middle width="12%">5"</td>
                    <td align=middle width="12%">7 1/4"</td>
                    <td align=middle width="12%">7 1/4"</td>
                    <td align=middle width="12%">5"</td>
                    <td align=middle width="12%">7 1/4"</td>
                    <td align=middle width="12%">4 1/4"</td>
                </tr>
            </tbody>
        </table>
    </center>
    <br><hr>
    <div class="para">
        <h2><b><font size=+1><center>Wood Thickness</center></font></b></h2>
        <p>
            The original boards final thickness is 3/4". This can be confirmed by measuring the step in the back #4 cross sill by the
            tailgate. This step allows the wood to fit even with the rear cross sill for ease of cleaning out the bed or shoveling out gravel
            without hitting a ledge when the tailgate is down.
        </p>
        </div>
     <br><hr>
<div class="para">
    <h2><b><font size=+1><center>Bed Wood Special Milling Features</center></font></b></h2>
    <p>
        The bed wood has a few special milling steps added to it for extended life and service.
    </p>
    <p>
        The edges of each board "except the outer most edges of the two outer bed boards" are milled with a special groove which allowed
        the:
    </p>
    <ul>
        <li>
            board to expand and contract due to climate changes without bending or cracking.
        </li>
        <li>
            metal wear strips to ride on the wood and be slightly higher  then the wood to reduce the likely hood of material coming
            in direct contact with the wood and increasing wear.
        </li>
    </ul>
    <center>
        <img height=268 src="http://images.devestechnet.com/Projects/BedWood/wearstrp1.jpg" width=330>
    </center>
</div>
<br /><hr>
<div class="para">
    <h2><b><font size=+1><center>Bed Cross Sills</center></font></b></h2>
    <div class="para">
        <p>
            Probably one of the most misunderstood and often just plain missing parts on the bed assembly are the cross sills. It's no wonder
            because by the time you purchase the truck usually the original wood has long since disappeared and often times with one or two
            of the cross sills.
        </p>
    </div>
    <p>
        <center>
            <b>The number of bed cross sills depends on the year of the truck and it's model.</b>
        </center>
    <p>
        </div>
        <center>
            <table cols=4 width="70%" border=1>
                <caption>
                    <center><b><font size=+1>CHEVROLET & GMC BED'S CROSS SILL'S</font></b></center>
                </caption>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <center><b>Chevy/GMC</b></center>
                            <center><b>1/2 Ton Bed Length</b></center>
                        </td>
                        <td>
                            <center><b>GMC Long</b></center>
                            <center><b>1/2 Ton Length</b></center>
                        </td>
                        <td>
                            <center><b>Chevy/GMC</b></center>
                            <center><b>3/4 ton Bed</b></center>
                            <center><b>Length</b></center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><b>1947-1948</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><b>1949-55 1st Series</b></center>
                        </td>
                        <td>
                            <center><b>4</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><b>1950</b></center>
                        </td>
                        <td>
                            <center><b>4</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><b>1951</b></center>
                        </td>
                        <td>
                            <center><b>4</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><b>1952</b></center>
                        </td>
                        <td>
                            <center><b>4</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><b>1953</b></center>
                        </td>
                        <td>
                            <center><b>4</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><b>1954</b></center>
                        </td>
                        <td>
                            <center><b>4</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                        <td>
                            <center><b>5</b></center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    <p>
   <br /><hr />
        <b><font size=+1>The 1/2 Ton Beds from 1947-48 have five bed cross sills:</font></b>
        <ul>
            <li>one attached to the front bed panel</li>
            <li>two just before the frame kick up</li>
            <li>one behind the frame kick up</li>
            <li>one at the rear which contains the pads to bolt the bed to the frame and hold the rear of the bed together.</li>
        </ul>
        The cross sills above the gas tank were manufactured with a recess to allow the gas tank to sit higher up next to the bed
        for ground clearance.<br /><br />
    </p>
    <center>
        <img height=240 src="http://images.devestechnet.com/Projects/BedWood/frontbraces1a.jpg">
        <img height=240 src="http://images.devestechnet.com/Projects/BedWood/rearview1a.jpg">
    </center>
    <center>
        <u>
            <br />Photo's Courtesy of Mike Klepp who's restoring a 1948 Chevrolet 3100
        </u>
    </center>
    <p>
        <b>
            <font size=+1>The 1/2 Ton Beds from 1949-54 1 St. Series has four bed cross sills:</font>
        </b>
        <ul>
            <li>one attached to the front bed panel</li>
            <li>one just before the frame kick up</li>
            <li>one behind the frame kick up</li>
            <li>one at the rear which contains the pads to bolt the bed to the frame and hold the rear of the bed together.</li>
        </ul>
        <b><font size=+1>The long 1/2 tons and the 3/4 tons all had five cross sills:</font></b>
        <ul>
            <li>one attached to the front bed panel</li>
            <li>one just before the frame kick up</li>
            <li>two behind the frame kick up</li>
            <li>one at the rear which contains the pads to bolt the bed to the frame and hold the rear of the bed together.</li>
        </ul>
        <hr width="100%" size=8>
        <h2><b><font size=+1><center>Bed Installation and Wood Spacer Blocks</center></font></b></h2>
        <div class="para">
    <p>
        The installation of the bed to the truck frame requires the installation of wooden block spaces under certain cross sill braces to
        level the bed on the Advance Design frame. The spacers are required to raise the bed floor higher to clear the frame kick up at the
        axle centerline for rear end axle travel. The cross sills must therefore be placed in the correct position in relation to the
        frame for correct bed support.
    </p>
    <center><b>FIRST CROSS SILL:</center></b>
    <p>
        Probably the easiest of all the cross sills to install because it's bolted to the front bed panel. This cross sill is also drilled
        for the front bed to frame mounting bolts to pass through. This cross sill requires a 2" wood spacer and a 12 inch long 3/8 carriage
        bolt to pass all the way through the frame and tighten to the lower edge of the frame. The 1947-53 requires the 12" bolt while the
        1954-55 1st Series only requires the 6" bolt.
    </p>
    <center><b>SECOND CROSS SILL:</center></b>
    <p>
        This cross sill only bolts to the lower side of the wood and not the frame. The cross sill adds support to the wood to avoid cupping.
        It's bolted just in front of the frame kick up and when installed will be just above the frame by 1/2" or so and only contacts the
        frame when a heavy load is encountered.
    </p>
    <center><font size=+1>***** The 1947-48 trucks will have the additional cross sill before the frame kick up *****</font></center>
    <center><b>THIRD CROSS SILL:</center></b>
    <p>
        This cross sill installs like #1 described above with a 2" wooden block and secured with a carriage bolt which ends just below the
        top frame edge. This sill is located just behind the frame kick up and it's placement can be easily determined by locating the frame
        hole behind the kick up which is where the carriage hold down bolt will pass through.
    </p>
    <center><font size=+1>***** The 3/4 ton trucks will have the additional cross sill behind the frame kick up *****</font></center>
    <p>
        This cross sill is basically the back section of the bed that holds the sides together. The rear sill has a metal pad welded
        to the cross sill so no wooden block is required to level the bed, only a rubber vibration pad to eliminate squeaks.
    <p>
        <center><b>SPECIAL NOTES</center></b>
        <ul>
            <li>
                All bolts that secure the bed to the frame will require the special shaped bed washer to keep the bolt from turning when
                tightening.
            </li>
        </ul>
        <ul>
            <li>The bed washer is countersunk into the wood for a flush fit.</li>
        </ul>
        <ul>
            <li>
                The 1954 cross sills are taller then the 1947-53 cross sills due to the change in frame design and the elimination of the
                bed wood spacers.
            </li>
        </ul>
        <hr width="100%" size=10>
        <h2><b><font size=+1><center>Material Suppliers</center></font></b></h2>
    <p>
        Practically all the major parts suppliers will carry bed wood kits to complete your project. Review the parts supplier page to
        find a vendor in your area.
    </p>
</div>
