@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AD Cab Specific Information";
    ViewBag.Message = "Complete AD Cab Information";
}
<div class="HowToTitle1">The Cab That Breathes, Advance Design Cab Information</div><br />
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
</aside><br />
<div class="aside1main">
    <a href="~http://images.devestechnet.com/Restorations/1950B/D50b01052lg.jpg">
        <img class="PicsLeft" img src="~http://images.devestechnet.com/Restorations/1950B//D50b01052sm.jpg">
    </a>
    <p>
        <b>
            Once again, Thanks to Brad Allen for preserving these amazing slides. Here is what you can look forward to....<br /><br />
            1) 1947 - The Cab That Breathes<br />
            2) 1948 - Servicing Truck Cabs<br />
            3) 1950 - Light Duty Truck Comparison<br />
            4) 1952 - OK Reconditioning Series Body & Paint<br /><br />

            As always, I could use some modern day help in writing procedures for the associated systems of this subject. Please volunteer! Your
            expertise will be appreciated by a world wide audience!
        </b>
    </p>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <center>
            <div class="HomeTitle1">SlideShow One and Two</div>
                <div class="creditsfront">SLIDES COURTESY OF BRAD ALLEN</div>
                <div class="slideshowcontainerz">
                    <input type="hidden" id="slideShowGo" value="true" />
                    <input type="hidden" id="slideShowImgId" value="1" />
                    <input type="hidden" id="MethodName" value="GetImagesFromOneCabDirectory" />
                    <div class="centerdangit">
                        <img id="slideShow" src="http://images.devestechnet.com/OtherSlideShows/OneCabJam/0001lg.jpg" />
                        <img id="ajaxLoad" src="http://images.devestechnet.com/Loading.gif" width="128" height="128">
                        <button class="btn btn-primary btn-xs" id="prev" type="button">&laquo;</button>
                        <button class="btn btn-primary btn-xs" id="stopTheShow" type="button">StartMeUp!</button>
                        <button class="btn btn-primary btn-xs" id="useMain">1947</button>
                        <button class="btn btn-primary btn-xs" id="useOther">1948</button>
                        <button class="btn btn-primary btn-xs" id="next" type="button">&raquo;</button>
                    </div>
                </div>
          </center><br /><br /><br />
    </div>
    <div class="col-md-6">
        <center>
            <div class="HomeTitle1">SlideShow Three and Four</div>
            <div class="creditsfront">SLIDES COURTESY OF BRAD ALLEN</div>
            <div class="slideshowcontainerz">
                <input type="hidden" id="slideShowGoa" value="true" />
                <input type="hidden" id="slideShowImgIda" value="1" />
                <input type="hidden" id="MethodNamea" value="GetImagesFromTwoCabDirectory" />
                <div class="centerdangit">
                    <img id="slideShowa" src="http://images.devestechnet.com/OtherSlideShows/TwoCabJam/0001lg.jpg" />
                    <img id="ajaxLoada" src="http://images.devestechnet.com/Loading.gif" width="128" height="128">

                    <button class="btn btn-primary btn-xs" id="preva" type="button">&laquo;</button>
                    <button class="btn btn-primary btn-xs" id="stopTheShowa" type="button">StartMeUp!</button>
                    <button class="btn btn-primary btn-xs" id="useMaina">1950</button>
                    <button class="btn btn-primary btn-xs" id="useOthera">1952</button>
                    <button class="btn btn-primary btn-xs" id="nexta" type="button">&raquo;</button>
                </div>
            </div>
        </center>
    </div>
</div>
<div class="HowToTitle1">Present Day Associated Pics...</div>
<div class="aside1mainx">
    <span class="restopics">
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01000lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01000sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01001lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01001sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01002lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01002sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01003lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01003sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01004lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01004sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01005lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01005sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01006lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01006sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01007lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01007sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01008lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01008sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01009lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01009sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01010lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01010sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01011lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01011sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01012lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01012sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01013lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01013sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01014lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01014sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01015lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01015sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01016lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01016sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01017lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01017sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01018lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01018sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01019lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01019sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01020lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01020sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01021lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01021sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01022lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01022sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01023lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01023sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01024lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01024sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01025lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01025sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01026lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01026sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01027lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01027sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01028lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01028sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01029lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01029sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01030lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01030sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01031lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01031sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01032lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01032sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01033lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01033sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01034lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01034sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01035lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01035sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01036lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01036sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01037lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01037sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01038lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01038sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01039lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01039sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01040lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01040sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01041lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01041sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01042lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01042sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01043lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01043sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01044lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01044sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01045lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01045sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01046lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01046sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01047lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01047sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01048lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01048sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01049lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01049sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01050lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01050sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01051lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01051sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01052lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01052sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01053lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01053sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01054lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01054sm.jpg" width="200"></a>
        <a href="http://images.devestechnet.com/Restorations/1950B/D50b01055lg.jpg"><img src="http://images.devestechnet.com/Restorations/1950B/D50b01055sm.jpg" width="200"></a>
    </span>
</div>
@section scripts {
<script type="text/javascript" src="/Scripts/TwoCab.js"></script>
<script type="text/javascript" src="/Scripts/OneCab.js"></script>
}