@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Old Style Air Cannister/New Style Carb!";
    ViewBag.Message = "New Style Carb Adapter";
}
<div class="HowToTitle2">Mounting your original Air Filter Cannister to a Newer Style Carb!</div><br />
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
</aside>

<a href="http://images.devestechnet.com/Projects/Project1959235/Project59235173lg.jpg">
    <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235173sm.jpg">
</a>
<a href="http://images.devestechnet.com/Projects/Project1959235/Project59235152lg.jpg">
    <img class="PicsRight" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235152sm.jpg">
</a>
<p>
    The preferred engine to replace the old one in your AD Era Truck is the 54-62 235/261 Engine. Problem is, if you want to use or old Air Filter
    Cannister, we need to make an adapter. The older style Rochester B Carbs had a smooth neck that you can place the older era Air Filter assemblies
    on by tightening a clamp around the throat. The newer style Rochester B Carbs have a center bar across the throat with a threaded nut. Since
    the older Air Filter units are not compatible with this new style, we have a choice. We can go with a newer style Air Filter Assembly, or we can
    adapt the carburetor to allow the use of the old style filter assembly. Your decision will have to do with what you are putting this engine IN.
    If you are putting it in a 47-55 truck, you want to use an Air Filter unit that was made for those years. I believe in choices, so the first
    thing we will do is to document how to make that adapter. The newer style throat is 2-5/8" while the older one is only 2-3/8". This does not
    mean the newer style throat sucks in more air because of the bridge across the throat for the attachment of the air filter unit, they are about
    the same. Left and right is the same carb with the mod mounted on the right.
</p>
<a href="http://images.devestechnet.com/Projects/Project1959235/Project59235171lg.jpg">
    <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235171sm.jpg">
</a>
<a href="http://images.devestechnet.com/Projects/Project1959235/Project59235166lg.jpg">
    <img class="PicsRight" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235166sm.jpg">
</a>
<p>
    <b>To modify the Carb for an older style filter,</b> go to your local muffler shop and get two sizes of steel exhaust tubing. You will
    need 2-3/4" O.D. (2-5/8" I.D.") and 2-1/2" O.D. (2-3/8" I.D.). I just got 12 inches of each size so I could make a few extra ones. The
    overall height of this unit when its over will be 1-1/4", so we don't need very much tubing for this. Cut a piece of the 2-3/4", 5/8"
    high. Cut a piece of the 2-1/2", also 5/8" high. Slice the 2-1/2" one in half down the seam. Using your Air Filter Assembly, resize the
    smaller one to fit snugly inside with the adjustment bolt turned about halfway out. This should be very close to 2-3/8". Make a mark on
    this sleeve and after cutting to size, weld it closed again. With two rings that are correct, we need to make a washer that will fill
    in the 1/4" gap completely.
    </p>
<p>
    We want this washer to fit exactly inside the larger ring (so 2-5/8" O.D.) and exactly on top of the smaller
    one (so 2-1/4" I.D.). This strategy gives the larger ring the proper height and the small one too. Now with some strategic welding we
    can do this so that it functions perfectly. Start with the large ring and place the washer inside level with the lip, then weld it on
    the outside only. Get good penetration so that after you are done grinding all of the weld back off level, it is still very secure. Once
    you are done grinding it back smooth again, turn it upside down placing the smaller ring on the table, but in the center of the larger
    ring. This makes it easier to get the MIG wand in the correct position for welding just inside the hole. Again good penetration is
    essential because all of that weld will be ground back smooth too. Weld it slowly and use proper welding procedures to avoid warping.
</p>
<a href="http://images.devestechnet.com/Projects/Project1959235/Project59235165lg.jpg">
    <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235165sm.jpg">
</a>
<a href="http://images.devestechnet.com/Projects/Project1959235/Project59235163lg.jpg">
    <img class="PicsRight" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235163sm.jpg">
</a>
<a href="http://images.devestechnet.com/Projects/Project1959235/Project59235156lg.jpg">
    <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235156sm.jpg">
</a>
<a href="http://images.devestechnet.com/Projects/Project1959235/Project59235153lg.jpg">
    <img class="PicsRight" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235153sm.jpg">
</a>
<p>
    Test fit the unit to make sure it fits properly. If the larger one will not fit over the carb but just barely, grind out the seam and
    it should fit perfectly. Once you have a good test fit, we need to make sure this thing doesn't come off the engine. To make SURE this
    won't happen, we need to weld a 1/4" nut near the bottom and exactly where the thicker part of the carb flange is located on both sides.
    Mark as in the center of the meatiest part of the throat and 3/16" up on both sides about where the old mounting bridge is located, then place
    the nut where you want to weld it, and then FILL the 1/4" hole as if using it for a spot weld. Fill it with weld so we can re-drill for a #10
    Allen style set screw.
</p>
<p>
    Once it's cool, mark the center of it for drilling and center punch it. Mark 3/16" from the bottom in the center of the
    nut. This should place the hole exactly where we want it. Drill using a #21 bit used for a #10-32 tap. Tap and place the unit on top of the
    carb in the correct location. Mark through the hole a mark on the carb. Using a 1/8" drill bit, put a shallow dimple (less than a 1/16") to
    allow the setscrew to protrude just a little bit inside the carb. Install the setscrew using LocTite. Now we can use these newer style carbs
    with an older vintage filter assembly or a newer one. The choice is now yours!
</p>
<a href="http://images.devestechnet.com/Projects/Project1959235/Project59235215lg.jpg">
    <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235215sm.jpg">
</a>
<b>NOTE:</b> The above modification is very solid and with loctite on those Allen setscrews, it will provide you with years of service. This mod
    was very difficult for me because of my lack of sophisticated machinery. It's not any big deal to slice through some exhaust pipe, but it IS
    pretty difficult to make your own 2-5/8" OD, 2-1/4" ID washers. All I had to do it was a 2 inch hole saw! So, cut the holes, trace around the INSIDE
    of the larger ring, then use a PortaBand to cut a round circle. Then, use a 3 inch air rasp to whittle away the 1/4" that your hole saw didn't get.
    I am all for getting the right tool for the job, but I haven't found an economic way of making washers that size. <b>Also, importantly,</b> I removed the
    bridge on the Carb that allows for the newer style filter. I drilled out the pin that holds it in, and removed the whole assembly. This is to allow
    for better air flow.

