@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GM Casting Numbers";
    ViewBag.Message = "GM Casting Number Information";
}
<div class="HowToTitle1">GM Engine Casting Numbers</div>
<div class="tablecont">
    <div class="tbltitleal">
        <div class="cnnumber">Number</div>
        <div class="cnmake">Make</div>
        <div class="cnyear">Year</div>
        <div class="cncid">CID</div>
    </div>
    <div class="cnnumber">4001133</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">76-80</div>
    <div class="cncid">292</div><div class="cnnumber">1970</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">64-67</div>
    <div class="cncid">292</div><div class="cnnumber">2135412</div>
    <div class="cnmake">GMC</div>
    <div class="cnyear">46-54</div>
    <div class="cncid">248, 270</div><div class="cnnumber">2193980</div>
    <div class="cnmake">GMC</div>
    <div class="cnyear">52-54</div>
    <div class="cncid">302</div><div class="cnnumber">2324003</div>
    <div class="cnmake">GMC</div>
    <div class="cnyear">55-63</div>
    <div class="cncid">270</div><div class="cnnumber">2324004</div>
    <div class="cnmake">GMC</div>
    <div class="cnyear">55-62</div>
    <div class="cncid">302</div><div class="cnnumber">2404929</div>
    <div class="cnmake">GMC</div>
    <div class="cnyear">55-63</div>
    <div class="cncid">270</div><div class="cnnumber">2192402</div>
    <div class="cnmake">GMC</div>
    <div class="cnyear">Military</div>
    <div class="cncid">302</div><div class="cnnumber">289890</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-77</div>
    <div class="cncid">292</div><div class="cnnumber">328518</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">73-77</div>
    <div class="cncid">292</div><div class="cnnumber">328572</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">73-76</div>
    <div class="cncid">250</div><div class="cnnumber">328575</div>
    <div class="cnmake">Chevy/Buick/Olds/Pontiac</div>
    <div class="cnyear">68-84</div>
    <div class="cncid">250</div><div class="cnnumber">328576</div>
    <div class="cnmake">Chevy/Buick/Pontiac</div>
    <div class="cnyear">68-76</div>
    <div class="cncid">250</div><div class="cnnumber">328578</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">73-84</div>
    <div class="cncid">292</div><div class="cnnumber">328880</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-77</div>
    <div class="cncid">292</div><div class="cnnumber">239990</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-77</div>
    <div class="cncid">292</div><div class="cnnumber">352194</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">73-84</div>
    <div class="cncid">292</div><div class="cnnumber">358825</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">66-76</div>
    <div class="cncid">250</div><div class="cnnumber">3629703</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">50-52</div>
    <div class="cncid">235</div><div class="cnnumber">364909</div>
    <div class="cnmake">Chevrolet/Olds</div>
    <div class="cnyear">75-79</div>
    <div class="cncid">292</div><div class="cnnumber">366855</div>
    <div class="cnmake">Chevy/Buick/Olds/Pontiac</div>
    <div class="cnyear">66-84</div>
    <div class="cncid">250</div><div class="cnnumber">3692703</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">50-52</div>
    <div class="cncid">235</div><div class="cnnumber">3692708</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">50-52</div>
    <div class="cncid">235</div><div class="cnnumber">3692713</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">50-52</div>
    <div class="cncid">235</div><div class="cnnumber">3693374</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-49</div>
    <div class="cncid">235</div><div class="cnnumber">37001481</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">53-55</div>
    <div class="cncid">235</div><div class="cnnumber">3701946</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">53</div>
    <div class="cncid">235</div><div class="cnnumber">3703414</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">54-56</div>
    <div class="cncid">261</div><div class="cnnumber">37127</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">73-76</div>
    <div class="cncid">250</div><div class="cnnumber">3733340</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-57</div>
    <div class="cncid">261</div><div class="cnnumber">3733813</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">58</div>
    <div class="cncid">261</div><div class="cnnumber">3733946</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">54-55</div>
    <div class="cncid">235</div><div class="cnnumber">3733949</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">53-55</div>
    <div class="cncid">235</div><div class="cnnumber">3733950</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">54-55</div>
    <div class="cncid">261</div><div class="cnnumber">3737012</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-57</div>
    <div class="cncid">261</div><div class="cnnumber">3738307</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">58-62</div>
    <div class="cncid">235</div><div class="cnnumber">3738365</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">60-62</div>
    <div class="cncid">261</div><div class="cnnumber">3738476</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">58-62</div>
    <div class="cncid">235</div><div class="cnnumber">3738813</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-63</div>
    <div class="cncid">261</div><div class="cnnumber">3739365</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">58-62</div>
    <div class="cncid">261</div><div class="cnnumber">3739716</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">58-62</div>
    <div class="cncid">235</div><div class="cnnumber">3759365</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">59</div>
    <div class="cncid">261</div><div class="cnnumber">3764476</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">58-62</div>
    <div class="cncid">235</div><div class="cnnumber">3769716</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">58-62</div>
    <div class="cncid">235</div><div class="cnnumber">3769717</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">59-62</div>
    <div class="cncid">261</div><div class="cnnumber">3769925</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">58-62</div>
    <div class="cncid">261</div><div class="cnnumber">377127</div>
    <div class="cnmake">Chevrolet/Olds/Pontiac</div>
    <div class="cnyear">73-79</div>
    <div class="cncid">250</div><div class="cnnumber">377129</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">73-84</div>
    <div class="cncid">292</div><div class="cnnumber">3773949</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">54</div>
    <div class="cncid">235</div><div class="cnnumber">3777178</div>
    <div class="cnmake">Buick</div>
    <div class="cnyear">68-76</div>
    <div class="cncid">250</div><div class="cnnumber">3782856</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">62-67</div>
    <div class="cncid">194</div><div class="cnnumber">3782858</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">62-67</div>
    <div class="cncid">194</div><div class="cnnumber">378307</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">60-62</div>
    <div class="cncid">235</div><div class="cnnumber">3783949</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">53-54</div>
    <div class="cncid">235</div><div class="cnnumber">3788378</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">62-74</div>
    <div class="cncid">292</div><div class="cnnumber">3788406</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">62-69</div>
    <div class="cncid">230</div><div class="cnnumber">3788514</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">62-70</div>
    <div class="cncid">153</div><div class="cnnumber">3788813</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-59</div>
    <div class="cncid">261</div><div class="cnnumber">3789404</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-76</div>
    <div class="cncid">292</div><div class="cnnumber">3789412</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-66</div>
    <div class="cncid">292</div><div class="cnnumber">3789716</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-72</div>
    <div class="cncid">292</div><div class="cnnumber">3792852</div>
    <div class="cnmake">GMC</div>
    <div class="cnyear">62-66</div>
    <div class="cncid">194</div><div class="cnnumber">3792858</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">62-67</div>
    <div class="cncid">194</div><div class="cnnumber">3821970</div>
    <div class="cnmake">GMC</div>
    <div class="cnyear">67-72</div>
    <div class="cncid">292</div><div class="cnnumber">3833057</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">62-70</div>
    <div class="cncid">194</div><div class="cnnumber">3833067</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-70</div>
    <div class="cncid">194</div><div class="cnnumber">3833340</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-57</div>
    <div class="cncid">261</div><div class="cnnumber">383340</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-57</div>
    <div class="cncid">261</div><div class="cnnumber">3835253</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-53</div>
    <div class="cncid">216</div><div class="cnnumber">3835309</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-49</div>
    <div class="cncid">235</div><div class="cnnumber">3835335</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-49</div>
    <div class="cncid">235</div><div class="cnnumber">3835353</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">48-52</div>
    <div class="cncid">216</div><div class="cnnumber">3835363</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">54</div>
    <div class="cncid">235</div><div class="cnnumber">3835374</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-49</div>
    <div class="cncid">235</div><div class="cnnumber">3835491</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">54</div>
    <div class="cncid">235</div><div class="cnnumber">3835497</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-53</div>
    <div class="cncid">216</div><div class="cnnumber">3835527</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">51</div>
    <div class="cncid">216</div><div class="cnnumber">3835692</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">50-52</div>
    <div class="cncid">235</div><div class="cnnumber">3835794</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-53</div>
    <div class="cncid">216</div><div class="cnnumber">3835846</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">53</div>
    <div class="cncid">235</div><div class="cnnumber">3835849</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-53</div>
    <div class="cncid">216</div><div class="cnnumber">3835894</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">53</div>
    <div class="cncid">216</div><div class="cnnumber">3835911</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">53-55</div>
    <div class="cncid">235</div><div class="cnnumber">3835917</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">54-55</div>
    <div class="cncid">235</div><div class="cnnumber">3835946</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">53</div>
    <div class="cncid">235</div><div class="cnnumber">3835949</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">54</div>
    <div class="cncid">235</div><div class="cnnumber">3836012</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-57</div>
    <div class="cncid">261</div><div class="cnnumber">3836223</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-57</div>
    <div class="cncid">235</div><div class="cnnumber">3836233</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-57</div>
    <div class="cncid">235</div><div class="cnnumber">3836340</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-58</div>
    <div class="cncid">261</div><div class="cnnumber">3836386</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-57</div>
    <div class="cncid">235</div><div class="cnnumber">3837004</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-57</div>
    <div class="cncid">235-261</div><div class="cnnumber">3837012</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55-57</div>
    <div class="cncid">261</div><div class="cnnumber">3843363</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">53-55</div>
    <div class="cncid">235</div><div class="cnnumber">3850817</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">62-78</div>
    <div class="cncid">230-250</div><div class="cnnumber">3851656</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-72</div>
    <div class="cncid">292</div><div class="cnnumber">3851659</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-76</div>
    <div class="cncid">292</div><div class="cnnumber">3851859</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-72</div>
    <div class="cncid">292</div><div class="cnnumber">3854036</div>
    <div class="cnmake">Chevrolet/Olds/Pontiac</div>
    <div class="cnyear">62-76</div>
    <div class="cncid">230-250</div><div class="cnnumber">3855914</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-66</div>
    <div class="cncid">292</div><div class="cnnumber">3855987</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-71</div>
    <div class="cncid">292</div><div class="cnnumber">3855991</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-70</div>
    <div class="cncid">230</div><div class="cnnumber">3856233</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">55</div>
    <div class="cncid">235</div><div class="cnnumber">3858190</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">54-55</div>
    <div class="cncid">235</div><div class="cnnumber">386855</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">74-77</div>
    <div class="cncid">250</div><div class="cnnumber">3877178</div>
    <div class="cnmake">Chevy/Buick/Olds/Pontiac/GMC</div>
    <div class="cnyear">62-78</div>
    <div class="cncid">230-250</div><div class="cnnumber">3879875</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">62-70</div>
    <div class="cncid">194</div><div class="cnnumber">3886061</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-66</div>
    <div class="cncid">292</div><div class="cnnumber">3890011</div>
    <div class="cnmake">Chevy/Buick/Olds/Pontiac</div>
    <div class="cnyear">68-72</div>
    <div class="cncid">250</div><div class="cnnumber">3890013</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">68-72</div>
    <div class="cncid">250</div><div class="cnnumber">3892858</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">64-67</div>
    <div class="cncid">194</div><div class="cnnumber">389770</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-51</div>
    <div class="cncid">216</div><div class="cnnumber">3897702</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-53</div>
    <div class="cncid">216</div><div class="cnnumber">3921770</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">66-76</div>
    <div class="cncid">292</div><div class="cnnumber">3921967</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">64-69</div>
    <div class="cncid">230</div><div class="cnnumber">3921968</div>
    <div class="cnmake">Chevrolet/Olds</div>
    <div class="cnyear">64-76</div>
    <div class="cncid">230-250</div><div class="cnnumber">3921970</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">63-76</div>
    <div class="cncid">292</div><div class="cnnumber">828575</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">72-77</div>
    <div class="cncid">250</div><div class="cnnumber">837751</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-49</div>
    <div class="cncid">235</div><div class="cnnumber">839770</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-53</div>
    <div class="cncid">216</div><div class="cnnumber">8397715</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-49</div>
    <div class="cncid">235</div><div class="cnnumber">839910</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-51</div>
    <div class="cncid">216</div><div class="cnnumber">839931</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">42-49</div>
    <div class="cncid">235</div><div class="cnnumber">8994256</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">64-77</div>
    <div class="cncid">292</div><div class="cnnumber">93403466</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">75-83</div>
    <div class="cncid">250</div><div class="cnnumber">93403467</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">75-84</div>
    <div class="cncid">292</div><div class="cnnumber">93406004</div>
    <div class="cnmake">Chevrolet</div>
    <div class="cnyear">75-84</div>
    <div class="cncid">292</div><div class="cnnumber">9787437</div>
    <div class="cnmake">Pontiac</div>
    <div class="cnyear">66-67</div>
    <div class="cncid">230</div><div class="cnnumber">9790043</div>
    <div class="cnmake">Pontiac</div>
    <div class="cnyear">68-69</div>
    <div class="cncid">250</div><div class="cnnumber">9795066</div>
    <div class="cnmake">Pontiac</div>
    <div class="cnyear">68-69</div>
    <div class="cncid">250</div><div class="cnnumber">9890043</div>
    <div class="cnmake">Pontiac</div>
    <div class="cnyear">68-69</div>
    <div class="cncid">250</div>
</div>
