@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact Info for DevesTechNet.com";
    ViewBag.Message = "Give Us Your Feedback!";
}
<h2>@ViewBag.Title</h2>
<address>
    Deve Krehbiel<br />
    P.O. Box 676<br />
    Hesston, KS 67062-0676<br />
    Phone: 620.327.4107<br />
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:deve@speedprint.com">deve@speedprint.com</a>
</address>
<div class="TextProp1">
    <h2>About devestechnet.com...</h2>
    <p>
        This site was coded using Microsoft's Visual Studio Community 2013 using the MVC Model. To do this, I had to learn C# programming
        language as well as some JavaScript before ever getting to HTML5 and CSS3 languages which are essential as well. I am not
        very good at any of this, but I do what I have to in order to make a website for all of us to enjoy. Have you seen prices for just basic
        websites lately?
    </p>
    <p>
        The really major reason I wanted to do it myself was not only to learn this stuff, but also to have total control of what advertisements end up
        on my site. There are none and hopefully never will be. Did you know if you outsourced your on-site search routine to Google that it
        is the source for the ads people are whining about? Yeah, NO. So, although this has been a journey that I went into feeling nervous about,
        I can say it's worth it to just start learning on your own. Microsoft has lots of tutorials and there are many more sources for
        learning material. I can't thank my son Kasey enough for giving me some direction to follow, mainly telling me about VS2013. It doesn't
        get any more solid than this! Then there is my oldest son Kelly, who without his amazing expertise in graphic design, this website just
        wouldn't have the impact that it does now. If you ever need graphics for something, check out <a href="http://Krehbiel.co">Krehbiel.co.</a>
    </p>
    <p>
        This is a completely non-profit endeavor. It is not my goal to make money from this site, rather to have it mostly pay for itself through the
        sales of unique products and the kindness of others. The idea is to share resources and have a central gathering place to do that. A lot of the
        projects we undertake here require laying out cash for research and development. The funds from the sales of our finished products are turned around
        and put into the next project. Meanwhile, the cost for the VBulletin Forum software was $250 one time, and then the monthly recurring costs for
        everything involved with unlimited bandwidth and unlimited hard drive space on the servers is about $20 a month. My hope is that you feel the research
        and development, shop time, many hours updating the site, etc. is priceless. It is something I felt I needed to do. If you wish to donate, click on
        the PayPal button below. Thanks for stopping by and hopefully I won't be sitting in front of the computer, rather out in the shop welding or something!
    </p>
</div><br />
<center>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="RLNFLC97MDLZ8">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</center>
    Thanks again!<br /><br />
    Deve Krehbiel<br />
    Admin: devestechnet.com<br />
    and... forums.devestechnet.com<br /><br /><br />
