@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Deve's Historical Archive";
    ViewBag.Message = "Yesterday, Seems so Faraway!";
}
<div class="HowToTitle1"> Deve's Historical Archive</div>
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
</aside><br />
<div class="centerit">
    <a href="/Home/Project1954235" class="btn btn-primary btn-sm">1954 235 Restoration&raquo;</a>
</div>
<div class="para1">
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/my54lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/my54sm.jpg">
        </a>
        <p>
            December, 1978, Biloxi, Mississippi, Keesler AFB Technical Training. We marched to school every morning, and marched back, so
            no real need for a vehicle during the day, but after school, the old truck became quite popular! I pulled that old truck out
            of a farmers field in Waco, TX. It had a tree growing up through the floorboards! All I did was replace the oil, clean the
            points, and flush out the gas tank. Not only did we drive it to New Orleans just about every weekend, I drove it from Biloxi
            to Albuquerque to spend Christmas with my new ex-wife! Good Times. When I got to Albuquerque (1300 miles), the only thing
            that was wrong was the transmission was shot. I put a 4 speed in the old 3 speeds place and drove it back home. It was a nice
            truck that served me really well.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer01lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer01sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer02lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer02sm.jpg">
        </a>

        <p>
            All of my distant 20's were spent in the Air Force, but that truck was used for pulling firewood out of the Sandia National
            Forrest, and provided very reliable transportation getting to and from work as well. It was like an old friend. Fast-forward
            to May 31, 2000 and my wife gets me these things for my birthday. Sets the mood for what's ahead!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/cherokee140lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/cherokee140sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/1973gremlinlg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/1973gremlinsm.jpg">
        </a>
        <p>
            Finally got my airplane sold. A good part of the 1990's was spent learning to fly then getting my own airplane to reduce the
            costs. I love to fly, but it's too expensive for me, so that is when I decided to get my project truck and learn all about
            vehicle restoration. It was a great choice! I have met a lot of great people doing this. What's with the Gremlin?
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer03lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer03sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer04lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer04sm.jpg">
        </a>
        <p>
            These are some shots of John Erb's retirement auction. I met a fellow oletrucker there (Brian Stephens) and it was a pretty good
            day. I had spent the three weeks prior helping John get ready for the big day. Wouldn't you know he would pick 100 degree days
            to do all the work! John was a great guy and I miss him.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer05lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer05sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer08lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer08sm.jpg">
        </a>
        <p>
            John wasn't only an AD expert, he was also an Antique Tractor buff as well. He really knew his tractors and as a result did
            pretty good at the auction. They really stole the show!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer09lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer09sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer10lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer10sm.jpg">
        </a>
        <p>
            Here I am trying to listen more than talk with my mentors. My Dad (left), John Erb (sitting), and Gene Swartzendruber (right). I
            learned so much from all of them. As payment for helping John with his auction, John and I overhauled this Borg R10 Overdrive for
            me to put in my 1950 Deluxe Cab project. This is a rare item and I am very fortunate to have it.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer11lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer11sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer12lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer12sm.jpg">
        </a>
        <p>
            The 49 3/4 ton's cooling system died (completely) and needed an overhaul. I had to replace the radiator, water pump and hoses.
            I took the time to refurbish the heater control valve. This is something that is almost guaranteed to leak if you don't replace
            the seal. These pics were going to be a step-by-step on how to do it, but the film didn't turn out on all the important pictures.
            Suffice it to say that I did it and can help you if you need it too!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer13lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer13sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer14lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer14sm.jpg">
        </a>
        <p>
            This is the done heater control valve. Not impressive unless you see all the pics I had to throw away that were the in-between
            shots. Oh well! Meanwhile, I added a goose-neck on to my little trailer to accommodate the higher hitch on my 49 3/4. What is unique
            about this trailer is it uses a 1947 3100 front end as its axle. Even the rims sport the proper baby moons. Plans are to sandblast,
            repaint and add side rails to give it more depth. I have the side rail pockets already but haven't taken the time to weld them on.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/summer15lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer15sm.jpg">
        </a>
        <a href="/Images/DevesArchive/summer16lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer16sm.jpg">
        </a>
        <p>
            I purchased about 700 pounds of nuts, bolts, washers and misc small AD parts from John before the auction. They are useless unless
            properly sorted so they can be found when you need them. Me being a clean freak, I decided to sandblast the whole lot, then take
            them to a barrel plater to have them all re-plated. This small parts basket has been a real help. You fill it about 1/4 full and
            use the blast cabinet to remove all the crud. VERY time consuming, but I think worth it in the long run.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/summer17lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer17sm.jpg">
        </a>
        <a href="/Images/DevesArchive/summer18lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer18sm.jpg">
        </a>
        <p>
            Here I am at the auction beside my new acquisition. I was so surprised when I turned out to be the only bidder! I got this 1948
            1-1/2 Ton (4400) for $50.00! I wanted it for the 1959 235 engine, but after looking it over, its very complete and I feel a good
            candidate for a complete restoration. As if I need something more to do! Meanwhile, We had a terrible fire at one of the storage
            buildings around Hesston. It was devastating for many people who lost some very valuable cars and trucks. I was given this 1954
            3100 for the price of hauling it away.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer19lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer19sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer20lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer20sm.jpg">
        </a>
        <p>
            As you can see it isn't pretty. Fire does awful things to a truck. Warp-age is the worst. Just getting it on and off this trailer
            was a task I would rather forget!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer21lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer21sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer22lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer22sm.jpg">
        </a>
        <p>
            The carb just melted all over the manifold and the interior was a mess. Is this one heck of a deal or what?
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer23lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer23sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer24lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer24sm.jpg">
        </a>
        <p>
            After evaluating WHY I want this thing in my shop, I determined the entire rear of the truck was almost undamaged (other
            than surface appearance) and would make a great pickup bed trailer. It even has the cutout fender and spare tire carrier.
            Yeah, I see some value here. Meanwhile, the engine looks bad, but also looks like it could be cleaned up and rebuilt.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer25lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer25sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer26lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer26sm.jpg">
        </a>
        <p>
            After much ado... and I mean real pain considering that not only had the fasteners been on the truck for 50 years, but they
            were further cemented on from the fire, I got all the sheet metal apart and loaded on the truck for the metal reclaimers.
            Trust me, nothing worth saving here. I would have gone to the ends of the earth to save it if there had been any chance.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer27lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer27sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer28lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer28sm.jpg">
        </a>
        <p>
            After removing the engine, it was time to take it to John's son, Dwight for bending the frame together and removing the front
            part to make it into a trailer. The best pickup bed trailers use the original frame and this one will be no exception. It
            trailed pretty good just setting the front of the frame on the hitch and hauling it 8 miles!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer29lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer29sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer30lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer30sm.jpg">
        </a>
        <p>
            These are shots of the 235 engine. The pistons were stuck solid to the piston rods. Took a lot of work to free them up.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer31lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer31sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer32lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer32sm.jpg">
        </a>
        <p>
            The head was a mess and turned out to be cracked. The manifolds were in good condition and I cleaned and repainted them.
            Looks like new!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer33lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer33sm.jpg">
        </a>
        <p>
            I took the engine outside and sandblasted it. Inside and out, the block looks like new. The lifters were also almost
            impossible to remove, but after stripping it completely down and sandblasting, I took it to the engine shop for inspection.
            It passed so I am now working on rebuilding it. I will sell it to someone who needs a great engine. Lofty goals!
            For someone with almost no experience with this stuff, let's see what happens!
        </p>
        <div class="centerit">
            <a href="/Home/Project1954235" class="btn btn-primary btn-sm">Check it out!&raquo;</a>
        </div>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer34lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer34sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/summer35lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/summer35sm.jpg">
        </a>

        <p>
            Shots of the new acquisitions. A 1955 1st series (brown) I purchased for $275 and a 1950 Deluxe cab (white) I purchased for
            $400. The 55 is too badly rusted to restore so I will combine these two to get the best of both worlds. See the 50 Deluxe
            restoration page for more info on that. Also pictured is the trailer we made from the burned out 55 we parted out earlier.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/summer17lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/summer17sm.jpg">
        </a>
        <a href="/Images/DevesArchive/1948Truck/48project01lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/1948Truck/48project01sm.jpg">
        </a>
        <p>
            As I said before, I purchased a 1948 4400 Ton and a Half at John's auction. It was in very bad shape. Tires toast, windows all
            broken out, engine no idea, no bed but had the dump mechanism. Here is my friends Jerry Mast, John Erb, and Bud Bachman all
            looking over the truck.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/1948Truck/48project02lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/1948Truck/48project02sm.jpg">
        </a>
        <a href="/Images/DevesArchive/1948Truck/48project03lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/1948Truck/48project03sm.jpg">
        </a>
        <p>
            As I said before, I purchased a 1948 4400 Ton and a Half at John's auction. It was in very bad shape. Tires toast, windows all
            broken out, engine no idea, no bed but had the dump mechanism. Here is my friends Jerry Mast, John Erb, and Bud Bachman all
            looking over the truck. With their help, we got it running. Low compression, but drivable!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/1948Truck/48project04lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/1948Truck/48project04sm.jpg">
        </a>
        <a href="/Images/DevesArchive/1948Truck/48project05lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/1948Truck/48project05sm.jpg">
        </a>
        <p>
            Changing out the window glass and rubber was pretty straightforward. Since the brakes were shot, I put it up on jack-stands and
            proceeded to completely go through the entire brake system. New everything. Hard to find some of those parts for the larger
            trucks, but I managed. It stops about how they all do, okay for their time, but probably not okay for todays driving.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/1948Truck/48project06lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/1948Truck/48project06sm.jpg">
        </a>
        <a href="/Images/DevesArchive/1948Truck/48project07lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/1948Truck/48project07sm.jpg">
        </a>
        <p>
            Once the brakes were done, I went ahead and purchased all new rubber for the tires. I also changed out the front kingpins
            and changed out the tie-rod ends. It was like driving a whole new truck! I also got a new gas tank for this project since
            there wasn't even one on the truck!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/1948Truck/48project08lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/1948Truck/48project08sm.jpg">
        </a>
        <a href="/Images/DevesArchive/1948Truck/48project09lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/1948Truck/48project09sm.jpg">
        </a>
        <p>
            I really wish I would have taken more pictures of the process, but as a amateur woodworker, I decided it was time to do
            something about the bed situation. I used long planks of Tongue in Groove 2 by 8 Doug Fir, and then dressed out the sides with
            some nice tongue in groove 1 by 4. I found some nice hardware to connect it all together. Now it's actually useful!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/1948Truck/48project10lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/1948Truck/48project10sm.jpg">
        </a>
        <a href="/Images/DevesArchive/1948Truck/48project11lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/1948Truck/48project11sm.jpg">
        </a>
        <p>
            The dump mechanism wasn't working so Gene Swartzendruber and I took it apart and figured out how to get it working. It uses
            a weird scheme of packing rubber together to form a good seal for the hydraulics. After cleaning out the system and replacing
            those seals, it works like a charm!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/1948Truck/48project12lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/1948Truck/48project12sm.jpg">
        </a>
        <a href="/Images/DevesArchive/1948Truck/48project13lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/1948Truck/48project13sm.jpg">
        </a>
        <p>
            The thing that's hard to learn is that we are only custodians of these trucks for a short while, then they get passed on to
            others who need them worse than we do. It went to a good home and it felt good resurrecting old iron that was destined for
            Chinese metal yards!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/1948Truck/deves19clg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/1948Truck/deves19csm.jpg">
        </a>
        <p>
            Another example of above. I loved this 1949 3/4 ton. I pulled small trees out of our yard with it. My son drove it to his
            first job when his car conked out. You just can't keep them all!
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/GarversHelping1lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/GarversHelping1sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/GarversHelping3lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/GarversHelping3sm.jpg">
        </a>
        <p>
            These are pics from 2001 or so. I found them and they really bring back memories! This is my sisters kids Jordan and Joshua
            Garver. The were home-schooled so I offered my shop as part of the curriculum. We had a great time and they learned a lot.
            The nephews spent a lot of time there learning all facets of engine rebuilding. In this project they were working on the top
            end of a 1954 235 engine.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/GarversHelping4lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/GarversHelping4sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/GarversHelping7lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/GarversHelping7sm.jpg">
        </a>
        <p>
            After the 235 project was over, it was time to pull out the old 261 and get started on it. Their dad Troy came by to help and
            they even brought along their little brother Jacob. We had lots of fun and you could see the lights coming on when these kids
            learned something new.

        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/GarversHelping11lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/GarversHelping11sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/GarversHelping9lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/GarversHelping9sm.jpg">
        </a>
        <p>
            These were taken on our field trip. We went to the electro-plater in Minneapolis, KS. I wanted them to see how Zinc Plating
            was achieved. They were amazed at the different plating processes available and how they were accomplished.
        </p>
    </div>
    <div class="aside1main">
        <a href="/Images/DevesArchive/Summer/GarversHelping13lg.jpg">
            <img class="PicsLeft" img src="/Images/DevesArchive/Summer/GarversHelping13sm.jpg">
        </a>
        <a href="/Images/DevesArchive/Summer/GarversHelping15lg.jpg">
            <img class="PicsRight" img src="/Images/DevesArchive/Summer/GarversHelping15sm.jpg">
        </a>
        <p>
            They pretty much decided on not pursuing a career as an electro-plater! Smelly, nasty work, but a true education on how
            this is done. I was very appreciative that the owner took his time to show us the process.
        </p>
    </div>
</div>







<div class="HowToTitle1">Pics that didn't make the cut...</div>
<div class="aside1mainx">
    <span class="restopics">
        <a href="/Images/DevesArchive/1948Truck/48Pics1lg.jpg"><img src="/Images/DevesArchive/1948Truck/48Pics1sm.jpg" width="175"></a>
        <a href="/Images/DevesArchive/1948Truck/48Pics2lg.jpg"><img src="/Images/DevesArchive/1948Truck/48Pics2sm.jpg" width="175"></a>
        <a href="/Images/DevesArchive/1948Truck/48Pics3lg.jpg"><img src="/Images/DevesArchive/1948Truck/48Pics3sm.jpg" width="175"></a>
        <a href="/Images/DevesArchive/1948Truck/48Pics4lg.jpg"><img src="/Images/DevesArchive/1948Truck/48Pics4sm.jpg" width="175"></a>
        <a href="/Images/DevesArchive/1948Truck/48Pics5lg.jpg"><img src="/Images/DevesArchive/1948Truck/48Pics5sm.jpg" width="175"></a>
        <a href="/Images/DevesArchive/1948Truck/48Pics6lg.jpg"><img src="/Images/DevesArchive/1948Truck/48Pics6sm.jpg" width="175"></a>
    </span>
</div>
