@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advance Design Brake Drum Removal";
    ViewBag.Message = "Small But Important Tip!";
}
<div class="HowToTitle1">Advance Design Brake Drum Removal</div>
<p>
    I don't remove brake drums everyday and always forget which way to turn the spanner wrench to loosen the brake shoes to free the drum. So this is for my benefit!
</p><br /><br />
<img class="center" src="~/Images/Projects/DrumRemoval/brakediagram.jpg" width="400px" height="705px" alt="Brake Drum Removal Diagram" />

