@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advance Design Fuel Filter Placement";
    ViewBag.Message = "Strategy for Placement of the Fuel Filter";
}
<div class="HowToTitle1">Advance Design Fuel Filter Placement</div><br />
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way, we can maintain the clearest definition to make it
    easier for you to see the detail. If the picture is so big you can't see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and
    down to resize!<br />
</aside>
<p>
    While doing the 1950 3100 Pickup restoration, I noticed a problem that I had not foreseen. I always thought (a no-brainer, really)
    that the glass bowl fuel filter simply screws right into the carb and the fuel line into the filter. This is not the case.
    It happens there is simply no room to do that when using the stock horn, since it is bolted to the manifold too close to the
    carb for there to be room. I subsequently discovered this isn't just MY problem; it's real and a problem the dealers had to
    contend with when the purchaser insisted on a fuel filter. Below is the dealer instruction from 1950 on how to get around this
    problem, as well as a good friend's (John) pictures on the proper installation.<br /><br />
</p>
<span class="restopics1">
    <center>
        <a href="/Images/Projects/FuelFilter/page1lg.jpg"><img src="/Images/Projects/FuelFilter/page1lg.jpg" width="300"></a>
        <a href="/Images/Projects/FuelFilter/page2lg.jpg"><img src="/Images/Projects/FuelFilter/page2lg.jpg" width="300"></a>
        <a href="/Images/Projects/FuelFilter/page3lg.jpg"><img src="/Images/Projects/FuelFilter/page3lg.jpg" width="300"></a>
    </center>
</span>
<br /><hr /><br />
<span class="restopics1">
    <center>
        <a href="/Images/Projects/FuelFilter/dsc00246lg.jpg"><img src="/Images/Projects/FuelFilter/dsc00246lg.jpg" width="400"></a>
        <a href="/Images/Projects/FuelFilter/dsc00245lg.jpg"><img src="/Images/Projects/FuelFilter/dsc00245lg.jpg" width="400"></a>
    </center>
</span>
<br /><hr />
<aside>
    Do you have Pictures or some information that would add to this conversation? Send Pics and/or improvements to
    <a href="mailto:deve@speedprint.com?subject=Fuel Filter Placement">Deve</a> and we will make sure they are considered for this document.
    Meanwhile don't forget to check the <a href="/Services/Index" target=_blank><b>Farm-It-Out</b></a> section for unique items
    that may make your restoration just a little better.
</aside>

