@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Installing a Spin-on Oil Filter on your Chevy Stovebolt";
    ViewBag.Message = "A Great Way to Improve Oil Flow";
}
<div class="HowToTitle1">Installing a Spin-on Oil Filter on your Old Chevy</div><br />
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
    <br />
</aside>
<div class="para2">
    <p>
        There are four different options for installing a Spin-on type oil filter for your 1940-1962 Chevy Six. This has to
        do with two factors. If you have the stock Bypass Filtration system and if you have a triangular engine mounting boss
        on the drivers side of the engine. Chevy started putting this side mount on Cars in 1952 so check to see if your
        216, 235 or 261 has this triangular mounting boss arrangement. If it does not have this, don't worry, we have a
        solution for you too!
    </p>
    <p>
        The challenge in creating anything for these wonderful works of art is making sure we do not make the installation
        look too modern or out of place. Once these brackets have been installed, they look just like they belong there. In
        addition, the mounts are all made purposely to be low on the engine. This keeps the oil pump from having to push
        oil upwards unnecessarily which is better for the overall health and oil flow performance of the engine.
    </p>
    <div class="HowToTitle4">Choosing the Right Spin-on Oil Filter Solution for Your Vintage Vehicle</div><br />
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter22lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/FullFlowOil/oilFilter22sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter26lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter26sm.jpg">
    </a>
    <p>
        <b>Solution One:</b> If you have a stock Bypass oil filtration system, and you do NOT have a triangular engine
        mounting boss, this bracket fits on to the vehicle's frame directly across from where the triangular mounting
        would be, just aft of the generator/alternator. Mount this bracket on the top flat of the frame just before it
        makes its bend downwards. It straddles the frame and two bolts clamp it in place. Our favored Trans-Dapt 1028
        Spin-On Adapter is used but with a modification for Bypass Filtration that reduces the outlet port to 1/16" to
        work exactly like the stock system. Slide the bracket as far forward as possible away from the exhaust. To
        efficiently get around the exhaust system, a 1/8" NPT 5 inch Stainless Steel pipe is used with a Stainless Tee
        connection for connecting to the Oil Pressure Gauge. All fittings except the -4AN fittings at the Adapter are
        Stainless Steel. If you choose, you can purchase the bracket and adapter and use your own stock hoses!
    </p>
    <aside>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter28lg.jpg">
            <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/FullFlowOil/oilFilter28sm.jpg">
        </a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter24lg.jpg">
            <img class="PicsRight" img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter24sm.jpg">
        </a><br /><br />
        To make the Restrictor, start with a 1/2" NPT Male to 1/8" NPT Female Adapter Bushing. Drill the inside using
        a 29/64" Drill Bit then a 1/2"-20 Tap. Tap down about 1/2". Using a 1/2"-20 Bolt, put JB Weld on the first 1/2"
        of the bolt (clean the end surface of the bolt of any JB Weld) then screw it in until it stops. Wipe off the
        excess JB Weld, then wait for it to dry. Cut the bolt off flush with the adapter. Using a center punch, punch
        the center of the bushing for drilling a 1/16" hole in the very center. Chamfer the hole with a 1/4" drill bit.<br /><br /><br />
    </aside>
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter23lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/FullFlowOil/oilFilter23sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter25lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter25sm.jpg">
    </a>
    <p>
        To install the bracket with the Trans-Dapt 1028 Spin On Adapter, make sure the clamping bolts are loose and
        turned out enough to slide over the frame. Start sliding it on just in front of the steering gearbox and
        slide it over until it stops because the frame takes a bend downwards. If your frame has lots of dirt or excess
        paint it will be harder to slide on. Tighten the two bolts to secure it to the frame, then lock the nuts down
        to keep the bolt from loosening. Once the bracket with adapter is secure, install the 5 inch stainless steel
        1/8" NPT pipe directly to the engine block in the aft (oil flow OUT) port. No need to use a pipe wrench on it
        just yet. Install the Tee on the end of the pipe. Use teflon tape that is rated for oil or Permatex Copper
        High Temp Gasket Sealer on the threads. Turn the Tee and the pipe by hand until the pipe is tight in the
        engine block, then using a pipe wrench, turn the Tee until it is tight and straight, parallel with the engine
        and frame.  Do not over-tighten! Install the 1/8" NPT to -4 AN Adapter into the front of the Tee, and the
        1/8" NPT plug (or your oil pressure gauge hookup) into the back of the Tee. Install a 1/8" NPT to -4 AN adapter
        to the front inlet on the engine block (oil flow IN). Since the Trans-Dapt is already configured, it's a simple
        matter of just attaching the stainless steel braided flex hose. Be sure to keep the flex line as far away from
        the exhaust as possible. This kit is available in two flavors: With Stainless Braided Hoses, and Without. As
        always, we can work with you on your particular build.
    </p>
    <aside>
        This bracket is made from 1/4" by 2-1/2" by 4" plate welded at a 90 degree angle with another 4" by 2-1/2" x 1/4"
        plate then 2" gussets are added for strength. Then a 1/4" by 4" strip is used to separate the bottom from the top to
        allow for the vehicle frame, then a 3/8" by 1-1/2" by 4" piece is rounded and used for the clamping force. The two
        clamping bolts are drilled and tapped 2 inches apart using 3/8"-16 stainless bolts with stainless locking nuts 1/2"
        (to center from the rounded edge). Weld this together using a very hot setting so it has added strength.
    </aside><br />
    <hr /><br />
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter30lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/FullFlowOil/oilFilter30sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter27lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter27sm.jpg">
    </a>
    <p>
        <b>Solution Two:</b> If you have a Bypass oil filtration system and you also have the Triangular front engine
        mounting bosses that are not used and are tapped for 3/8"-16 threads (stock) this bracket bolts directly to
        this location. Our favored Trans-Dapt 1028 Spin-On Adapter is used but with a modification for Bypass Filtration
        that reduces the outlet port to 1/16" to work exactly like the stock system. To efficiently get around the
        exhaust system, a 5 inch pipe is used with a Tee connection for connection to the Oil Pressure Gauge. All
        fittings except the -4AN fittings at the Adapter are Stainless Steel as shown above. If you choose, you can
        purchase the bracket and adapter and use your own stock hoses!
    </p>
    <a href="http://images.devestechnet.com/Projects/Project1959235/Project59235537lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235537sm.jpg">
    </a>
    <p>
        Install the bracket to the block using the supplied stainless steel 3/8" bolts with lock washers. After you
        have the bracket tight, install the Trans-Dapt 1028 to the bracket leaving the two nuts on each screw for
        standoffs. Tighten securely. Once the bracket with adapter is secure, install the 5 inch stainless steel
        1/8" NPT pipe directly to the engine block in the aft (oil flow OUT) port. No need to use a pipe wrench on it
        just yet. Install the Tee on the end of the pipe. Use teflon tape that is rated for oil or Permatex Copper
        High Temp Gasket Sealer on the threads. Turn the Tee and the pipe by hand until the pipe is tight in the
        engine block, then using a pipe wrench, turn the Tee until it is tight and straight, parallel with the engine
        and frame.  Do not over-tighten! Install the 1/8" NPT to -4 AN Adapter into the front of the Tee, and the
        1/8" NPT plug (or your oil pressure gauge hookup) into the back of the Tee. Install a 1/8" NPT to -4 AN adapter
        to the front inlet on the engine block (oil flow IN). Since the Trans-Dapt is already configured, it's a simple
        matter of just attaching the stainless steel braided flex hose. Be sure to keep the flex line as far away from
        the exhaust as possible. This kit is available in two flavors: With Stainless Braided Hoses, and Without. As
        always, we can work with you on your particular build.
    </p><br />
    <hr /><br />

    <p>
        <b>Solution Three:</b> If you have a Full Flow Oil Filtration System on your 1954-1962 235 or 261 full
        pressure oil system we use the same Trans-Dapt 1028 with either bracket above. The difference is that
        3/8" NPT lines and adapters to -6 AN are used and the 1/16" restrictor is not installed.<br /><br />
        <aside>
            <a href="http://images.devestechnet.com/Projects/Project1959235/Project59235538lg.jpg">
                <img class="PicsLeft" img src="~http://images.devestechnet.com/Projects/Project1959235/Project59235538sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/Restorations/1950B/D50b00411lg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Restorations/1950B/D50b00411sm.jpg">
            </a><br /><br />
            The above statement IS completely possible using the instruction below. When your engine is at the
            machine shop for a rebuild, for an additional $100 or so, they can use this document to modify the
            1955 through 1962 235 Engine for Full Flow, and the 1955 through 1957 261 Engine the same way. The
            only Stock full pressure engine during those years was the 1958-1962 261 Engine. That engine gives
            you the choice of Bypass or Full Flow.<br /><br /><br /><br />
        </aside>
    </p>
    <a href="http://images.devestechnet.com/Projects/Project1959235/Project59235538lg.jpg">
        <img class="PicsRight" img src="~http://images.devestechnet.com/Projects/Project1959235/Project59235538sm.jpg">
    </a>
    <p>
        Install the Triangle bracket using the supplied stainless steel 3/8" bolts to the triangular mounting
        boss. Tighten securely. Install the Trans-Dapt 1028 leaving two nuts on the 1/4" screws for standoffs.
        Tighten securely. If you are using the clamp-on bracket, slide it on the top rail of the frame just
        forward of the steering gearbox and move it as far forward as you can before the downward turn on the
        frame prevents further adjustment. If you have a 261 with the large 1/2" NPT oil in/outlets, install
        the 1/2" NPT to 3/8" NPT reducers on the engine block, then on the rearmost fitting, install the 5"
        Pipe and Tee Connector. Tighten so that the Tee is Parallel to the engine and frame. Use Teflon tape
        approved for Oil, or Permatex High Temp Copper Gasket Sealer on the threads. Next install a 3/8" to
        -6AN Adapter on the front engine block fitting and another one on the Tee. Install either the Oil
        Pressure Gauge or the included plug on the back of the Tee. Install the hoses and tighten securely.
        <br /><br />
        <b>Note:</b> If you have a 235 with 3/8" NPT in/outlets then the 1/2" reducers do not apply at the block.
    </p>
    <a href="http://images.devestechnet.com/Projects/Project1959235/Project59235293lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235293sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/Project1959235/Project59235289lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235289sm.jpg">
    </a>
    <p>
        I want to explain how to install a Trans-Dapt 1028 Spin-On Oil Filter Adapter after modifying the engine block for full flow
        oil filtration. I found a really cool place to put the adapter. The newer 235 engines have a triangular side engine mounting
        boss. Three 3/8" bolts are used to hold the engine in place on a newer style truck. Since we are setting this engine up for
        1947-1955, the engine will be mounted at the front on the timing plate. This leaves those three holes for us to mount our
        Spin-On adapter direct to the engine. This is the best way because any torquing or engine movement will not cause stress on
        the adapter or hoses. It would be nice if they made an Spin-On Oil Filter Adapter that just had that bolt pattern, but no, we
        have to make an adapter for the adapter! Not really much problem if you have rudimentary metal working tools. If you don't, you
        can always purchase a complete or even partial kit from us. Meanwhile, to make this thing, we need some 1/8" plate, some
        cardboard, some hardware and some patience. Start by placing a piece of cardboard up against these triangular bosses and hold
        it very firmly, take a hammer and just tap around the cardboard to get the pattern. Use a ball peen hammer to tap inside the holes
        so that they also show really well. Once you have the outside pattern as well as the hole pattern, cut it out with scissors and
        place it over your 1/8" plate.
    </p>
    <a href="http://images.devestechnet.com/Projects/Project1959235/Project59235286lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235286sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/Project1959235/Project59235287lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235287sm.jpg">
    </a>
    <p>
        With a band saw or whatever you use to cut the metal, cut your triangle out, then position your center punch in the center of
        your hole pattern (I just placethe cardboard over the metal and center punch both), and drill your 3 engine mounting holes to
        13/32". This is two fractional sizes larger and should forgive very slight mis-measurement. Once those holes are drilled, it's
        time to mark the plate for the 3 triangular adapter hole pattern. This is a little tricky, but lay it out as shown and just
        stay away from the larger holes as much as possible. There IS room for the heads of both patterns to NOT interfere with each
        other. Drill these holes out to 9/32" which is two up from 1/4". Test to make sure they line up perfectly with the adapter. I
        found that 3 of 7/16" lug nuts work best for the standoffs. They work perfect because of the bevel. Perfect for welding the
        bead around them to secure to the plate. Once you have tested your holes on the engine block and everything is right, weld the
        lug nuts on the plate, then test it on the engine block again. Use 3 of 3/8 x 1-1/4" Bolts for the engine block part.
    </p>
    <a href="http://images.devestechnet.com/Projects/Project1959235/Project59235288lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235288sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/Project1959235/Project59235290lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/Project1959235/Project59235290sm.jpg">
    </a>
    <p>
        Next get three 1/4" x 1-1/4" grade 5 bolts. The problem with these bolts is they are usually not threaded all the way up, and
        we need them to be. So, if you can't find any bolts that thread all the way, get out your 1/4" x 20 tap and finish the job. If
        you use oil and take your time, the nuts will turn easily all the way down. Install these bolts in so they stick out opposite
        the lug nuts as shown. Run one nut all the way down and tighten the bolt to the plate. Run a second nut down on to the first
        nut securely. This is used for the proper standoff so the engine bolt head has room. Paint the piece to keep it from rusting.
        This is the perfect location for the adapter and doesn't interfere with anything when it's mounted. The last thing you will need
        to do is figure out the fittings you need to install the hoses. I am using 1/2" NPT (the inlet/outlet holes in the adapter) to
        -6AN adapters so that I can hook up 3/8" stainless braided hose.
    </p>
    <a href="http://images.devestechnet.com/Restorations/1950B/D50b00407lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Restorations/1950B/D50b00407sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Restorations/1950B/D50b00411lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Restorations/1950B/D50b00411sm.jpg">
    </a>
    <p>
        Here it is directly installed on the block. It looks like it belongs there! Installing it directly on the block will
        eliminate any friction (thus wear & tear) on the oil lines due to engine vibration. The 3/8" braided stainless line I got
        at Summit Racing. It comes in 3 foot pieces. One 3 footer is enough. The fittings are standard 3/8" -6AN fittings. An easy
        way to cut this braided stainless line (which is rubber with a stainless braid on the outside), is to very tightly tape in
        the middle of where you want to cut it, so there is tape on both sides of the cut, then use a Makita grinder to cut it.
        Take the cutting slow and it will be very clean and easy to put the ends on.
    </p>
    <p>
        <b>Note:</b> For some years of motors, the rocker assembly is fed by a tube under the side cover up through the head into the
        intermediate rocker support. Later head designs did away with requirement by adding a oil passage up through the head to feed
        that goofy tube on the rocker shaft.  Make sure your head has this feature or you will get no oil to the rockers.  An air
        compressor set to low pressure will help you chase the passages and convince yourself you will have sufficient flow to the
        rockers.  DO NOT drill out the oil passage restriction in the head as it is designed to maintain pressure to the lower end of
        the engine.
    </p>
    <div class="HowToTitle4">Parts List for 235/261</div>
    <p>
        These two engines have slightly different parts lists, so I will differentiate between them where needed. Prices are as of 8-23-15.
        <ol>
            <li>Trans-Dapt 1028 Spin-On Filter Adapter - Summit Racing - $19.97</li>
            <li>Wix 51515 Oil Filter - Summit Racing - $6.75</li>
            <li>3 feet of 3/8" Stainless Braided Pressure Hose - Summit Racing SUM-230603 - $14.97</li>
            <li>(4) -6AN (3/8") Hose Fittings - Summit Racing SUM-220690B - $19.76 [Hose Fitting installation can be found here: <a href="/Home/Project1959235#hardline" target=_blank>Hose End Installation</a>]</li>
            <li>(2) -6AN to 1/2" NPT Adapters (Trans-Dapt Ends)- Summit Racing SUM-220649B - $9.98 </li>
            <li>(2) -6AN to 3/8" NPT Adapters - Summit Racing SUM-220648B - $4.98</li>
            <li>(2) 1/2" NPT to 3/8" NPT Female Stainless (engine block) - McMaster-Carr 4464K266 - $7.58 [<b>261 Only</b>]</li>
            <li>(1) 3/8" NPT to 3/8" NPT Female to Male Adapter Stainless (engine block OUT port) - McMaster-Carr 48805K42- $15.96 [<b>235 Only</b>]</li>
            <li>(1) 3/8" Tee Connector Stainless - McMaster-Carr 4464K49 - $8.83</li>
            <li>(1) 3/8" by 4 inch Pipe Nipple Stainless - McMaster-Carr 4830K156 - $4.32</li>
            <li>(1) 3/8" NPT to 1/8" NPT Female Stainless - McMaster-Carr 4464K262 - $3.00</li>
            <li>(1) 1/8" NPT Plug Stainless - McMaster-Carr 4464K231 - $1.84</li>
            <li>(1) Filter Adapter Mount [any style] - DevesTechnet.com - $35</li>
            <li>(3) 3/8" x 1/4" Hex Head Bolts Stainless - McMaster-Carr 93190A626 - $8.08</li>
            <li>(3) 3/8" Lock Washers Stainless - McMaster-Carr 92147A031 - $6.79</li>
            <li>(3) 1/4" x 1-1/4" x 20 Hex Head Bolts Stainless - McMaster-Carr 93190A544 - $4.80</li>
            <li>(9) 1/4" x 20 Nuts Stainless - McMaster-Carr 91845A029 - $4.64</li>
            <li>(3) 1/4" Lock Washers Stainless - McMaster-Carr 92146A029 - $4.10</li>
            <li>(3) 1/4" Flat Washers Stainless - McMaster-Carr 92141A029 - $3.37</li>
        </ol>
    </p><br />
    <aside>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/CosmoGrigglg.jpg">
            <img class="PicsRight" img src="http://images.devestechnet.com/Projects/FullFlowOil/CosmoGriggsm.jpg">
        </a><br /><br />
        Special thanks to Grigg over at <a href="www.stovebolt.com" target=_blank>The Stovebolt</a> for thinking up this very
        ingenious bracket. Sometimes the simple solution using 1 piece of 3/8" or 1/2" steel is the most useful. This is a
        picture of the original bracket that Grigg designed on Cosmo's 261 engine. This is the kind of sharing that really
        proves we can all work together for the benefit of everyone.<br /><br /><br /><br /><br />
    </aside><br />
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/FentonOilAdapter4lg.jpg">
        <img class="PicsRightLng" img src="http://images.devestechnet.com/Projects/FullFlowOil/FentonOilAdapter4sm.jpg">
    </a>
    <p>
        <b>Solution Four:</b> For people with Fenton dual exhaust manifolds, this solution includes a very
        special adapter that moves the Spin-on Adapter further forward. This can't be used with a Generator
        so only folks with Alternators can use this. The plumbing gets very complicated so the kit is more
        expensive. The picture right shows about the best route for use of this adapter with dual exhaust. The
        kit comes with everything you need in stainless steel. While more expensive, it will never rust!
    </p>
    <p>
        The routing to get the oil to and from the adapter is complicated and requires just the right fittings
        so as not to interfere with the steering gearbox. In the end, the pipes come out nicely to the point where the
        hoses take over. This eliminates heat problems from the hot exhaust. The thing that makes this heat issue so
        important is the stainless braided hoses are rated to 300 degrees and the exhaust system is considerably 
        hotter. Start at the engine block with the fittings and use teflon tape or equivalent and tighten securely
        as you go.
    </p>
    <br /><br /><hr /><br />
    <div class="HowToTitle1">All About Full Flow Oil Filtration for your 1954-1962 235/261 Engine</div><br />
    <p>
        Special thanks to Bruce "Phat" Childs and <a href="http://www.stovebolt.com">The StoveBolt</a> for a lot of the technical
        content in this article. Please visit their website often. Lots of great stuff over there! I am especially grateful for this
        article because I recently had my machine shop do the machine work as described below. The cost was $100 and it was the best
        $100 I have spent in a long time. Here's why...
    </p>
    <aside>
        The engines we are talking about here are vintage engines and Chevrolet did not assemble them with oil filters at all. If you
        have a bypass oil filter system, it is likely because the Dealer installed it. Chevrolet had not yet learned the benefits of
        oil filtration. Let's address the reason for this Article:<br /><br />
        <p>
            <b>Issue One:</b><br />
            Some of you have 1954 and 1955 engines that have slits in the Valve Cover. This was to help the engine breath.
            The problem with it is that all sorts of dirt, dust, water, crud can be induced through those slits. The first thing to do if
            you have an engine like this is to close those slits! Put masking tape over the outside of the slits to retain the shape, then
            apply JB Weld on the inside of the cover. Nobody will notice and you will have saved your engine from all the misery. Then and
            just as importantly, get a breather style Valve Cover Cap (like the Stant No. 10064). This style has filtration built into it
            and ends this real problem.
        </p>
        <p>
            <b>Issue Two:</b><br />
            The bypass oil filtration the dealer installed is called 'Bypass' because it only filters between 12% and 18% of the engine oil.
            You have to ask yourself, which 18% is being filtered? As stated earlier Chevrolet had not yet come to the realization that oil
            filtration is key to engine longevity. While being better than nothing, its only 18% better than nothing. We need to fix that.
        </p>
        <p>
            <b>Issue Three:</b><br />
            The road draft tube is slightly better than nothing, but these engines were the last years where PCV was not a normal feature. The
            problem with the road draft tube was it only evacuated harmful engine gases above 30mph. So all the rest of the time, all of the
            crankcase gases were just mixing with the oil and causing premature engine wear. We can resolve this by installing a PCV system. This is
            a very easy upgrade and makes a real difference in engine longevity. That article is here: <a href="/Home/PCVInstall" target=_blank>PCV Upgrade</a><br /><br />
            These things together will give you the very best longevity possible for your Stovebolt. Let's get started by giving you, or your engine shop
            detailed instruction on machine work that will give you full flow oil filtration, then, give you options for oil filter systems.
        </p>
    </aside>
    <div class="HowToTitle4">Machining your 1954-1962 235 and 1954-1958 261 Engine</div><br />
    <p>
        The 261 in 1958 (1958-1962) came out with a unique dowel 'switch' that allowed the engine to be either bypass or full flow. You can read all about that and much more
        very good information about the 261 engine here: <a href="/Home/TheVenerable261" target=_blank>The Venerable 261</a>. This was the first time GM gave us full flow
        oil filtering. The rest of us need to do the modification below.
    </p>
    <dl>
        <dt>Tools List:</dt>
        <dd>9/16" Drill Bit</dd>
        <dd>21/64" Drill Bit</dd>
        <dd>3/8" NPT Tap</dd>
        <dd>1/8" NPT Tap</dd>
        <dd>3/16" Drill Bit (or close - only used for starting the hole)
    </dl>
    <dl>
        <dt>Parts List:</dt>
        <dd>Remote Oil Filter Adapter Kit (Instructions below)</dd>
        <dd>1/8" Pipe Plug</dd>
        <dd>Two 3/8" NPT fittings</dd>
    </dl>
    <p>
        This is how I have done the full-pressure oil filter on the 235/261. I don't suggest you do this unless the motor is <strong>completely apart</strong> for a rebuild.
        With the drilling and tapping, there will be too many metal chips to do this on a motor that is already built.
    </p>
    <p>
        All of the drilling and tapping will be done on the <strong>oil pump side</strong> of the block.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oiler1lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/FullFlowOil/oiler1sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oiler2lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/FullFlowOil/oiler2sm.jpg">
    </a>
    <p>
        <strong>Step One:</strong> Get a 1/8" NPT Tap. Now, go about 1.375 in the hole (being careful not to damage the threads for the pump fittings.) Tap and install
        1/8" Pipe Plug. This will plug the passage to the mains. <--<br /><br />
        <strong>Step Two:</strong> Put the block on its oil pan flange. The next hole you will drill from scratch, and it may be a little scary for the first-timer.
        Just take your time and look at the pictures. I tend to drill this hole a little on the high side so you don't get into the fitting for the oil pump.-->
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oiler3lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/FullFlowOil/oiler3sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oiler8lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/FullFlowOil/oiler8sm.jpg">
    </a>
    <p>
        Start with a 1/8" drill bit on a slight angle (see angle of tap below.) Go to a 3/16" then to a 9/16" drill.<--<br /><br />
        Be careful and try to keep it lined up straight with the oil pump passage. Now tap the hole with a 3/8" NPT tap being careful to keep the same angle that
        you drilled on.-->
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oiler4lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/FullFlowOil/oiler4sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oiler5lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/FullFlowOil/oiler5sm.jpg">
    </a>
    <p>
        <strong>Step Three:</strong> The next hole that gets drilled is the hole that used to have the bypass filter and oil pressure gauge hooked to it.
        Take your time and just drill this one out to 9/16" Tap for 3/8" NPT also.
    </p>
    <p>
        <strong>Step Four:</strong> The next hole is drilled about halfway between the last one you drilled and the flywheel end of the block. Get the hole centered on
        the passage.<--<br /><br />
        Drill it with a 21/64" drill, then tap with a 1/8" NPT tap.-->
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oiler6g.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/FullFlowOil/oiler6sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/FullFlowOil/oiler7lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/FullFlowOil/oiler7sm.jpg">
    </a>
    <p>
        <strong>Step Five:</strong> You may choose not to drill this one if your filter has a place for a 1/8 NPT to plumb your
        gauge. I have done them both ways.<--<br /><br />
        We use the Trans-Dapt remote filter in our shop, but others will work. There are other ways to do this, but I have found this one to look and work the best.
        Total time to do the job is about 1 hour (it took me longer to do this article!) Have fun and be safe! - Bruce Childs (aka Phat)
    </p>
</div>
<hr />
<div class="HowToTitle4">Another option for Bypass Filtration...</div>
<p>
    If you have a 216 or 235 engine with a bypass system, but want the benefit of a spin on oil filter, (still Bypass but easier to change
    the filter), you can do one of two things. A good choice is to get the WIX Model 27455 Spin On Adapter which mounts to the intake manifold
    just like the bypass filter did. The WIX 51050 Filter is used with that system. This 51050 Filter has a built in .0625 reduced orifice to keep
    the proper oil pressure. Really it's a good kit because you just purchase it and it will work just fine. It's only drawback is it is not
    compatible with the thread sizes of the more popular filters.
</p>
</div>
<div class="HowToTitle4">Kit Options</div>
<aside>
    <p>
        Or you can just purchase the kit. Specify which of the three adapter types that are available you need from the choices below. The basic adapters are the
        same for bypass or full flow. You must specify Bypass or Full Flow when ordering so we can get you the correct hardware.<br /><br />
    </p>
    <a href="~http://images.devestechnet.com/Projects/FullFlowOil/oilfilter32lg.jpg">
        <img class="PicsRight" img src="~http://images.devestechnet.com/Projects/FullFlowOil/oilfilter32sm.jpg">
    </a><br /><br />
    <p>
        This adapter works great with the stock exhaust system on any engine that does NOT have the three bolt triangular mounting bosses on
        the sides of the engine. It clamps on to the top frame rail just before the steering gearbox. Order Clamp-On Adapter.
    </p>
    <br /><br /><br /><br /><hr />
    <a href="~http://images.devestechnet.com/Projects/Project1959235/Project59235290lg.jpg">
        <img class="PicsLeft" img src="~http://images.devestechnet.com/Projects/Project1959235/Project59235290sm.jpg">
    </a><br /><br />
    <p>
        This adapter works flawlessly with the stock exhaust system on any engine with the three bolt mounting pattern on each side. If you
        have headers, measure first to ensure you have the space available. We even have a solution for that! Order Triangle Adapter.
    </p>
    <br /><br /><br /><br /><hr />
    <a href="~http://images.devestechnet.com/Projects/FullFlowOil/oilfilter21lg.jpg">
        <img class="PicsRight" img src="~http://images.devestechnet.com/Projects/FullFlowOil/oilfilter21sm.jpg">
    </a><br /><br />
    <p>
        This adapter works with the Fenton dual exhaust or with a stock system using an Alternator. You need to use the alternator because of the available
        space. Special thanks to Grigg and Cosmo for the idea! Order Alt Adapter.
    </p>
    <br /><br /><br /><br /><hr />
    <a href="~http://images.devestechnet.com/Projects/FullFlowOil/oilfilter20lg.jpg">
        <img class="PicsLeft" img src="~http://images.devestechnet.com/Projects/FullFlowOil/oilfilter20sm.jpg">
    </a><br /><br />
    <p>
        Kits are now available! We let you choose the adapter (above) of your choice, then we add stainless braided pressure hose and all of the necessary fittings.
        The 5" Pipe and Tee are to get around your exhaust efficiently. It even comes with oil pressure gauge hookup! All pipe, tee and adapters are stainless steel with
        the exception of the AN fittings which are black anodized aluminum.<br /><br />
        <center><b>Please Specify Bypass System or Full Flow and Engine Type.</b></center>
    </p><br /><br /><hr />
    <center>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="9VFCBS8DFM3XE">
            <table>
                <tr>
                    <td>
                        <input type="hidden" name="on0" value="Spin-On Oil Filter Options"><center>
                            <div style="font-family:verdana,sans-serif; font-size:16pt; font-style:bolder; font-weight:bold; color: #0a4f12">
                                <b>Spin-On Oil Filter Options</b>
                                <br /><br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Clamp-On Adapter Only">Clamp-On Adapter Only $35.00 USD</option>
                            <option value="Triangle Adapter Only">Triangle Adapter Only $35.00 USD</option>
                            <option value="Alt Adapter Only">Alt Adapter Only $35.00 USD</option>
                            <option value="Full Kit (specify adapter style)">Full Kit (Specify Adapter Style and Bypass vs. Full Flow) $174.50 USD</option>
                            <option value="Full Kit with Fenton Manifolds">Full Kit with Fenton Manifolds $225.00 USD</option>
                        </select>
                    </td>
                </tr>
            </table><br />
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </center>
    <br />
</aside>
<br /><hr /><br />
<div class="HowToTitle4">Check out our other Kits for your 216/235/261 Engine!</div>
<p>
    We are developing more fun stuff for your vehicle. The Kits that are available now are Regular and Deluxe PCV Upgrade Kits, Spin-on Oil Filter
    Adapter Kits for both Full Flow and Bypass, our popular HEI conversion kit, Stock Heater Switch solutions and much more! Check out all of our
    offerings at <a href="/Services/Index" target=_blank>Farm-it-Out!</a>
</p>
<div class="HowToTitle1">Picture Gallery</div><br />
<div class="aside1mainx">
    <span class="restopics">
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter33lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter33sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter34lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter34sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter35lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter35sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter36lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter36sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter37lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter37sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter39lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter39sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter40lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter40sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter41lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter41sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter43lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter43sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter44lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter44sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter45lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter45sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter46lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter46sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter49lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter49sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter50lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter50sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter51lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter51sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter52lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter52sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter53lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter53sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter54lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter54sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter55lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter55sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter56lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter56sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter57lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter57sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter58lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter58sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter59lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter59sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter60lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter60sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter61lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter61sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter62lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter62sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter63lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter63sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter64lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter64sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter65lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter65sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter10lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter10sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter11lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter11sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter12lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter12sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter13lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter13sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter14lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter14sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter15lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter15sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter16lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter16sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter17lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter17sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter18lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter18sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter19lg.jpg"><img src="http://images.devestechnet.com/Projects/FullFlowOil/oilfilter19sm.jpg" width="175"></a>
    </span>
</div>
