@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "216/235/261 Head Torque Specification";
    ViewBag.Message = "Proper Stovebolt Torquing Procedures";
}
<div class="HowToTitle1">216/235/261 Head Torque Specification</div>
<div class="TitleByLine">by Jeff Nelson</div>
<p>
    When removing and replacing the cylinder heads in any internal combustion engine, the tightness and tightening sequence of
    the head bolts is critical to a good seal. Fel-Pro gaskets has a great little booklet that provides that information for just
    about any engine ever made. Below, find the information for the three kinds of in-line six engines found in Advance Design pickups.
</p>
<div class="HowToTitle1">216 and Early (1952 and Earlier) 235</div>
<div class="SmallTitle">Tightening Specification: 75-80 Ft. Lbs.</div>
<div class="SmallTitle">Tightening Sequence:</div>
<img class="center" src="http://images.devestechnet.com/Projects/HeadTorque/61.jpg" width="380px" height="167px" alt="216 & Early 235 Tightening Sequence" />
<div class="HowToTitle1">235/261 (1953-1962)</div>
<div class="SmallTitle">Tightening Specification: 90-95 Ft. Lbs.</div>
<div class="SmallTitle">Tightening Sequence:</div>
<img class="center" src="http://images.devestechnet.com/Projects/HeadTorque/25.jpg" width="380px" height="167px" alt="1953 & Later 235 Tightening Sequence" />
<div class="HowToTitle1">Head Gasket Installation</div><br /><br />
<p>
    Use a sealer. Copper Coat is good, as is Aviation Permatex. Silicon (RTV) is NOT. Neither is oil, water or grease. Guide the head down
    with installation studs or cut off head bolts. Failure to do this will probably cause a head gasket shift, not good on a 1/8" overbore.
    Use a light oil on the threads. If the bolts go into the water jacket as on the late model Chevy 194 - 292 You should use a sealer.
    Aviation Permatex, or my favorite, Loctite’s Teflon thread lock and sealer. Again, NO SILICONE (RTV).
</p>
<p>
    Torque down the head with at least three sequences. For example; 30 ft.lbs., then 60 ft. lbs., and finally 90 ft. lbs. Bring the head
    up to operating temperature without driving it. Then shut it off.  Re-torque the head while the engine is still warm. The best way to
    do that is to loosen each bolt ½ a turn. Do one bolt at a time, then bring that bolt up to the final, full torque in one smooth, even
    pull. That should do it, drive it and have fun. By the way while you are warming it up, if it has a new cam do not let it idle under
    1500 RPM for the first hour. And make sure you have plenty of coolant, this is no time to overheat.
</p>
<aside>
    Do you have Pictures or some information that would add to this conversation? Send Pics and/or improvements to
    <a href="mailto:deve@speedprint.com?subject=Head Torque">Deve</a> and we will make sure they are considered for this document.
    Meanwhile don't forget to check the <a href="/Services/Index" target=_blank><b>Farm-It-Out</b></a> section for unique items
    that may make your restoration just a little better.
</aside>
