@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Installing Your New HEI System";
    ViewBag.Message = "Installing Your New HEI System";
}
<div class="HowToTitle1">How-To Install HEI in your Stock 1940-1962 216/235/261 Distributor</div>
<div class="TitleByLine">Written by Deve</div><br />
<div class="TextProp1">
    <b>
        Note: This document is provided with each kit but the online version will give you larger pictures and better link information. This HEI Kit installs
        in your stock distributor with no modifications to your vintage distributor. It's a breakthrough that allows us to have the same precise ignition system
        as the more modern vehicles while maintaining the vintage look!
    </b><br /><br />
    <aside>
        As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
        we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
        see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
    </aside>

    <div class="HowToTitle4">HEI Kit Installation, The Movie</div>
    <p>
        The Youtube video is provided for those of you who do better watching someone else. As usual with my video's, the Kit is the star of the show. My
        Youtube channel has an ever-growing number of videos, so check back from time to time. The HEI Installation one is here:<br /><br />
        <a href="http://youtu.be/oz-ftkORoB0" target=_blank>216/235/261 HEI Installation Video</a><br />
    </p>
    <div class="HowToTitle4">How much am I paying and why do I need it you ask?</div>
    <p>
        The cost of the kit is $176.50 plus $12.50 Postal Priority Shipping. Also see "Distributor Modification Services Available" below. I am doing this to provide
        kits for my friends. If you are not 100% satisfied with your system, I will return every cent as long as you return the kit in perfect shape (internal packaging,
        boxes, etc). Send Certified Check, Money Order or Cash to: Deve Krehbiel * PO Box 676 * Hesston, KS 67062. Or use the PayPal Button below. Be sure I get a return
        address! As important as getting paid is for you to specify your Distributors model number. Please read this document before sending any money. I will also work
        with you on obtaining specific components of this kit. The idea is for you to be happy! Email <a href="mailto:deve@speedprint.com?subject=Your Website">deve@speedprint.com</a>
        for any questions you may have.
    </p>
</div>
    <br /><hr /><br />
    <center>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="29DUZLUZU37JY">
            <table>
                <tr>
                    <td>
                        <input type="hidden" name="on0" value="HEI Kit Options">
                        <center>
                            <div style="font-family:verdana,sans-serif; font-size:16pt; font-weight:bold; color: #0a4f12"><b>HEI Kit Options</b></div>
                        </center>
                    </td>
                </tr>
            </table>
            <center>
                <br />
                <select name="os0">
                    <option value="Full HEI Kit">Full HEI Kit $176.50 USD</option>
                    <option value="Installed in your Distributor">Installed in your Distributor $251.50 USD</option>
                    <option value="Installed in our Tall Cap Distributor">Installed in our Tall Cap Distributor $281.50 USD</option>
                    <option value="Overhaul Your Distributor and Install HEI">Overhaul Your Distributor and Install HEI $326.50 USD</option>
                </select>
                <br /><br />
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"><br /><br />
                <b>**Additional International Shipping Rates Apply**</b>
            </center>
        </form>
        <br /><hr /><br />
        <div class="TextProp1">
            <p>
                Once you have gone to electronic ignition you won't have to ask why you need it. What is even better about this kit than Pertronix for example is, it is a
                real GM HEI system. Pertronix is an alternative to points, while the GM HEI controls not only the points trigger, but also controls the dwell and timing based
                on RPM. It has its own current control limiter that keeps the current below 6 amps while providing for a much hotter and much more precise spark. This is GM's
                early version of the modern Electronic Control Module. While points systems have withstood the test of time, they have to be adjusted or replaced every 5000 miles
                or so while HEI is maintenance free. Especially now, 50+ years later, the vintage distributors are getting worn causing points to fire erratically and dwell to be
                less stable. This modification takes the responsibility of timing and dwell and moves it over to the GM HEI module.
            </p>
            <aside>
                <b>216 Owners!</b> Sadly, as much as I tried to make it happen, your current stock distributor with the small cap will not work with this modification. This is
                because the shaft is too short because it's made for the short rotor. This is not as big a deal as you may think however. We can get a tall cap distributor for you
                for $30 or less. Email me and I will get you the information. It's all about making sure this is a performance upgrade for you! The chart below shows that GM
                recommended the Tall Cap model as a replacement Distributor for all 1940-1962 applications.
            </aside>
            <div class="HowToTitle4">Things that are NOT included in the Kit:</div>
            <p>
                The reason we do not include everything is because of the fluctuating vendor pricing and they are not 100% necessary to get your new HEI Ignition System
                running. We highly recommend purchasing these items however. It will ensure perfectly smooth ignition performance. In the case of the plug wires, it is just
                safer to use approved wires. This kit only works with 12 volt systems. Do NOT put the high performance coil on without using approved plug wires!
                <ul>
                    <li>
                        A good set of HEI approved Spark Plug Wires such as <a href="http://www.summitracing.com/parts/ACC-4021/" target=_blank>Accel Superstock Series Points/HEI No. 4021</a>.
                        The last time I purchased a set the cost was $42 or so. A crimping and stripping tool made for plug wires is required. If Yellow doesn't float your boat, they
                        make them in black for slightly cheaper <a href="http://www.summitracing.com/parts/acc-4040k/overview/" target=_blank>HERE</a>.
                    </li>
                    <li>
                        An HEI coil that has .6 or .7 Primary ohm value such as <a href="http://www.summitracing.com/parts/msd-8202" target=_blank>MSD No. 8202</a>. This is a 45,000 volt
                        coil and will ensure best performance. The last time I purchased one I paid $48. I like it because it is the old fashioned can-type coil.
                    </li>
                    <li>
                        216 owners have a different wire feed-through assembly than later years. You can still seal that assembly to the distributor per the instructions
                        below, however, you could be happier with the later assembly like <a href="http://www.steinertractor.com/ABC500-delco-distributor-terminal-insulator-square-shoulder" target=_blank>Here</a>.
                        It would make it easier to seal the parts together. You would have a little grinding to do on the plastic to make it fit, but maybe worth the trouble.
                    </li>
                </ul>
            </p>
            <div class="HowToTitle4">Choosing the proper Reluctor</div>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0066lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0066sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/DistributorDatalg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/DistributorDatasm.jpg">
            </a>
            <p>
                GM made two different types of lobe contact areas depending on the year of your <b>Distributor</b>. Most of us enthusiasts purchased our vehicles from previous
                owners and we are not 100% certain that things have not been replaced along the way. To ensure you get the proper reluctor for your distributor, remove
                the cap and with a flashlight look carefully at the mounting surface where the points and condenser are mounted. Write down the stock number of the distributor
                and tell us what it is. The number starts with 111xxxx. Also take a look at the lobes and compare them to the picture on the left. Be sure to specify this when
                ordering the kit! Remember, we can only upgrade a tall cap distributor. If you need a tall cap model, email deve@speedprint.com. We will get you one.
            </p><br /><br />
            <div class="HowToTitle4">Things that ARE included in the Kit:</div>
            <p>
                In your HEI Kit you should find the following items. The wires are the length required to work with the included HEI mounting plate. It is okay to add length to
                the wires but ensure the same gauge is used. Remember length adds resistance which isn't a good thing.
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0090lg.jpg">
                    <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0090sm.jpg">
                </a>
                <ol>
                    <li>Reluctor sized for the distributor you referenced. [Standard Motor Products LX105]</li>
                    <li>Reluctor Pickup mounted to the Custom Internal Adapter Plate with easy thread-through wiring. [Standard Motor Products LX103]</li>
                    <li>Coil connection wire assembly</li>
                    <li>GM HEI Module with AC-Delco Heat Sink [Standard Motor Products LX301T and AC-Delco 10474610]</li>
                    <li>Distributor grounding wire</li>
                    <li>New Distributor Cap (Tall Style) modified [Standard Motor Products DR428]</li>
                    <li>New Distributor Rotor for Tall Style Cap [Standard Motor Products DR308]</li>
                    <li>Misc. Heat Shrink and Terminals</li>
                    <li>
                        Mounting Plate for HEI Module -- This is a very special item. It is specially drilled and tapped for the heat sink and HEI Module. It is set up for easy
                        swapping of the HEI module should a problem ever occur. It uses the coils mounting holes on the head using your existing hardware. This is ideal because
                        the engine's cooling fan cools the mount and heat sink keeping it cool. If you decide you do not want this plate, you can deduct $35 from the price of the
                        kit. All of the wiring in the kit is the proper length for use with this mount, so some modification on your part may be necessary. I will work with you on
                        wire lengths if you specify a different configuration. I will even work with you on what is included in the kit!
                    </li>
                </ol>
            </p>
            <div class="HowToTitle4">Tools and Incidentals Needed:</div>
            <p>
                <ul>
                    <li>Needle File Set for touching up the Reluctor</li>
                    <li>5/64" Allen Wrench for tightening set screws</li>
                    <li>Small Flat Tip Screwdriver</li>
                    <li>Wire Terminal Crimpers</li>
                    <li>Loc-Tite Medium Thread Locker</li>
                    <li>Heat Shrink Gun</li>
                    <li>Permatex Gasket Maker (preferably black)</li>
                    <li>Gauge for gapping the reluctor to .007</li>
                </ul>
            </p>
            <br /><hr /><br />
            <div class="HowToTitle4">Step One: Preparing for Installation</div>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0086lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0086sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/projects/HEIgnition/HEIProject0087lg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0087sm.jpg">
            </a><br />
            <p>
                To do this with any accuracy, we need to remove the Distributor. Please follow these instructions carefully! Especially if you have never done this before, or are not very
                comfortable with doing it. <b>Since the Distributor Gear is what turns the Oil Pump, you WILL destroy your engine if you do not re-install it properly!</b> The picture
                on the left shows the distributor all the way down in its proper position while the one on the right is showing what happens when you pull it out. You want to write
                down both orientations so you can more easily install the distributor when the modification is complete. It is best to take a picture of the entire side of the engine so
                you can see where your plug wires go, and then closeups of the rotor orientation before and after removal as well as pictures of the orientation of the distributor housing
                as it sits in the block.<br /><br /><br />
                <ol>
                    <li>
                        Remove the plug wires observing exactly where the #1 spark plug is <b></b>connected</b> to the Distributor Cap. Write down where on the Distributor Cap the #1 plug
                        wire is located. The sequence (CW) should be 1-5-3-6-2-4.
                    </li>
                    <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0088lg.jpg">
                        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0088sm.jpg">
                    </a>

                    <li>
                        Observe exactly where the Distributor Clips and Wire conduit is pointing. You want to replace your Distributor <b>EXACTLY</b> where it was. Remove the Distributor
                        Cap and put a mark on the edge of the Distributor exactly where the Rotor is pointing. Both the orientation of where the Clips are positioned within it's 360 degree
                        radius AND where the Rotor is pointing are critical. Take pictures, make a diagram, do whatever is necessary so that you can get it exactly where it was upon
                        re-installation. It is not important where the rotor is pointing, just that you know where it is pointing when we put it back. Do NOT turn your engine over at all
                        during any of this. Disconnect the battery so there is no question it stays put.
                    </li>
                    <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0089lg.jpg">
                        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0089sm.jpg">
                    </a>
                    <li>
                        Disconnect the wire at the Distributor.
                    </li>
                    <li>
                        Loosen the clamp screw at the back of the Distributor Shaft. This holds your Distributor in place. Do NOT loosen the Hex Head Bolt that holds on the Vacuum
                        Advance. Loosen the clamp enough to be able to pull out the Distributor. There is no reason to disturb the Vac Advance for this. With a Sharpie, mark the
                        distributor shaft as shown. This is how far you need to push it down when reinstalling to ensure you have oil pressure. As you can see, there is exactly 3/8"
                        between the clamp and the top of the shaft. It must be pushed down to that level before restarting the engine!
                    </li>
                    <li>
                        Pull the Distributor straight out while pushing down on the clamp so you don't bend anything. Notice how the Rotor turns about 20 degrees clockwise. This is due to
                        the pitch of the Gear that drives the Oil Pump. Do not disturb the oil pump slot at the bottom of the distributor hole. When reinstalling, if you point the rotor
                        to where it is when you fully pulled it out, it will drop back in without any issues. Note where that rotor is pointing when it's out to make life easier later.
                    </li>
                    <li> Now we can work on the workbench rather than leaning over the fender!</li>
                </ol>
            </p><br /><br />
            <aside>
                Your distributor needs to be serviceable in order for this to work the best. Now is a good time to make sure everything is clean and the shaft is not wobbly or
                the gear is loose. Look everything over and rotate the shaft. Also, with a 7/16" wrench, remove the entire grease cup assembly. Clean it thoroughly. Inside this
                hole you will find a spring and up against the shaft you should have a wear pad. It is important that both of these things exist and are in decent shape. If not,
                replace them because that spring and wear pad helps keep the shaft from wobbling, and will improve the gap consistency for your new Electronic Ignition. You can find
                the assembly and what's involved here: <a href="/Home/Project1959235#distributorrebuild" target="blank">The Distributor Start to Finish</a><br />
            </aside><br />
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0068lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0068sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/projects/HEIgnition/HEIProject0091lg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0091sm.jpg">
            </a>
            <p>
                <b>Remove the Points, Condenser and Rotor.</b> In doing so, you will also want to remove the long screw that goes from inside the distributor to outside the distributor.
                This is the contact system for the wire that goes to the negative side of the coil. The two plastic pieces that the screw runs through will be your conduit
                for the new system. This helps to make everything look stock. You will want to seal those two pieces together (and to the distributor housing) so they cannot come
                apart. This will have no effect on operation of any system, but will ensure a nice wire conduit. The wires are sized to go through this conduit. Save the screw and
                all associated hardware. To get to that rounded nut with slots on each side of the screw, I just squirt it with WD40 and use a very small screwdriver on one of the
                slots. So far, it has worked every time. Clean the two pieces thoroughly to remove the WD40 or any other residue then put a good coat of Permatex Gasket Maker on the two
                pieces and put them back on the distributor housing <b>exactly</b> as they came out. The outside piece is concave to form to the round of the distributor housing and the
                inside piece is oriented so that the screw slot goes down. Clamp them in place. You can use the screw that went all the way through only backwards to accomplish this.
                Come back the next day to install your new system. Do not get any sealer in the through-hole. If you do, use a paper clip or something to clean it out to the same size
                it was before. Use the long screw as a clamp while the Permatex sets. Put the nut on the inside and the head on the outside.
            </p>
            <aside>
                The reason we are using Permatex instead of something like JB Weld is because you cannot get the points/condenser mounting plate off to get to the bottom end of the
                distributor if for some reason you feel the need to do so. This makes them easy to remove, yet solid enough to not go anywhere. Remember, you have wires going through this
                assembly, so they won't get lost in any case.
            </aside>
            <aside>
                There is a small tab on the inside of that black plastic assembly that was used to keep that special bolt from turning. This tab is a problem and needs to be addressed.
                Many of these assemblies do not even have a tab because it broke off years ago. The special adapter plate for the inside of the distributor needs the space that tab
                occupies. So, one of two things... if you are a stickler for keeping this tab in place, cut JUST enough space out of the adapter plate for it to work. If not, cut this
                tab off. Since it is highly unlikely you will need to rotate this plate, just a small notch is all that is required.
            </aside>
            <div class="HowToTitle4">Step Two: Install the Ground Wire</div>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0071lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0071sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/projects/HEIgnition/HEIProject0072lg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0072sm.jpg">
            </a><br />
            <p>
                If you want to keep working while the sealer is setting up, install the Distributor to HEI Module ground wire. The perfect place for this even if it is hard to get to,
                is the small screw at the back of the distributor that holds the points and condenser plate in place. There are three screws that do this, but two of them are used
                for the cap clips. Install the small terminal end of the Black ground wire that comes in your kit to the Distributor connection, and the large terminal end to the
                longer mounting screw on the HEI Module. This grounding wire is insurance that we have a good ground throughout the system.
            </p><br /><br />
            <hr />
            <div class="HowToTitle4">Step Three: Installing the Reluctor Pickup Assembly</div>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0073lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0073sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/projects/HEIgnition/HEIProject0074lg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0074sm.jpg">
            </a>
            <p>
                <b>Install the Reluctor Pickup with Adapter Plate</b> The reluctor pickup assembly only goes in one way. The idea is to drop it down over the points tower and cam
                screw while having the points mounting screw visible. You WILL have to adjust the cam screw to go into the adapter plates hole. Just turn the screw until everything
                aligns. Once it is in place, turn it so that the mounting screw and everything else is in the middle of the elongated holes. If your cam screw is not in the middle
                when everything else is, turn the cam screw a little less than 180 degrees and everything should be in the middle. Using your existing points and condenser
                hold-down screws, tighten it down securely. Use the smaller headed screw on the old points hold-down and the larger head on the old condenser hold-down. Thread the wires
                through the wire conduit hole until it stops due to the thicker heat shrink not allowing it to go further. This enables a nice tight fit inside. Knead the wires in place
                inside the distributor to the outside edge so they do not interfere with operation. Your new adapter plate is made out of 11 gauge stainless steel and will last a lifetime.
            </p>
            <p>
                Thread the two wires through the wire conduit (it's tight but very do-able), then thread the long heat shrink that is included so that it is tight up against the wire
                conduit. With a heat gun, shrink this long tube so that it keeps the wires tight both inside and out. Pull on the wires at the end while pushing on the tubing to ensure
                a very tight fit. Heat guns are about $15 and very useful. To differentiate the two wires, I have included a piece of red tubing and two black ones. Place one black one over
                the entire wire assembly and slide it down and out of the way. Put the red one on the yellow wire, then crimp the terminal on. The wire has been tinned so that you have a
                stronger crimp. Shrink the red one so that it's even with the end of the spade terminal. Do the same with the black wire with black shrink tubing. Lastly, slide the other
                black one up to meet the connectors just to seal things off. Watch the video to make things clearer.
            </p>
            <hr />
            <div class="HowToTitle4">Step Four: Installing the Reluctor</div>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0076lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0076sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/projects/HEIgnition/HEIProject0077lg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0077sm.jpg">
            </a>
            <p>
                <b>Install the Reluctor</b> Slide the Reluctor over the lobes in the center with the concave part facing up. Slide it down to where it makes contact with the adapter
                mounting plate, then lift it up about 1/16th of an inch just so that it doesn't rub on the mounting surface. If it's a bit too loose, lift it out and try it on
                another side of the lobes until it is as tight as it gets before the set screws. There should be no contact with moving parts at this point. Tighten the two set screws
                securely. Use medium Loc-Tite just for peace of mind. The Reluctor is one of the integral parts of the mod. Because the 6 lobes are exactly the same distance apart
                from each other, there will never be a situation where wear will cause inaccuracies. This Reluctor is especially useful for our purposes because the rotor will drop
                right down where it belongs without interference. Also worth noting, this system does not put a small spark to a breaker points system, rather a magnet and a magnetic
                field causes a very clean trigger each time the Reluctor passes the Reluctor Pickup. No voltage is required because it makes its own!
            </p>
            <aside>
                If you had problems with the step above it would be for one of two reasons; The reluctor will not go down far enough, or the reluctor is really loose. If you specified
                correctly the part number of your distributor, it should not be too loose. If there is a very small wiggle room, use Loc-Tite on the lobes as well and center the reluctor
                using the set screws.<br /><br />
                If you had the more likely problem of it being too tight, this is because GM's tolerances at the time were not as accurate as we would like and you will need to
                file each side of the hexagon (on the reluctor) just a little. Be very careful in doing this! It is very easy to go too far. Take your time and leave ample time in your
                schedule to do this. Be sure to back off the set screws before filing.
            </aside>
            <hr />
            <div class="HowToTitle4">Step Five: Adjust the Reluctor-to-Pickup Gap</div>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0078lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0078sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/projects/HEIgnition/HEIProject0079lg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0079sm.jpg">
            </a>
            <p>
                <b>Adjust the Gap</b> To do this, you will need to turn the Distributor shaft so that the lobes on the reluctor PERFECTLY coincide with the pickup on the adapter plate.
                Loosen the Reluctor Pickup screw with the elongated hole and slowly and carefully move the Reluctor so that it is gapped to .007. This is a VERY tight gap and will
                require some patience. Check all 6 lobes by turning the Distributor shaft through all 360 degrees. .006 to .009 is okay. This has to do with a common problem with the design
                of the Distributor. The shaft and shaft housing wears just a little causing this gap problem. Do not sweat it, the system is very forgiving. If you need to loosen
                the set screws on the Reluctor to center it better, do so. Take the time to get the best gap possible. Turn the Distributor shaft and check for any moving parts rubbing or
                grinding. There should be NO sounds or evidence of this! Spin the shaft as fast as you can and listen to make sure everything is smooth.
            </p>
            <hr />
            <div class="HowToTitle4">Step Six: Install the New Rotor and Test Fit the New Cap</div>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0080lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0080sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/projects/HEIgnition/HEIProject0081lg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0081sm.jpg">
            </a>
            <p>
                <b>Install the new Rotor and Cap</b> If everything above went as planned, you have plenty of room to drop the rotor in the same way you did before. Place the cap over
                the assembly making sure the rotor is fully seated and the cap is oriented so that the caps key is in the proper place. If everything went as planned, the cap will seat
                down nicely and clip in place. The cap has been slightly modified to clear the new Reluctor Pickup. Grinding these features will have no affect on operation of either
                stock or HEI systems. With the Cap installed, check one last time to make sure no moving parts are coming into contact with each other. Listen carefully. You should
                hear if anything is not right. Remove the Cap but make sure the Rotor is seated all the way down where it belongs. Set the Distributor Assembly to the side for now.
            </p>
            <hr />
            <div class="HowToTitle4">Step Seven: Mount the Coil and HEI Mounting Plate</div>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0082lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0082sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/projects/HEIgnition/HEIProject0100lg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0100sm.jpg">
            </a>
            <p>
                With your Distributor completely squared away, it's time to decide where you want to place the brains of the system, the GM HEI Module and Heat Sink. It could mount
                to the inner fender or firewall, however, the included solution is better for a few reasons. It places the module and heat sink in the engine's cooling fan air stream,
                it is very close to the Coil and Distributor thus keeping the wires short for less resistance, and it uses normally unused space. If you get creative, you might use
                the cover of an old Delco-Remy Regulator and open it up by adding screens to the front and bottom and maybe even put an Ignition Kill Switch on it..
            </p>
            <p>
                This new mounting plate comes unpainted and you need to paint it yourself. This is to eliminate the argument of what color, what primer, etc, etc. A good engine paint will
                last and you want to tape off the heat sink before painting. DO NOT remove the heat sink. It needs bare metal below it for good heat dissipation and grounding. The kit comes
                with the heat sink and module assembled. It has a quick change feature so you can remove and replace the Module from the front without removing the plate. Mask around the
                heat sink without removing it since there is heat sink compound involved and we want a good heat transfer as well as grounding.
            </p>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/Schematic1.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/Schematic1.jpg">
            </a>
            <p>
                <b>Connect the wiring</b> per the diagram, connect the two wires from the coil to the HEI module and the two wires from the distributor to the HEI Module. The coil
                wires are Red and Black. Red on the plus side of the coil, Black on the negative side of the coil. Red to the Letter B marked in the HEI module and Black to Letter
                C marked on the HEI Module. The Yellow wire from the Distributor to Letter W on the HEI module, the Black wire on the Distributor to Letter G in the HEI module.
            </p>
            <p>
                Your existing red coil wire also goes to the plus side of the coil as usual. This is your ignition wire. You want to bypass your ballast resistor. The new system
                favors lower ohm values. A small 10 gauge jumper wire across the two resistor terminals will work nicely. This is not included in the kit. Be sure to go over your
                wiring from the battery, to the ignition switch and from the switch to the coil to ensure you have good properly gauged wires for this purpose. If you are re-wiring
                these sections for this, err on the side of caution and use 12 gauge wiring. Since the ballast resistor is not required for HEI, it can be removed, or jumpered. You
                can connect the two wires (connected to the ballast resistor) together. If you want this reversible so you can go back to points, keep this in mind.
            </p>
            <aside>
                It is very important when changing over to High Energy Ignition that you have very good and proper wiring in your vehicle. Make sure the wire from your ignition
                switch to the coil is in very good condition and is at least 14 gauge. It's not hard to replace the wire if you are concerned. Chase the wire with an ohmmeter to
                get the right one, then replace it entirely if needed. SPARK PLUG GAPS: If using the Stock Ignition Coil, Gap to .040. If using the recommended HEI coil, Gap to .045.
                You can see all of the testing that went into fuel consumption and gap tests <a href="/Home/HEIgnition#fuelmileagetesting">Here</a>.
            </aside>
            <hr />
            <div class="HowToTitle4">Step Eight: Install the Distributor</div>
            <img class="floattoright1" img src="http://images.devestechnet.com/Projects/Project1959235/DizzyWires.jpg" width="150" height="150">
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0086lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0086sm.jpg">
            </a>
            <p>
                <br />
                <b>Install The Distributor</b> Remember that diagram you made to ensure you knew the exact direction the rotor is pointed and the exact direction the clips and
                wire conduit are pointing? Now is when we use them. Point the rotor to the place it was turned when you removed it, with the body of the Distributor oriented as
                it was and insert the Distributor in the hole. Push it down and as you push it, the rotor should turn to the exact same place it was pointing when you first
                removed the cap. YOU ARE NOT DONE YET! To the right is the typical orientation of the Distributor, however yours may vary.<br /><br /><br />
            </p>
            <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0087lg.jpg">
                <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0087sm.jpg">
            </a>
            <a href="http://images.devestechnet.com/projects/HEIgnition/HEIProject0088lg.jpg">
                <img class="PicsRight" img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0088sm.jpg">
            </a>
            <p>
                This is the dangerous part and you WILL ruin your engine if this is not done right. Make sure it 'clicks' into place and seats all the way down inside the oil pump.
                Look carefully at what is left of the shaft that didn't go down the hole... the area between the top of the Vac Advance Clamp and the top of the shaft. If there is
                roughly 1/2" it is NOT down all the way. If you see 3/8" or less it could be all the way down. Once you are sure it is ALL the way down, tighten the clamp securely
                with the clips and conduit pointing in the proper direction. You can lift and push down, lift and push down, etc. a few times and it should click into place. If you
                have never done this before it can be daunting, but be patient and it will all come together. If you give up and decide it's not going down all the way due to the
                oil pump slot being turned slightly wrong, as a last resort, turn it a little with a long screwdriver and try again until it seats properly. Connect the two wires
                coming out of the Distributor per the schematic. If you get it down to the mark you made previously, you are good to go, but check oil pressure on startup anyway!
            </p><br />
            <aside>
                This is CRUCIAL! The reason I am hammering this issue is because you can THINK it's all the way seated, and the rotor will turn correctly and it LOOKS like
                everything is fine, and get ZERO oil pressure. It's just the way GM designed it. Whatever you do, check oil pressure when it's time to start it up. Shut it down
                immediately if you do not see what you expect.
            </aside>
            <hr />
            <div class="HowToTitle4">Step Nine: Testing Your New HEI System</div>
            <p>
                <b>Timing the Engine</b> Since the rotors position never changed, you are in the ballpark already. If the engine does not start right up the first time, loosen the
                screw at the back of the distributor mount and turn it one way a few degrees, if that doesn't do it, turn it the other way a few degrees. Follow standard ignition
                timing procedures with your timing light to get things where you want them. Follow common troubleshooting procedures if there is a problem. If you followed the
                above instructions on gapping, placement and wiring it should easily start right up the first time. Timing should not be any different than your stock system, just more
                precise. By installing this kit, you WILL have changed your timing slightly, so expect to have to make some adjustments. This is a great time to check your valve
                adjustment, Ignition Timing (turning the distributor to meet the BB on the flywheel or where-ever it runs best for you), and your idle mixture screw for optimum
                performance. Things you will never have to do again, is concern yourself over dwell and points gap adjustments. The computer knows what the engine needs. The last thing
                you need to do is take it for a test drive and make your timing adjustments accordingly, then, when you have it all timed, email deve@speedprint.com and let me know
                how you feel about the instructions given, the kit, and your feeling on how your vehicle runs after. Very important I get feedback!
            </p>
            <hr />
            <div class="HowToTitle4">Distributor Modification Service IS Available!</div>
            <p>
                If you want the ignition system installed and tested, we can do that for you! This includes testing the distributor in our test engine to ensure it works exactly as
                it's supposed to. It also comes with a printout of the Oscilloscope triggers from the distributor during testing. There are two levels of services available:
                <ol>
                    <li>HEI Modification Only - We do all of the above installation steps and check out the distributor for operation as described.</li>
                    <li>
                        HEI Modification with complete Distributor Overhaul - We take the distributor completely apart and clean and lubricate the inside mechanisms, replace the
                        wear bushing inside the Grease Cup, add a double roll pin for added gear to shaft strength, primer and paint the body and do the HEI upgrade as above.
                    </li>
                </ol>
                The services <b>not</b> including the kit is $75 for the HEI Mod (#1 above) and $150 for the complete rebuild (#2 above). Simply send us your distributor with
                instructions on which level of service you require. Send to: Deve Krehbiel * 320 N Main St. * PO Box 676 * Hesston, KS 67062. Return Shipping is included for US
                orders. I anticipate about 2-3 week turnarounds.
            </p>
            <hr />
            <div class="HowToTitle4">Troubleshooting</div>
            <p>
                This is a simple setup that doesn't require adjustments or maintenance to the actual parts. They either work or they don't. There are two items in the system
                that could go bad over time. Since there are two, let's take one of them out of the equation. They are the GM HEI Module that is mounted to the external
                mounting plate, and the internal (to the Distributor) Reluctor Pickup. They are the only two things that can possibly go bad. So, to take the Internal Distributor
                Reluctor Pickup out of the game, with a Digital Multimeter set to LOW Ohms, measure across the two leads that are connected to the GM HEI Module. Disconnect
                them first. Your reading for a good Reluctor Pickup should be between .200 and .400 ohms. If you have that, and your system has been running great until then, it
                is the GM HEI Module. This is a VERY reliable system.
            </p>
            <hr />
            <div class="HowToTitle4">Want to do this yourself?</div>
            <p>
                If you wish to save money and do a complete Distributor rebuild yourself, check out the article here:
                <a href="/Home/Project1959235#distributorrebuild" target="blank">The Distributor Start to Finish</a><br />
                If you wish to make all of this HEI modification yourself, check out the article here:
                <a href="/Home/HEIgnition" target="blank">HEI For Your 1940-1962 Chevy 6 Cylinder</a><br />
                We are not in this for the money, we just want you to be satisfied with the end result!
            </p>
            <aside>
                That's all there is to it! If you have ANY questions or comments, email <a href="mailto:deve@speedprint.com?subject=Your Website">deve@speedprint.com</a>. I will answer
                usually within a few hours. If you need a faster response, call 620-327-4107 and ask for Deve. I especially want to know how you found the instructions to be, how the
                install went, and how you feel about engine performance.
            </aside>
            <aside>
                <b>DISCLAIMER!</b> This HEI system has been tested thoroughly and is in use by many people already. I was not the inventor of this system, I just made it so that we
                can put them in easier. The engineers behind this system are absolutely certain it will provide many years of uninterrupted, quality service if installed properly. Please
                do not hesitate to email or call me if you run into problems. Whatever you do, have fun with your new toy! <br /><center>(c)2015 DevesTechNet.com All Rights Reserved</center>
            </aside>
            <div class="HowToTitle4">Check out our other Kits for your 216/235/261 Engine!</div>
            <p>
                We are developing more fun stuff for your engine. The Kits that are available now are Regular and Deluxe PCV Upgrade Kits, Spin-on Oil Filter Adapter Kits, and of course
                our popular HEI conversion kit. Check out all of our offerings at <a href="/Services/Index" target=_blank>Farm-it-Out!</a>
            </p>
        </div>
        <div class="HowToTitle4">Extra Picture Gallery</div>
        <p>
            Maybe some of these will help with your installation...
        </p>
        <div class="aside1mainx">
            <span class="restopics">
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0083lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0083sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0085lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0085sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0028lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0028sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0027lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0027sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0075lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0075sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0001lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0001sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0095lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0095sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0096lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0096sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0097lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0097sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0098lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0098sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0099lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0099sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0101lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0101sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0102lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0102sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0103lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0103sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0104lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0104sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0105lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0105sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0106lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0106sm.jpg" width="175"></a>
                <a href="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0107lg.jpg"><img src="http://images.devestechnet.com/Projects/HEIgnition/HEIProject0107sm.jpg" width="175"></a>
            </span>
        </div>
