@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comprehensive History of 1947-1955 1st series Advance Design";
    ViewBag.Message = "The Best Historical Information Ever!";
}
<p>
    <div class="historytitle1">Comprehensive History of</div>
    <div class="historytitle2">1947-1955 1st series "Advance Design" Trucks</div>
</p>
<div class="historytext">
    <div class="adhistorypic3">
        <a href="/Images/History/adhistory3lg.jpg">
            <img src="/Images/History/adhistory3sm.gif" width="225">
        </a>
    </div>
    <p>
        Chevrolet's radically different 1947 Advance Design light-duty trucks represented a sea of change in pick-up truck design and
        appearance.
    </p>

    <p>
        The nation was entering the exciting Post World War II era, and after four long years of war, the American people, especially
        the veterans, were looking forward to new opportunities in the world's greatest country.
    </p>

    <p>
        There was no better way to put the past behind them and to look to the future than with new lines of America's favorite form of
        transportation: cars and light trucks. Post-war automobiles followed a little more than a year after the new trucks.
    </p>

    <p>
        General Motors was the first manufacturer to release the new-look post-war trucks late in the 1947 model year as 1947 models.
        They were announced at Chevrolet dealer showrooms on Saturday, June 28, 1947.
    </p>
    <p>
        A new, larger windshield, bigger side and rear window glass, and optional rear-quarter windows vastly improved safety and
        drivability. Higher and wider cab doors made entry and exit easier. Another new feature, which further contributed to driver
        comfort and safety, was a fresh-air heater/defroster system, which brought fresh outside air into the cab and forced used air
        out through vents at the rear of the cab.
    </p>
    <div class="aside1">
        <p>
            <em>
                There is so much that could be said about the new Chevrolet pickups that we could fill a small book.
                Truck engineers typically began development work on a new series by surveying truck users. Personal interviews with business
                owners revealed the number one concern with trucks was a larger, roomier cab with more comfortable seats and better vision.
                Please note that owner interviews at that time in history were held with business owners not with individuals who owned pickup
                trucks for transportation only. The cab of the Advance Design pickups was eight inches wider and seven inches longer than the
                previous model. By pickup standards, increases of this magnitude only happen once in a lifetime. The cab's new size allowed the
                engineers to fit it with a true three-person seat which was also fully adjustable in the front and rear on an inclined plane to
                provide maximum driver vision. The additional cab width and length caused the new pickups to look much bigger than the previous
                models.
            </em>
        </p>
    </div>
    <p>
        Chevrolet engineers designed the new cab's construction to be entirely welded, as opposed to the older models, which were
        partially bolted together. Consequently, the new cab was much stronger and featured a three-point type of suspension, which
        contributed to a softer ride.
    </p>


    <p>
        The line included three pickup truck types in the new Advance Design Series in three sizes: half-, 3/4-, and one-ton (models 3104,
        3604 and 3804 respectively) with cargo boxes 78 inches, 87 inches and 108 inches long. All three boxes were 50 inches wide, 16 1/4
        inches high on the sides and 14 inches high in the ends. The wheel bases were 116, 125 1/4 and 137 inches. For each model, the
        cargo box was shifted forward for better distribution of the load in relation to the rear axle and for better support by the
        frame rails. All pickups continued to be built with wooden cargo floors covered with steel skid strips.
    </p>
    <div class="adhistorypic">
        <img src="/Images/History/adhistory1.jpg" width="520"></>
    </div>
    <p>
        <b>The Advance Design Pickup's engine</b> was a 90-horsepower, 174-ft-lb.-torque, 216.5-cubic-inch ThriftMaster OHV six cylinder.
        The half-ton and 3/4-ton pickup's standard transmission was a three-speed; a four-speed was optional. Only the four-speed
        transmission was available for the one-ton.
    </p>

    <p>
        In addition to pickups, the Advance Design light-duty trucks with body-line continued to include half and one-ton panels and
        canopy expresses, 3/4 and one-ton stake trucks, the Carryall Suburban and the automobile based on the Sedan Delivery.
    </p>

    <p>
        Advance Design Pickups continued through 1953 with only minor engineering and styling upgrades. For example, in 1948, the
        four-speed transmission's gear shift lever was moved to the steering column from the floor and the parking brake was changed
        from a floor mounted lever to a foot actuated pedal on the driver's far left. These changes cleared the floor of obstructions
        for the convenience and comfort of the passenger seated in the middle. The former four-speed spur-type transmission was changed
        to a synchromesh unit to eliminate double clutching.
    </p>

    <p>
        In 1949, the gas tank was moved to inside the cab behind the seat back. In 1950, the 216.5 cubic inch six-cylinder engine was
        tweaked to put out 92 horsepower at 3400 rpm and 176 ft-lb. of torque at 1000 to 2000 rpm. In 1951, the left-side cowl vent was
        eliminated, and was replaced by door vent windows. New push-button door handles were a 1952 model year introduction.
    </p>
    <div class="adhistorypic2">
        <img src="/Images/History/adhistory2.jpg" width="140"></>
    </div>
    <p>
        The first and only major Advance Design styling and engineering changes occurred with the 1954 models. These models featured a
        pleasing one-piece windshield, an all-new grille, new parking lights and a new steering wheel and instrument panel. Engineering
        advancements included the new standard 235.5-cubic-inch OHV six-cylinder engine producing 112 horsepower and 200 ft-lb. gross
        torque. The full automatic Hydra-Matic transmission became an option for light-duty trucks. These trucks continued into 1955 and
        remained on sale until March 25, 1955 when Chevrolet announced all-new Early V8 pickup trucks. Chevrolet pickups were number one
        in sales during every year of the Advance Design Era.<br />
    </p>
    <div class="HowToTitle1">Identifying Changes By Year</div>
    <div class="TitleByLine">thanks Tom Caperton for this list!</div><br />
    <p>
        <b>1947</b>
        Saturday June 28, 1947... GM introduced the new "Advance Design" (AD) truck. Gas tank mounted under the bed and fills through
        the hole in passenger side of the bed. 3-speed Tranny (non-synchromesh) is floor shift on all models - three and 4-speed alike.
        Doors have one-piece glass with no vent window, and door handles are turn-down type. Windshield is 2-piece. Hood side emblem
        says CHEVROLET and THRIFTMASTER. Cab 'corner windows' introduced for first time. Hand-operated emergency brake handle is
        located on the right-hand side of the floor shifter. Fresh air heater/defroster introduced. Radio available as an in-dash
        option for first time. Headliner center bow is screwed to roof of cab.
    </p>
    <p>
        <b>1948</b>
        Shifter for tranny moved to the column ("three on the tree"), and the synchromesh transmission was introduced. Emergency brake
        moved to far left side of steering column and was changed to a foot-operated mechanism. 1947 and 1948 models had red needles
        on the gauges.
    </p>
    <p>
        <b>1949</b>
        Hood side emblems now have CHEVROLET along with the series designation (3100, 3600, etc.) THRIFTMASTER on hood side emblems
        discontinued. Gas tank moved to inside the cab behind seat. Mid-year 1949, cab wind-lace goes from black to gray/tan and slides
        into track. Headliner center bow is changed to "floating" type and not screwed to roof of cab as before.
    </p>
    <p>
        <b>1950</b>
        Lever-action shocks are replaced by modern tubular shocks. This is the last year for the driver-side vent. Handle for side
        cowl vent is flat steel, not maroon plastic as it was previously. Wiper knob is chrome plated steel.
    </p>
    <p>
        <b>1951</b>
        One-piece door glass gives way to two-piece glass with vent windows. During the year, Chevy changed the bed from a 9-board
        to an 8-board pattern. Front bumper was standard, and rear bumper was an option. Only top cowl vent offered; driver-side vent
        discontinued. Only year with vent windows AND pull-down exterior door handles. Last year for chrome inside window handle knobs
        and chrome wiper knob.
    </p>
    <p>
        <b>1952</b>
        Exterior door handles are now push button type. Speedometer changed from a max of 80 mph to 90 mph. Half way through the year,
        GM stopped using 3100, 3600, 3800 emblems on side of hood whereas CHEVROLET kept them all year. No rear bumper offered.
        Horizontal strips below and above radio speaker grille plus glove box door changes to painted steel and not stainless steel as
        in previous years. Hubcaps change from chrome to gray painted steel with black block letters, but stamping and shape remain
        the same as prior years. Bumpers are no longer chrome, but gray painted steel.
    </p>
    <div class="floatr">
        <img src="~/Images/History/Sales Service oLD.jpg" />
    </div>
    <p>
        <b>1953</b>
        Last year for the 216 cubic inch engine. Hood front emblem now stainless steel, and hood side emblems lose the CHEVROLET but
        keep the series numbers (3100, 3600, etc.) First year a side-mounted spare is offered as an option. Rear bumper reintroduced.
        Last year for wood blocks under bed. Wiper knob is maroon plastic, as in 1952. First year for blue and silver ID door plate
        (prior years were black and silver.)
    </p>

    <p>
        <b>1954</b>
        High-pressure 235 cubic inch 112-horsepower engine introduced for pickups, and 261 ci engine introduced for larger trucks.
        Hubcaps are same shape as previous models, but now have only the "Bowtie" emblem. Old horizontal grille gives way to new
        bull-nose grille. First year for parking lights... introduced with new grille. The two-piece windshield is replaced with
        modern one-piece curved glass. Dash instruments and steering wheel changed to modern design. Bed redesigned, and top rails
        are now flat, not sloped like previous models. Taillights are now round. Rear bumper now has "notch" in center for license
        plate. Hydra-Matic transmission available in trucks for first time. Two-tone cabs available for first time as an option, but
        only with white top and only on more deluxe cabs. Full wheel covers now available as an option.
    </p>

    <p>
        <b>1955</b>
        First year for open drive shaft on pickup and panel truck. Final year for 6-volt system.
    </p>
    <p>
        <b>Notes:</b>
        <ul>
            <li>1947-50 trucks had standard chrome bumpers on front and rear.</li>
            <li>1947-49 trucks had large fuse block on firewall.</li>
            <li>1947-50 trucks had driver-side vent.</li>
            <li>1947-49 trucks had lever-action shocks.</li>
            <li>
                1947 to mid-year 1949, cab opening wind-lace seal attached to cab with a metal retainer. Mid-year 1949, GM installed
                a track with a new style wind-lace that slid into the track.
            </li>
            <li>
                With 1955 and earlier trucks, the raised letters on the tailgate were not a contrasting color, but were body color.
                Bed planks were hard yellow pine, and were painted black.
            </li>
            <li>Prior to 1955, dark green was the standard paint color, with other colors being available as a non-cost option.</li>
            <li>
                During 1947-48, the Chevrolet painted grille bars and "back splash" bars were body color. In addition, the leading
                edge of each painted outer bar had a horizontal stripe matching the cab stripe. On the 1949-51 Chevrolet, with a
                painted grille, the "back splash" bar was white. In 1952-53 this changed to light gray to match hubcaps and bumpers.
                On chrome grilles, only the outer bar was plated. The "back splash" bar was as the painted grille.<br /><br /><br />
            </li>
        </ul>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="floatrr">
            <img src="~/Images/History/checkitout.jpg" />
        </div>
        <div class="centertable">
        <b>
            Chevrolet Truck Plant Codes<br /> 1947-1954<br /> (as found in VIN):
        </b>
        <ol>
            <li>Flint, Michigan</li>
            <li>Tarrytown, New York</li>
            <li>St. Louis, Missouri</li>
            <li>Kansas City, Missouri</li>
            <li>Oakland, California</li>
            <li>Atlanta, Georgia</li>
            <li>Norwood, Ohio</li>
            <li>Baltimore, Maryland</li>
            <li>Van Nuys, California</li>
            <li>Janesville, Wisconsin</li>
        </ol>
        </div>
        <table class="beddims">
            <tr>
                <td class="tbltitle" colspan="3">
                    Chevrolet Year and Series
                    </br> Identification, 1947-1955
                </td>
            </tr>
            <tr>
                <td class="tbltitle">Series</td>
                <td class="tbltitle">Wheelbase(in)</td>
                <td class="tbltitle">Vehicle Type</td>
            </tr>
            <tr>
                <td class="tbltitle" colspan="3">1947</td>
            </tr>
            <tr>
                <td class="tbl33item">EP</td>
                <td class="tbl33item">116</td>
                <td class="tbl33item">1/2-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">ER</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">ES</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbltitle" colspan="3">1948</td>
            </tr>
            <tr>
                <td class="tbl33item">FP</td>
                <td class="tbl33item">116</td>
                <td class="tbl33item">1/2-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">FR</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">FT</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbl33item">FS</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">FU</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbltitle" colspan="3">1949</td>
            </tr>
            <tr>
                <td class="tbl33item">GP</td>
                <td class="tbl33item">116</td>
                <td class="tbl33item">1/2-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">GR</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">GT</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbl33item">GS</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">GU</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbltitle" colspan="3">1950</td>
            </tr>
            <tr>
                <td class="tbl33item">HP</td>
                <td class="tbl33item">116</td>
                <td class="tbl33item">1/2-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">HR</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">HT</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbl33item">HS</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">HU</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbltitle" colspan="3">1951</td>
            </tr>
            <tr>
                <td class="tbl33item">JP</td>
                <td class="tbl33item">116</td>
                <td class="tbl33item">1/2-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">JR</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">JT</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbl33item">JS</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">JU</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbltitle" colspan="3">1952</td>
            </tr>
            <tr>
                <td class="tbl33item">KP</td>
                <td class="tbl33item">116</td>
                <td class="tbl33item">1/2-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">KR</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">KT</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbl33item">KS</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">KU</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbltitle" colspan="3">1953-1955 First Series</td>
            </tr>
            <tr>
                <td class="tbl33item">H 3100</td>
                <td class="tbl33item">116</td>
                <td class="tbl33item">1/2-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">J 3600</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">K 3700</td>
                <td class="tbl33item">125 1/4</td>
                <td class="tbl33item">3/4-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbl33item">L 3800</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">M 3900</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">1-Ton Forward<br />Control Delivery</td>
            </tr>
            <tr>
                <td class="tbltitle" colspan="3">1955 Second Series</td>
            </tr>
            <tr>
                <td class="tbl33item">H 3100</td>
                <td class="tbl33item">116</td>
                <td class="tbl33item">1/2-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">H 3124</td>
                <td class="tbl33item">114</td>
                <td class="tbl33item">Cameo Carrier<br />1/2-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">M 3200</td>
                <td class="tbl33item">123 1/4</td>
                <td class="tbl33item">1/2-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">F 3400</td>
                <td class="tbl33item">104</td>
                <td class="tbl33item">3/4-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">G 3500</td>
                <td class="tbl33item">125</td>
                <td class="tbl33item">3/4-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">J 3600</td>
                <td class="tbl33item">123 1/4</td>
                <td class="tbl33item">3/4-Ton Truck</td>
            </tr>
            <tr>
                <td class="tbl33item">K 3700</td>
                <td class="tbl33item">137</td>
                <td class="tbl33item">3/4-Ton Forward</br >Control Delivery</td>
            </tr>
            <tr>
                <td class="tbl33item">L 3800</td>
                <td class="tbl33item">135</td>
                <td class="tbl33item">1-Ton Truck</td>
            </tr>
        </table>
    </div>
    <div class="col-md-8">
        <div class="historytext">
            <p>
                <b>... and this from Society of Automotive Historians...</b></br></br>
                Chevrolet, America's top-selling truck brand in the Forties, was the first to get an all-new line of commercial vehicles on the market
                after World War II when it introduced its Advance-Design line in the summer of 1947. It's been a reliable favorite ever since that 1947
                Chevrolet truck. <br /><br />
            </p>
            <p>
                America's automakers stopped building cars during World War II, but they never stopped making trucks. Truck production continued at a
                strong pace throughout the war. From late 1939 through 1945, U.S. truck manufacturers turned out 3.2 million military transport vehicles,
                many of them quarter-ton jeeps, and pickups in half- and three-quarter-ton sizes.<br /><br />
            </p>
            <p>
                Chevrolet alone built more than 56,000 pickups between March 1942 and August 1945. All General Motors-built pickups produced during the
                war years were basically 1941-1942 models. Those same designs continued with some upgrades after the war, but by mid 1947, Chevrolet and
                GMC introduced entirely restyled truck lines. These became the first re-bodied General Motors vehicles produced after the war, and they
                arrived six months before any of the Big Three manufacturers -- GM, Ford, and Chrysler -- applied major styling changes to their postwar
                passenger cars.<br /><br />
            </p>
            <p>
                Chevrolet's and GMC's so-called "Advance-Design" trucks entered production in May 1947 and officially went on sale on June 28, 1947.
                Contrast that date with GM's first restyled passenger cars, the 1948 Oldsmobile and Cadillac, which didn't reach dealerships until
                February and March of that year, respectively. The same thing happened at Ford and Chrysler. Ford's restyled trucks became available
                in January 1948, while the first all-new postwar Ford Motor Company cars, the 1949 Mercury's and Lincoln's, had to wait until April 1948.
                Redesigned postwar Dodge trucks became available in December 1947, while the first redone Mopar passenger cars didn't go on sale until
                February 1949.<br /><br />
            </p>
            <p>
                Which brings us to an intriguing question: Why this rush to restyle America's postwar trucks before its cars? Taylor Vinson, of the Society
                of Automotive Historians, suggests that, because truck production did continue through the war, the body dies were probably well worn by
                VJ Day. Most had been used since before the war, and they'd most likely been patched and repaired many times. So, instead of continuing
                with the old dies, the manufacturers probably decided that it was cheaper and easier to design and create entirely new sets.<br /><br />
            </p>
            <p>
                The 1947 Chevrolet pickup design had been in the works in Harley Earl's GM Styling Section since at least 1942. Harley J. Earl was GM's
                first vice president of design and the undisputed trend leader in American vehicle design. Precisely who was involved in the 1947 truck
                designs is uncertain. However, several clay models from 1943 showed the beginnings of the 1947 design: headlights integrated into the
                front fenders, tall hood, and split windshield. But these clays also had more sedan-like grilles and bumpers. Where the final production
                grille and interior came from also remains a mystery.<br /><br />
            </p>
            <p>
                There was no identifiable truck studio within GM Styling during and just after World War II. GM's first dedicated truck and coach studio,
                under Luther W. Stier, came into being on November 21, 1949. However, Lu Stier had previously been a member of the Chevrolet passenger-car
                studio, so it's possible that he'd been one of the designers working on the new look for Chevy's 1947 trucks.<br /><br />
            <p>
                Fisher Body, the General Motors division that produced sheet-metal stampings for GM automobiles, had nothing to do with truck bodies. For
                the corporation's trucks and commercial vehicles, body engineering and production were done internally by the Chevrolet and GMC divisions.
                Chevy and GMC likewise designed and created their own body dies.<br /><br />
            </p>
            <p>
                Stampings were produced in GM's Indianapolis, Indiana, facility and then shipped out to Chevrolet and GMC truck assembly plants in
                Janesville, Wisconsin; Nor­wood, Ohio; Flint, Michigan; Oak­land and Los Ange­les, California; Tarry­town, New York; St. Louis, Missouri;
                Kan­­sas City, Kansas; Atlanta, Georgia; and Bal­timore, Mary­land.<br /><br />
            </p>
            <p>
                The light-duty Advance-Design trucks that are the focus of this article came in three series, all of them designated as "Thrift-Master"
                models. The 3100 series denoted half-ton trucks; three-quarter-tonners made up the 3600 series; and one-tons were in the 3800 range.
                (New Chevy trucks with 11/2- and two-ton capacity ratings were dubbed "Load-Master.") Common to all three light-duty lines were pickups
                -- the most popular of all truck styles -- as well as cab-and-chassis, cowl-and-chassis, and cowl/windshield-and-chassis versions intended
                for the mounting of specialized after-market bodies.<br /><br />
            </p>
            <p>
                The 3100 and 3800 series also included fully enclosed panel and open-sided canopy express variants. The former featured twin side-hinged
                rear doors, while the latter, a descendant of one of the oldest light-truck styles around, sported a low rear tailgate and waterproof
                roll-up curtains on the back and sides. Another panel truck variation was the Carryall Sub­­urban, an all-steel eight-passenger station
                wagon restricted to the 3100 line. Stake-side and flatbed platform models were offered in the 3600 and 3800 ranges.<br /><br />
            </p>
            <p>
                Cosmetically, GM's 1947 Advance-Design models looked unlike anything built to that time. "Round and juicy" is the way retired GM design
                vice president Charles M. "Chuck" Jordan describes them. GM's new trucks created quite a stir when they broke cover in mid 1947. Their
                overall shape and detailing were thoroughly modern at the time. They looked surprisingly simple, yet these trucks had a rugged elegance
                that was wholly without precedent. (The design has become so indelible that Chevy plays off of it for the retro SSR pickup, built in the
                2004-2006 model years.)<br /><br />
            </p>
            <p>
                On the practical side, the new cabs were larger, more comfortable, and more user-friendly than Chevrolet's previous models. According to
                truck authority Don Bunn, writing on the Website Pick-upTruck.com, Chevrolet queried fleet owners before establishing the dimensions and amenities for the Advance-Design trucks. Surveys showed that drivers wanted more interior space,
                a seat wide enough for three adults instead of two, better outward vision, and easier entry and exit.<br /><br />
            </p>


            <p>
                Chevrolet's truck engineers, under the direction of John G. Wood, made the all-steel cab wider by having the body-sides overhang the frame
                side-rails. This moved the doors outward several inches so that their outer surfaces came down almost parallel with the perimeter of the
                running boards. As a result, three adults could indeed sit side by side in the cab.<br /><br />
            </p>
            <div class="floatl">
                <img src="/Images/History/Old Super Chevy Service.jpg" />
            </div>
            <p>
                Ventilation was improved, too. Chev­rolet said it had "the cab that breathes," though the windshield no longer could be cranked open at the
                bottom. Fresh air was taken in through a louvered cowl vent on the passenger's side and a flip-open vent on the driver's side, as well as
                through a cowl-top vent. Air continually entered the cab through the right-side louvers (which also fed the optional heater/defroster when
                ordered) and was then ducted into the interior through slots behind the base of the windshield. Air circulated through the interior
                exiting via a long slot at the bottom of the rear window on cab models.<br /><br />
            </p>

            <p>
                The driver could also open the cowl vent on his side, from which air entered through openings in the kick panel.
        </div>
    </div>
</div>
<div class="historytext">
    To further improve sight
    lines, glass area was enlarged. Curved "Nu-Vue" windows could be ordered for the rear corners of cab models. Much attention went into the
    bench seat design. The bottom cushion could easily be lifted up and out to give access to a toolbox under the floor. The seat itself,
    upholstered in dark maroon leatherette, could be adjusted for height and leg room by sliding it up and back on wedge-shaped floor runners.
    Moving the seat forward simultaneously angled it upward, automatically adjusting it to the driver's height so that a short person could
    see out just as easily as a tall one.<br /><br />
    </p>

    <p>
        Cab models had a single bench seat. Suburbans used a short bench wide enough to accommodate the driver and middle passenger, plus a
        separate seat for the right-side passenger. This seat slid forward to allow access to the removable middle and third-row benches. Panel
        and canopy models came standard with a single seat for the driver, but a matching passenger seat could be ordered.
    </p>
</div>





