@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advance Design Restoration How-To's";
    ViewBag.Message = "The Reason We are Here!";
}
<div class="HowToTitle1">Advance Design</div>
<div class="HowToTitle2">Restoration How-To's</div>
<div class="HowToText">
    <p>
        <em><h4>This is really the fun stuff!</h4></em> What it's all about. Networking with others to find solutions to problems from the
        seemingly simple to the very difficult is a very important aspect of what we do. The solutions listed on this page
        are from all over the world and collaborated on by many.
    </p>
    <p>
        One person makes a cart to move his cab around out of a few 2 by 4's, the next guy sees it and says.. we could put wheels
        on that cart, the next guy says, how about putting a high rise pedestal on it so we can use it in the paint booth, another
        says, we should make it out of metal so it doesn't deteriorate from the wet sanding, another says, we need to put LARGE
        wheels and a removable trailer hitch on it so I can use my lawnmower to pull it out into the back 40 for sandblasting, etc.
    </p>
    <p>
        This is how great solutions are achieved. Each of the guys above may have been on different web sites and saw a piece of
        the puzzle, or thought of it on their own. Here, we try to put these things together to make extraordinary solutions. If we
        all stop by <a href="http://forums.devestechnet.com"> TechNet</a> we can add a new dimension to this phenomena, Criteria!

        In the above example, 40 carts were made before the really good one was introduced. Here, we discuss something we call
        Solution Criteria for each new invention or solution and cut to the chase with much less effort. You will find that
        philosophy in action on <a href="http://forums.devestechnet.com"> TechNet</a>. Enjoy!
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <aside>
            <b>Note:</b>  In order to provide you a library of paper documentation that is of really good quality, many of these documents
            are in Adobe PDF format. This format will allow you to simply print what you see here to your printer with unparalleled quality.
            To do this, you must download and install <a href="http://www.adobe.com/products/acrobat/readstep.html">Adobe Acrobat Reader</a>.
            It's 100% FREE and you will be very glad you did. This file is directly from Adobe.com, so there is no need to worry about
            viruses, simply click on the link below!
            <br /><br /><br />
            <a href="http://www.adobe.com/products/acrobat/readstep.html">
                <img class="center" src="http://images.devestechnet.com/HowTo/get_adobe_reader.jpg"
                     width="88" height="31" alt="Get Adobe Reader!" />
            </a>
        </aside>
        <a id="engine"></a>
        <div class="HowToTitle1">Engine Related</div>
        <div class="HowToText">
            <a href="http://images.devestechnet.com/216Enginelg.jpg">
                <img class="floattoright" img src="http://images.devestechnet.com/216Enginelg.jpg" width="250">
            </a>
            <a href="/Figures/enginerebuildingchecklist.pdf"><b>Engine Rebuilding Checklist</b></a>. This is a very comprehensive form approved by
            the Automotive Engine Re-builders Association to help you make sure you have caught every aspect of the rebuild.
            <br /><br />
            <a href="/Home/CastingNumbers"><b>GM Engine Casting Numbers</b></a>. Not sure what engine is in your truck? This list should tell you
            the exact year, make and displacement of your engine.
            <br /><br />
            <a href="/Home/HeadTorque"><b>216/235/261 Head Torque Specifications</b></a>. This is a nice tightening sequence chart for your
            216/235/261 engines.
            <br /><br />
            <a href="/Home/ValveOiler"><b>Valve Oiler Pipe Instruction for 216 Engine</b></a>. A diagram for the 216 re-builder to better
            understand the valve oiler pipe and how its routed.
            <br /><br />
            <a href="/Home/FuelFilter"><b>Advance Design Fuel Filter Placement</b></a>. You might be scratching your head as to where you are
            supposed to put that nice shiny new glass fuel filter with the stock Horn in the way! No more!
            <br /><br />
            <a href="/Home/AirFilter"><b>Advance Design Air Filter Options</b></a>. Nice to know there are two different types of Air Filtration
            systems available and both are 100% stock.
            <br /><br />
            <a href="/Home/PCVInstall"><b>Installing a PCV System on a 216/235/261 Engine</b></a>. Tired of that road draft tube dripping
            on your precious concrete? This inexpensive solution has the added benefit of keeping your engine running better, longer.
            <br /><br />
            <a href="/Home/FullFlowOil"><b>Installing a Full Flow Oil Filter System on a 235/261 Engine</b></a>. This is a very nice way
            to get a full flow oil filter system to improve engine longevity.
            <br /><br />
            <a href="/Figures/enginetiming.pdf"><b>216/235/261 Engine Timing Procedure by Jeff Pohlar</b></a>. This is probably the best Timing
            Procedure I have run across. Very easy to understand, and it works flawlessly.
            <br /><br />
            <a href="/Home/TuneUpGuide"><b>Tuning Up The Old Stovebolt by Nathan Hall</b></a>. We added lots of material here since we began including
            a slide show direct from GM. Then, Nate is amazing in his ability to explain in detail how to wake up your sluggish engine and give
            it the pep it once had or get your new engine timed for initial run-up. Then, we also included a nice How-To on <b>Testing Your Compression!</b>
            <br /><br />
            <a href="/Home/ValveAdjust"><b>216/235/261 Valve Adjustment Procedures by Nathan Hall and Jeff Pohlar</b></a>. These procedures cover both
            solid lifters and hydraulic lifters very well written and explained in detail.
            <br /><br />
            <a href="/Figures/v8stovebolt.pdf"><b>V8 Juice For Your Stovebolt (1950 3100)</b></a>. An article that was first printed in February of
            1977 Street Rodder.
            <br /><br />
            <a href="/Home/TheVenerable261"><b>The Venerable 261!</b></a> This is a great read if you have or are contemplating a 261 for your
            project.
            <br /><br />
            <a href="/Home/RochesterCarb"><b>Rebuilding a Rochester B</b></a>. Watch how GM technicians did it back in the day or check out the step-by-step.
            <br /><br />
            <a href="/Home/HEIgnition"><b>HEI for your Stock Dizzy</b></a>. Some of the industries best have been helping with this. It has been fully
            tested and we are in the process of creating kits for our friends! Stay tuned!
            <br /><br />
            <a href="/Home/StockIgnition"><b>Rebuilding the Stock Distributor/The Stock Ignition System</b></a>. GM did a great job on the stock Ignition system.
            Here we try to take some of the mystery out of it. If that doesn't work, we let GM tell the story!
            <br /><br />
            <a href="/Home/Project1959235"><b>Rebuilding a 1959 235 Engine</b></a>. This article takes you through the entire process from tearing down
            your engine to rebuilding every sub-system and finishing with the proper break-in procedure. It is 100% complete!
            <br /><br />
            <a href="/Home/DipstickTubePlans"><b>Making Your Own Stainless Steel Dipstick Tube</b></a>. Adding Bling to your engine is easier than you
            think. This very easy operation will give you a chance to understand your oil measurement system and add value to your project.
            <br /><br />
            <a href="/Home/HEIMountPlans"><b>Alternate Location for the Ignition Ballast Resistor or HEI Module</b></a>. If you are worried about hot Ballast
            Resistors damaging your paint, or just want a cool place to put your HEI module, check this out!
            <br /><br />
            <a href="/Home/CarbAdapterPlans"><b>Mounting your original Air Filter Cannister on your Newer Style Carb</b></a>. If you have a newer 235/261
            and the newer Carb, but want to put the old style Air Filter Cannister on it, this mod is for you!
            <br /><br /><br /><br />
            <center>
                <a href="http://images.devestechnet.com/HowTo/Nostalgia.jpg">
                    <img src="http://images.devestechnet.com/HowTo/Nostalgia.jpg" width="330">
                </a>
            </center>
            <br /><br />
        </div>
    </div>
    <div class="col-md-6">
        <a id="driveline"></a>
        <div class="HowToTitle1">Drive-line Related</div>
        <div class="HowToText">
            <a href="/Figures/ShifterMech.pdf"><b>The Better Shifter for Your 3 on the Floor!</b></a> After all these years, we now have a 3 speed
            floor shifter that looks and feels like a 4 speed! Check it out!
            <br /><br />
            <a href="/Home/LubeCharts"><b>Stock and RichField Lube Charts</b></a>. Lubing your chassis correctly will save wear and tear on vintage parts.
            Here's the correct locations.
            <br /><br />
            <a href="/Home/TireCalc"><b>Axle Ratio/Tire Size Calculators</b></a>. Do you know what the optimum tire size to gear ratio is? Me either!
            But if you ever do, this is a really slick method of finding out.
            <br /><br />
            <a href="/Home/Flywheel"><b>Flywheels Explained in Detail</b></a>. Everything you need to know about the all important Flywheel and how it works for
            6 and 12 volt applications on our vintage engines.
            <br /><br />
            <a href="/Home/HubCapClips"><b>Smokey's Hubcap Clip Installation Primer</b></a>. This is a very slick way of getting those clips for the
            baby moon hubcaps on later model rims.
            <br /><br />
            <a id="Borg"></a>
            <a href="/Figures/bwoperators.pdf"><b>Borg Warner 3-Speed Overdrive Operator's Manual</b></a>. Consider this your one stop shop for information
            on the Borg-Warner Overdrive systems that are so popular. This is the Operators Manual.
            <br /><br />
            <a href="/Figures/bwservice.pdf"><b>Borg Warner 3-Speed Overdrive Service Manual</b></a>. This is the original service manual. Answers a whole
            lot of questions for the .50 cent price-tag!
            <br /><br />
            <a href="/Figures/bwrebuild.pdf"><b>Borg Warner 3-Speed Overdrive Rebuild Document</b></a>. This is a well written article for doing your
            own rebuild.
            <br /><br />
            <a href="/Figures/bwwiring.pdf"><b>Borg Warner 3-Speed Overdrive Wiring Document</b></a>. This is a must have for the Borg OD owner. It explains
            in detail how to wire every aspect of this system.
            <br /><br />
            <a href="/Figures/bwtips.pdf"><b>Borg Warner 3-Speed Overdrive Tips</b></a>. Another well written article on how to keep your Overdrive working
            smoothly.<br /><br />

            <a id="sheetmetal"></a>
            <div class="HowToTitle1">Chassis/Sheet-metal Related</div><br />
            <a href="/Home/PaintColors"><b>Advance Design Paint Color Information</b></a>. This is a pretty extensive listing of the common colors
            for everything other than the outside colors. More research is needed.
            <br /><br />
            <a href="/Home/Bedwood"><b>Advance Design Pickup Bedwood Specifications</b></a>. When it comes time to do a full restoration of your
            bed, this is good reading.
            <br /><br />
            <a href="/Home/CabRelated"><b>Advance Design Cab Information</b></a>. Rich with original GM Slide-show footage of how it was done back in
            the day, this How-To is designed to include everything cab related. We have a long ways to go, but we are getting there!
            <br /><br />
            <a href="/Home/StakeRail"><b>Advance Design Stake and Rail Sideboards</b></a>. There are many styles of sideboards. This is a good
            example to give you ideas when the time comes.
            <br /><br />
            <a href="/Home/SideEmblems"><b>Advance Design Hood Side Emblems</b></a>. This is a pictorial of the correct side emblems by year for
            the Advance Design era.
            <br /><br />
            <a href="/Figures/framerivets.pdf"><b>Re-Riveting a 1950 Chevy Pickup Frame</b></a>. For the purists out there, there IS a way to reinstall
            the correct rivets in your damaged frame and it's surprisingly easy with a little preparation.<br /><br />

            <a id="misc"></a>
            <div class="HowToTitle1">Misc. and Electrical Systems Related</div><br />
            <a href="/Home/WarningSystem"><b>Introducing the Critical Information System!</b></a> This article will cover everything you need to
            know about creating and installing your very own Critical Systems Warning Box. This could very well be the most useful article on the
            site!
            <br /><br />
            <a href="/Home/Native12VUpgrade"><b>Going Native! Changing Over to a True 12 Volt System!</b></a> This article covers all systems
            that require attention when upgrading to 12 volts looking at it from an efficiency perspective. Very in-depth.
            <br /><br />
            <a href="/Home/ADWiringSystem"><b>Advance Design Wiring System</b></a>. Incomplete but there is a nice wiring diagram included in very
            high resolution.
            <br /><br />
            <a href="/Home/UnitySpotlight"><b>Installation of the GM/Unity Spotlight on the AD</b></a>. Pretty comprehensive overview with
            installation manual and template.
            <br /><br />
            <a href="/Home/HeaterRestore"><b>Advance Design Deluxe Heater Restoration</b></a>. This is especially helpful if you are changing over
            from 6 to 12 volts. <b>NEW BONUS MATERIAL - Restoring your Ranco Heater Control Valve!</b>
            <br /><br />
            <a href="/Home/SeatBelts"><b>Advance Design Seat Belt Assembly Installation</b></a>. An instruction for securely mounting a
            three point shoulder belt system into your AD.
            <br /><br />
            <a href="/Home/SteeringGearbox"><b>Advance Design Steering Gearbox Repair</b></a>. An overview made back in the day on how to rebuild
            your steering gearbox with the vendor provided kits.
            <br /><br />
            <a href="/Home/SteeringWheel"><b>Advance Design Steering Wheel Repair</b></a>. Here is a useful document on how to fix that crusty old
            steering wheel.
            <br /><br />
            <a href="/Home/DrumRemoval"><b>Advance Design Bendix Brake Drum Removal</b></a>. Do you forget which way to move the spanner when
            removing brake drums, or adjusting them?
            <br /><br />
            <a href="/Home/GloveboxLock"><b>Advance Design Glove-box Lock Removal Document</b></a>. There is the right way and there is the wrong way.
            Let's ask Briggs and Stratton!
            <br /><br />
            <a href="/Home/LicensePlateResto"><b>DIY License Plate Restoration</b></a>. Tips from our friend Rob at the OleTrucks list on how to
            restore your vintage license plates.<br /><br />
            <a href="/Home/SeatFrameRR"><b>Removal and Re-installation of the AD Seat Frame</b></a>. Tom Caperton's instruction on removing and replacing
            the seat frame.
            <br /><br />
            <a href="/Home/HitchPlans"><b>Deluxe Hitch System w/ Spare Tire Carrier</b></a>. This is a complete how-to make your own very solid trailer
            hitch system that works great with the under-bed spare tire carrier!
            <br /><br />
            <a href="/Home/SeatDrawers"><b>AD Seat Pedestal Drawer System</b></a>. This How-To takes careful planning and precision, but in the end you
            will have two 16"x18" drawers built into the Seat Pedestal. Pretty cool huh?
            <br /><br />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a id="shop"></a>
        <div class="HowToTitle1">Shop Helpers, Jigs and Related</div><br />
        <aside>
            This is a new section and my favorite. I have enjoyed researching for this immensely and even better, it has made my life
            a whole lot easier. A few of my favorite forums for this research include weldingweb.com and autobody101.com.
        </aside>
        <div class="HowToText">
            <a href="/Home/NutsAndBolts"><b>Misc. Fastener Information</b></a>. This is a pretty comprehensive look at Bolt Markings, Bolt Head
            Dimensions, and Bolt Tension and Clamping and their meanings. The proper strength of bolt for the job is really important.
            I will be appending this document as I get further information.
            <br /><br />
            <a href="/Home/SandBlasting"><b>Deve's Sandblasting Tips, Tricks and Links</b></a>. Nasty work sandblasting, but someone has to do it!
            Hopefully this helps make it a little easier.
            <br /><br />
            <a href="/Home/EngineCartPlans"><b>Making an Engine Cart for GM 6's</b></a>. These little carts will hold an Engine with Bell-housing and even transmission
            attached. The idea is to make it easy to roll these heavy buggers around your shop!
            <br /><br />
            <a href="/Home/RollerStandPlans"><b>Making a Shop Roller Stand</b></a>. Or two! These roller stands are really handy when cutting long materials on any
            saw or drill press. Very stout right down to the ball bearings!
            <br /><br />
            <a href="/Home/RotisseriePlans"><b>Making a Frame Rotisserie for 1947-1955 AD Pickups</b></a>. One of the most useful items in my shop is this really stout
            frame rotisserie made from two Engine Stands. Works great for all the steps in the frame-up process.
            <br /><br />
            <a href="/Home/SuperJigPlans"><b>Making a Body Shop SuperJig</b></a>. Another very useful shop tool that I use for a lot of the restoration process. And best of
            all it was fun to build! Check it out and tell me what you think!
            <br /><br />
            <a href="/Home/StartKartPlans"><b>Making a Start Kart</b></a>. Inspired by the Medical Crash Carts they use for heart attack victims, this all-in-one Cart
            has everything you need on board to troubleshoot both fuel system and electrical system issues. You need one of these!
            <br /><br />
            <em>More to come...</em><br /><br />
            Sandblasting Small Parts Machine<br />
            Charts and Graphs<br />
            StoveBolt Engine Stand on Steroids<br />
            Unique Welding Table<br />
            Tables for Just About Anything<br />
            Garage Paint Booth on a Budget<br /><br />
            <h4><em>Join the discussion in our <a href="http://forums.devestechnet.com">Forums!</a></em></h4>
        </div>
    </div>
</div>

