@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Smokey's Hubcap Clip Installation Primer";
    ViewBag.Message = "How to Install those Pesky Clips!";
}
<div class="HowToTitle1">Smokey's Hubcap Clip Installation Primer</div><br />
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
</aside>
<div class="aside1main">
          <a href="http://images.devestechnet.com/Projects/HubCapClips/clip1lg.jpg">
            <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HubCapClips/clip1sm.jpg">
        </a>
        <a href="http://images.devestechnet.com/Projects/HubCapClips/clip2lg.jpg">
            <img class="PicsRight" src="http://images.devestechnet.com/Projects/HubCapClips/clip2sm.jpg">
        </a><br />
        <p>
            <strong>Step 1:</strong> The first thing you have to do is determine where the clips are to be mounted on the wheel. You
            can hold a couple in place with tape to get an idea of where to mount them, then you can lower the hubcap over them to see
            if it will be a snug fit once they're installed.<--<br /><br />

            <strong>Step 2:</strong> I found that it was necessary to flatten the clips out somewhat. Laying them down on a flat
             surface and striking them with a hammer will do this, but be careful. They can break, so it is a good idea to have a
             few extras just in case.-->
        </p>
    </div>
<div class="aside1main">
           <a href="http://images.devestechnet.com/Projects/HubCapClips/clip3lg.jpg">
            <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HubCapClips/clip3sm.jpg">
        </a>
        <a href="http://images.devestechnet.com/Projects/HubCapClips/clip4lg.jpg">
            <img class="PicsRight" src="http://images.devestechnet.com/Projects/HubCapClips/clip4sm.jpg">
        </a><br />
        <p>
            <strong>Step 3:</strong> Once you decide where you want the clips, you can mark with a pencil. I will not paint the rim
            until this job is done, so that I can see my marks as I go.<--<br /><br />

            <strong>Step 4:</strong> Now you can take a punch and mark your holes to be drilled. I recommend installing 2 clips at
             first; one on each side, just to see how the hubcap is going to fit. I chose to install a total of 4 per wheel, which
             works very well. -->
        </p>
    </div>
<div class="aside1main">
        <a href="http://images.devestechnet.com/Projects/HubCapClips/clip5lg.jpg">
            <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HubCapClips/clip5sm.jpg">
        </a>
        <a href="http://images.devestechnet.com/Projects/HubCapClips/clip6lg.jpg">
            <img class="PicsRight" src="http://images.devestechnet.com/Projects/HubCapClips/clip6sm.jpg">
        </a><br />
        <p>
            <strong>Step 5:</strong> When you drill the holes, obviously you want a hole smaller than the screw that you are going
            to use. The reason I mention this is that if you twist the screw too tight, you can break it off, which can really be a
            pain!<--<br /><br />

            <strong>Step 6:</strong> Referring again to breaking the screws off, I highly recommend a nut driver or screwdriver, as
             opposed to a ratchet or drill. I guess you can tell, I broke a couple off before I finally got smart! -->
        </p>
    </div>
<div class="aside1main">
        <a href="http://images.devestechnet.com/Projects/HubCapClips/clip7lg.jpg">
            <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HubCapClips/clip7sm.jpg">
        </a>
        <a href="http://images.devestechnet.com/Projects/HubCapClips/clip8lg.jpg">
            <img class="PicsRight" src="http://images.devestechnet.com/Projects/HubCapClips/clip8sm.jpg">
        </a><br />
        <p>
            <strong>Step 7:</strong> The hubcap should fit pretty tightly once the clips are installed. Be careful to see that each
            clip goes to the inside, and not the outside of the hubcap when you snap it on.<--<br /><br />

            <strong>Step 8:</strong> Here's the good part. The clips can be adjusted, once installed, by tapping with a hammer and/or
             tightening or loosening the screws as necessary until you get a tight fit. Be careful with the hammer, because the clips,
             as stated earlier, can break, so it's a good idea to have a few extras on hand. -->
        </p>
    </div>
<div class="aside1main">
        <a href="http://images.devestechnet.com/Projects/HubCapClips/clip9lg.jpg">
            <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/HubCapClips/clip9sm.jpg">
        </a><br />
        <p>
            With a coat of paint and the addition of a chrome beauty ring, the hubcap looks pretty good, wouldn't you say? And I might
            add that if I can do it, anybody can install these clips! Good luck!!!
        </p>
</div>

