@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "License Plate Restoration.. Your Way!";
    ViewBag.Message = "Do It Yourself License Plate Restoration";
}
<div class="HowToTitle1">License Plate Restoration.. Your Way!</div>
<div class="TitleByLine"> by Rob Jacobs</div><br />
<div class="aside1main">
    <img class="PicsLeft" img src="/Images/adart8.jpg">
    <p>
        Have you given any thought to doing them yourself?  Several years ago, Classic Auto Restorer magazine had an article on how to do this.
        I have done several plates and other items, and, if I may say so myself, they are as good as anyone else could do.  The only trick is
        finding the right paint in the right color. The process is fairly simple.
    </p>
    <p>
        First, remove all the old paint. If you can keep the water hot, a hot water bath with crystal Drano will do wonders...but, don't do this on
        aluminum plates...draino is harmful to aluminum (including the pan you use of course) - BUT, cold water and Drano will take forever to work.
        Anyway, anyway you want to remove the old paint is fine.
    </p>
    <p>
        Next, paint the entire plate in the letter color using a lacquer paint. Spray paint works just fine.  Put on two-four light to med. coats.
        Lacquer dries pretty quickly, so you should be able to do all coats in a single weekend day. Let it dry for approx. 1 week, but I've done
        the next steps as early as 3 days later. Next, paint the entire paint with a fairly heavy coat of a spray enamel.  Then, moving with
        consistency, (but speed is not really critical as long as you aren't snail slow), use enamel thinner to remove the paint from the letters.
        I've found a good cotton rag works well for the heavy letters, and then I use a q-tip for the smaller letters and fine touch up work.  As
        long as you don't let the enamel thinner work any area for a long time, you won't remove hardly any of the lacquer.  You end up with almost
        NO evidence of a line like you would get with taping.
    </p>
    <p>
        The two colors blend so nicely. Try it...a steady hand helps, but doesn't need to be rock solid (unless you also happen to be a brain surgeon of
        course). The reason for using lacquer first, is that lacquer put on top of enamel, will cause wrinkling and lifting, so it is critical that
        lacquer be the first paint used.
    </p>
    <p>
        I've used this process on many different items where you need two contrasting colors (another example were the dials on my old gas pump-the
        dial is white with black letters, so I painted the whole dial black with lacquer, waited several days, then painted the whole dial white and
        began removing the white from the letters...looks SO much better than the decals most use on their restorations).  You can even do multiple
        colors...just tape off the portion first painted with lacquer, then paint the next part with lacquer, and continue until you have everything
        that will need to show through the top coat, painted in the right color...then begin the enamel painting/removing...and Ta Da, you be done!
    </p>
    <p>
        Anyway, give it a try. Sure hope I haven't left anything out. I know some others have tried this, so if I've omitted anything, please
        correct as necessary...or if any questions, email me direct. Rob
    </p>
</div>