@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chassis Lubrication Charts for 3100/3600 AD";
    ViewBag.Message = "Proper Chassis Lubrication";
}
<div class="HowToTitle1">Chassis Lubrication Charts for 3100/3600 AD</div>
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
</aside>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/LubeCharts/factorychart1lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/LubeCharts/factorychart1sm.jpg">
    </a>
    <p>
        This is apparently the factory chart. I have not checked into where this came from.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/LubeCharts/Richfield3100chart1lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/LubeCharts/Richfield3100chart1sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/LubeCharts/Richfield3600chartlg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/LubeCharts/Richfield3600chartsm.jpg">
    </a>
    <p>
        The half-ton 3100 chart is on the left.
        The 3/4-ton 3600 is on the right.
    </p>
</div>