@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Misc. Fastener Information";
    ViewBag.Message = "Fastener Information";
}
<div class="HowToTitle1">Misc. Fastener Information</div>
<div class="SmallTitle">Hex Head Bolt Markings</div>
<div class="para1">
    <p>
        The Strength and type of steel used in a bolt is supposed to be indicated by a raised mark on the head of the bolt. The type
        of mark depends on the standard to which the bolt was manufactured. Most often, bolts used in machinery are made to
        <a href="http://www.sae.org">SAE</a> standard J429, and bolts used in structures are made according to various
        <a href="http://www.astm.org">ASTM</a> standards. The tables below give the head markings and some of the most commonly-needed
        information concerning the bolts. For further information, see the appropriate standard.
    </p>
</div>
    <br /><table class="bleddims">
        <tr>
            <td class="tbltitle" colspan="5">SAE Bolt Designations</td>
        </tr>
        <tr>
            <td class="tbltitle" id="std1">SAE Grade No.</td>
            <td class="tbltitle" id="std2">Size Range</td>
            <td class="tbltitle" id="std3">Tensile Strength (ksi)</td>
            <td class="tbltitle" id="std4">Material</td>
            <td class="tbltitle" id="std5">Head Marking</td>
        </tr>
        <tr>
            <td class="alcentitem">1</td>
            <td class="alcentitem">1/4 through 1 1/2</td>
            <td class="alcentitem">60</td>
            <td class="alcentitem" rowspan="2">Low or medium carbon steel</td>
            <td class="alcentitem" rowspan="2"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/sae1-2.gif" width="70px" height="79px" alt="SAE 1-2" /></td>
        </tr>
        <tr>
            <td class="alcentitem">2</td>
            <td class="alcentitem">1/4 through 3/4<br />7/8 through 1 1/2</td>
            <td class="alcentitem">74<br />60</td>
        </tr>
        <tr>
            <td class="alcentitem">5</td>
            <td class="alcentitem">1/4 through 1<br />1 1/8 through 1 1/2</td>
            <td class="alcentitem">120<br />105</td>
            <td class="alcentitem">Medium carbon steel, quenched and tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/sae5.gif" width="70px" height="79px" alt="SAE 5" /></td>
        </tr>
        <tr>
            <td class="alcentitem">5.2</td>
            <td class="alcentitem">1/4 through 1</td>
            <td class="alcentitem">120</td>
            <td class="alcentitem">Low carbon marten-site steel, quenched & tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/sae5-2.gif" width="70px" height="79px" alt="SAE 5-2" /></td>
        </tr>
        <tr>
            <td class="alcentitem">7</td>
            <td class="alcentitem">1/4 through 1 1/2</td>
            <td class="alcentitem">133</td>
            <td class="alcentitem">Medium carbon alloy steel, quenched & tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/sae7.gif" width="70px" height="79px" alt="SAE 7" /></td>
        </tr>
        <tr>
            <td class="alcentitem">8</td>
            <td class="alcentitem">1/4 through 1 1/2</td>
            <td class="alcentitem">150</td>
            <td class="alcentitem">Medium carbon alloy steel, quenched & tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/sae8.gif" width="70px" height="79px" alt="SAE 8" /></td>
        </tr>
        <tr>
            <td class="alcentitem">8.2</td>
            <td class="alcentitem">1/4 through 1</td>
            <td class="alcentitem">150</td>
            <td class="alcentitem">Low carbon marten-site steel, quenched & tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/sae8-2.gif" width="70px" height="79px" alt="SAE 8-2" /></td>
        </tr>
</table>
 <br /><br />   <table class="belddims">
        <tr>
            <td class="tbltitle" colspan="5">ASTM Bolt Designations</td>
        </tr>
        <tr>
            <td class="tbltitle" id="std1">ASTM Standard</td>
            <td class="tbltitle" id="std2">Size Range</td>
            <td class="tbltitle" id="std3">Tensile Strength (ksi)</td>
            <td class="tbltitle" id="std4">Material</td>
            <td class="tbltitle" id="std5">Head Marking</td>
        </tr>
        <tr>
            <td class="alcentitem">A307</td>
            <td class="alcentitem">1/4 through 4</td>
            <td class="alcentitem">60</td>
            <td class="alcentitem">Low carbon steel</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/sae1-2.gif" width="70px" height="79px" alt="ASTM A307" /></td>
        </tr>
        <tr>
            <td class="alcentitem">A325<br />Type 1</td>
            <td class="alcentitem">1/2 through 1<br />1 1/8 through 1 1/2</td>
            <td class="alcentitem">120<br />105</td>
            <td class="alcentitem">Medium carbon steel, quenched and tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/astm325-1.gif" width="70px" height="79px" alt="ASTM A325 Type 1" /></td>
        </tr>
        <tr>
            <td class="alcentitem">A325<br />Type 2</td>
            <td class="alcentitem">1/2 through 1<br />1 1/8 through 1 1/2</td>
            <td class="alcentitem">120<br />105</td>
            <td class="alcentitem">Low carbon marten-site steel, quenched & tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/astm325-2.gif" width="70px" height="79px" alt="ASTM A325 Type 2" /></td>
        </tr>
        <tr>
            <td class="alcentitem">A325<br />Type 3</td>
            <td class="alcentitem">1/2 through 1<br />1 1/8 through 1 1/2</td>
            <td class="alcentitem">120<br />105</td>
            <td class="alcentitem">Weathering steel, quenched & tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/astm325-3.gif" width="70px" height="79px" alt="ASTM A325 Type 3" /></td>
        </tr>
        <tr>
            <td class="alcentitem">A449</td>
            <td class="alcentitem">1/4 through 1<br />1 1/8 through 1 1/2<br />1 3/4 through 3</td>
            <td class="alcentitem">120<br />105<br />90</td>
            <td class="alcentitem">Medium carbon steel, quenched and tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/sae5.gif" width="70px" height="79px" alt="ASTM A449" /></td>
        </tr>
        <tr>
            <td class="alcentitem">A490<br />Type 1</td>
            <td class="alcentitem">1/4 through 1 1/2</td>
            <td class="alcentitem">150</td>
            <td class="alcentitem">Alloy steel, quenched and tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/astm490-1.gif" width="70px" height="79px" alt="ASTM A490 Type 1" /></td>
        </tr>
        <tr>
            <td class="alcentitem">A490<br />Type 3</td>
            <td class="alcentitem">1/4 through 1 1/2</td>
            <td class="alcentitem">150</td>
            <td class="alcentitem">Weathering steel, quenched and tempered</td>
            <td class="alcentitem"><img class="none" src="http://images.devestechnet.com/Projects/NutsAndBolts/astm490-3.gif" width="70px" height="79px" alt="ASTM A490 Type 3" /></td>
        </tr>
    </table>
<div class="para1"><br />
    <p>
         Often one will find "extra" marks on a bolt head - marks in addition to those shown above. Usually, these marks indicate the
        bolt's manufacturer.
    </p>
    <p>
        ASTM A325 Type 2 bolts have been discontinued, but are included above because they can be found in existing structures. Their
        properties can be important in failure investigations.
    </p>
    <p>
        While the bolts shown are among the most common in the U.S., the list is far from exhaustive. In addition to the other bolts
        covered by the SAE and ASTM standards, there are a host of international standards, of which ISO is perhaps the most well-known.
    </p>
</div>
    <div class="HowToTitle1">Bolt Head Dimensions</div>
    <div class="para1"><br />
        <p>
            The strength of a bolt is determined by its diameter and the strength of the material from which it is made. Minimum material
            strengths for various grades of bolts are given in a related page. Here, we deal with the diameter.
        </p>
        <p>
            It may seem that the determination of a bolt's diameter is a simple matter of measurement, and this is indeed the case when
            the shank is exposed. In many cases, however, the shank is hidden, and the engineer who is charged with determining the strength
            of the bolted joint must infer the bolt's diameter from the size of its head. Fortunately, there are standards that govern the
            relationship between bolt size and head size. The following tables are based on information in the following:
        </p>
        <dl>
            <dd><a href="http://www.ansi.org">ANSI</a> B 18.2.1 (Square, Hex, and Heavy Hex)
            <dd><a href="http://www.astm.org">ASTM</a> A325 and A490 (High Strength Structural)
            <dd><a href="http://www.aisc.org">AISC</a> Manual of Steel Contruction (all)
        </dl>
        <div class="SmallTitle">Square Heads</div><br />
        <img class="center" src="http://images.devestechnet.com/Projects/NutsAndBolts/square.gif" width="346" height="141" alt="Square Bolt Illustration" /><br />
        <table class="blelddims">
            <tr>
                <td class="tbltitle" colspan="4">Square Bolt Dimensions (inches)</td>
            </tr>
            <tr>
                <td class="tbltitle">D</td>
                <td class="tbltitle">F</td>
                <td class="tbltitle">C</td>
                <td class="tbltitle">H</td>
            </tr>
            <tr>
                <td class="tbl25item">1/4</td>
                <td class="tbl25item">3/8</td>
                <td class="tbl25item">1/2</td>
                <td class="tbl25item">3/16</td>
            </tr>
            <tr>
                <td class="tbl25item">3/8</td>
                <td class="tbl25item">9/16</td>
                <td class="tbl25item">13/16</td>
                <td class="tbl25item">1/4</td>
            </tr>
            <tr>
                <td class="tbl25item">1/2</td>
                <td class="tbl25item">3/4</td>
                <td class="tbl25item">1 1/16</td>
                <td class="tbl25item">5/16</td>
            </tr>
            <tr>
                <td class="tbl25item">5/8</td>
                <td class="tbl25item">15/16</td>
                <td class="tbl25item">1 5/16</td>
                <td class="tbl25item">7/16</td>
            </tr>
            <tr>
                <td class="tbl25item">3/4</td>
                <td class="tbl25item">1 1/8</td>
                <td class="tbl25item">1 9/16</td>
                <td class="tbl25item">1/2</td>
            </tr>
            <tr>
                <td class="tbl25item">7/8</td>
                <td class="tbl25item">1 5/16</td>
                <td class="tbl25item">1 7/8</td>
                <td class="tbl25item">5/8</td>
            </tr>
            <tr>
                <td class="tblspacer" colspan="4"></td>
            </tr>
            <tr>
                <td class="tbl25item">1</td>
                <td class="tbl25item">1 1/2</td>
                <td class="tbl25item">2 1/8</td>
                <td class="tbl25item">11/16</td>
            </tr>
            <tr>
                <td class="tbl25item">1 1/8</td>
                <td class="tbl25item">1 11/16</td>
                <td class="tbl25item">2 3/8</td>
                <td class="tbl25item">3/4</td>
            </tr>
            <tr>
                <td class="tbl25item">1 1/4</td>
                <td class="tbl25item">1 7/8</td>
                <td class="tbl25item">2 5/8</td>
                <td class="tbl25item">7/8</td>
            </tr>
            <tr>
                <td class="tbl25item">1 3/8</td>
                <td class="tbl25item">2 1/16</td>
                <td class="tbl25item">2 15/16</td>
                <td class="tbl25item">15/16</td>
            </tr>
            <tr>
                <td class="tbl25item">1 1/2</td>
                <td class="tbl25item">2 1/4</td>
                <td class="tbl25item">3 3/16</td>
                <td class="tbl25item">1</td>
            </tr>
        </table>
        <hr />
        <div class="SmallTitle">Hex Heads</div><br /><br />
        <img class="center" src="http://images.devestechnet.com/Projects/NutsAndBolts/hex.gif" width="370px" height="122px" alt="Hex Bolt Illustration" /><br />
        <table class="beddilms">
            <tr>
                <td class="tbltitle" colspan="4">Hex Bolt Dimensions (inches)</td>
            </tr>
            <tr>
                <td class="tbltitle">D</td>
                <td class="tbltitle">F</td>
                <td class="tbltitle">C</td>
                <td class="tbltitle">H</td>
            </tr>
            <tr>
                <td class="tbl25item">1/4</td>
                <td class="tbl25item">7/16</td>
                <td class="tbl25item">1/2</td>
                <td class="tbl25item">3/16</td>
            </tr>
            <tr>
                <td class="tbl25item">3/8</td>
                <td class="tbl25item">9/16</td>
                <td class="tbl25item">5/8</td>
                <td class="tbl25item">1/4</td>
            </tr>
            <tr>
                <td class="tbl25item">1/2</td>
                <td class="tbl25item">3/4</td>
                <td class="tbl25item">7/8</td>
                <td class="tbl25item">3/8</td>
            </tr>
            <tr>
                <td class="tbl25item">5/8</td>
                <td class="tbl25item">15/16</td>
                <td class="tbl25item">1 1/16</td>
                <td class="tbl25item">7/16</td>
            </tr>
            <tr>
                <td class="tbl25item">3/4</td>
                <td class="tbl25item">1 1/8</td>
                <td class="tbl25item">1 5/16</td>
                <td class="tbl25item">1/2</td>
            </tr>
            <tr>
                <td class="tbl25item">7/8</td>
                <td class="tbl25item">1 5/16</td>
                <td class="tbl25item">1 1/2</td>
                <td class="tbl25item">9/16</td>
            </tr>
            <tr>
                <td class="tblspacer" colspan="4"></td>
            </tr>
            <tr>
                <td class="tbl25item">1</td>
                <td class="tbl25item">1 1/2</td>
                <td class="tbl25item">1 3/4</td>
                <td class="tbl25item">11/16</td>
            </tr>
            <tr>
                <td class="tbl25item">1 1/8</td>
                <td class="tbl25item">1 11/16</td>
                <td class="tbl25item">1 15/16</td>
                <td class="tbl25item">3/4</td>
            </tr>
            <tr>
                <td class="tbl25item">1 1/4</td>
                <td class="tbl25item">1 7/8</td>
                <td class="tbl25item">2 3/16</td>
                <td class="tbl25item">7/8</td>
            </tr>
            <tr>
                <td class="tbl25item">1 3/8</td>
                <td class="tbl25item">2 1/16</td>
                <td class="tbl25item">2 3/8</td>
                <td class="tbl25item">15/16</td>
            </tr>
            <tr>
                <td class="tbl25item">1 1/2</td>
                <td class="tbl25item">2 1/4</td>
                <td class="tbl25item">2 5/8</td>
                <td class="tbl25item">1</td>
            </tr>
            <tr>
                <td class="tbl25item">1 3/4</td>
                <td class="tbl25item">2 5/8</td>
                <td class="tbl25item">3</td>
                <td class="tbl25item">1 3/16</td>
            </tr>
            <tr>
                <td class="tblspacer" colspan="4"></td>
            </tr>
            <tr>
                <td class="tbl25item">2</td>
                <td class="tbl25item">3</td>
                <td class="tbl25item">3 7/16</td>
                <td class="tbl25item">1 3/8</td>
            </tr>
            <tr>
                <td class="tbl25item">2 1/4</td>
                <td class="tbl25item">3 3/8</td>
                <td class="tbl25item">3 7/8</td>
                <td class="tbl25item">1 1/2</td>
            </tr>
            <tr>
                <td class="tbl25item">2 1/2</td>
                <td class="tbl25item">3 3/4</td>
                <td class="tbl25item">4 5/16</td>
                <td class="tbl25item">1 11/16</td>
            </tr>
            <tr>
                <td class="tbl25item">2 3/4</td>
                <td class="tbl25item">4 1/8</td>
                <td class="tbl25item">4 3/4</td>
                <td class="tbl25item">1 13/16</td>
            </tr>
            <tr>
                <td class="tblspacer" colspan="4"></td>
            </tr>
            <tr>
                <td class="tbl25item">3</td>
                <td class="tbl25item">4 1/2</td>
                <td class="tbl25item">5 3/16</td>
                <td class="tbl25item">2</td>
            </tr>
            <tr>
                <td class="tbl25item">3 1/4</td>
                <td class="tbl25item">4 7/8</td>
                <td class="tbl25item">5 5/8</td>
                <td class="tbl25item">2 3/16</td>
            </tr>
            <tr>
                <td class="tbl25item">3 1/2</td>
                <td class="tbl25item">4 7/8</td>
                <td class="tbl25item">5 5/8</td>
                <td class="tbl25item">2 3/16</td>
            </tr>
            <tr>
                <td class="tbl25item">3 3/4</td>
                <td class="tbl25item">5 5/8</td>
                <td class="tbl25item">5 1/2</td>
                <td class="tbl25item">2 1/2</td>
            </tr>
            <tr>
                <td class="tblspacer" colspan="4"></td>
            </tr>
            <tr>
                <td class="tbl25item">4</td>
                <td class="tbl25item">6</td>
                <td class="tbl25item">6 15/16</td>
                <td class="tbl25item">2 11/16</td>
            </tr>
        </table>
        <hr />
        <div class="SmallTitle">Heavy Hex Heads</div><br /><br />
        <img class="center" src="http://images.devestechnet.com/Projects/NutsAndBolts/hex.gif" width="370px" height="122px" alt="Hex Bolt Illustration" /><br />
        <table class="beddimsl">
            <tr>
                <td class="tbltitle" colspan="4">Heavy Hex Bolt Dimensions (inches)</td>
            </tr>
            <tr>
                <td class="tbltitle">D</td>
                <td class="tbltitle">F</td>
                <td class="tbltitle">C</td>
                <td class="tbltitle">H</td>
            </tr>
            <tr>
                <td class="tbl25item">1/2</td>
                <td class="tbl25item">7/8</td>
                <td class="tbl25item">1</td>
                <td class="tbl25item">3/8</td>
            </tr>
            <tr>
                <td class="tbl25item">5/8</td>
                <td class="tbl25item">1 1/16</td>
                <td class="tbl25item">1 1/4</td>
                <td class="tbl25item">7/16</td>
            </tr>
            <tr>
                <td class="tbl25item">3/4</td>
                <td class="tbl25item">1 1/4</td>
                <td class="tbl25item">1 7/16</td>
                <td class="tbl25item">1/2</td>
            </tr>
            <tr>
                <td class="tbl25item">7/8</td>
                <td class="tbl25item">1 7/16</td>
                <td class="tbl25item">1 11/16</td>
                <td class="tbl25item">9/16</td>
            </tr>
            <tr>
                <td class="tblspacer" colspan="4"></td>
            </tr>
            <tr>
                <td class="tbl25item">1</td>
                <td class="tbl25item">1 5/8</td>
                <td class="tbl25item">1 7/8</td>
                <td class="tbl25item">11/16</td>
            </tr>
            <tr>
                <td class="tbl25item">1 1/8</td>
                <td class="tbl25item">1 13/16</td>
                <td class="tbl25item">2 1/16</td>
                <td class="tbl25item">3/4</td>
            </tr>
            <tr>
                <td class="tbl25item">1 1/4</td>
                <td class="tbl25item">2</td>
                <td class="tbl25item">2 5/16</td>
                <td class="tbl25item">7/8</td>
            </tr>
            <tr>
                <td class="tbl25item">1 3/8</td>
                <td class="tbl25item">2 3/16</td>
                <td class="tbl25item">2 1/2</td>
                <td class="tbl25item">15/16</td>
            </tr>
            <tr>
                <td class="tbl25item">1 1/2</td>
                <td class="tbl25item">2 3/8</td>
                <td class="tbl25item">2 3/4</td>
                <td class="tbl25item">1</td>
            </tr>
            <tr>
                <td class="tbl25item">1 3/4</td>
                <td class="tbl25item">2 3/4</td>
                <td class="tbl25item">3 3/16</td>
                <td class="tbl25item">1 3/16</td>
            </tr>
            <tr>
                <td class="tblspacer" colspan="4"></td>
            </tr>
            <tr>
                <td class="tbl25item">2</td>
                <td class="tbl25item">3 1/8</td>
                <td class="tbl25item">3 5/8</td>
                <td class="tbl25item">1 3/8</td>
            </tr>
            <tr>
                <td class="tbl25item">2 1/4</td>
                <td class="tbl25item">3 1/2</td>
                <td class="tbl25item">4 1/16</td>
                <td class="tbl25item">1 1/2</td>
            </tr>
            <tr>
                <td class="tbl25item">2 1/2</td>
                <td class="tbl25item">3 7/8</td>
                <td class="tbl25item">4 1/2</td>
                <td class="tbl25item">1 11/16</td>
            </tr>
            <tr>
                <td class="tbl25item">2 3/4</td>
                <td class="tbl25item">4 1/4</td>
                <td class="tbl25item">4 15/16</td>
                <td class="tbl25item">1 13/16</td>
            </tr>
            <tr>
                <td class="tblspacer" colspan="4"></td>
            </tr>
            <tr>
                <td class="tbl25item">3</td>
                <td class="tbl25item">4 5/8</td>
                <td class="tbl25item">5 5/16</td>
                <td class="tbl25item">2</td>
            </tr>
        </table>
        <br /><hr />
        <div class="SmallTitle">High Strength Structural Bolt Heads</div><br /><br />
        <img class="center" src="http://images.devestechnet.com/Projects/NutsAndBolts/hss.gif" width="370px" height="122px" alt="High Strength Structural Bolt Illustration" /><br />
        <table class="bedldims">
            <tr>
                <td class="tbltitle" colspan="3">High Strength Structural Bolt Dimensions (inches)</td>
            </tr>
            <tr>
                <td class="tbltitle">D</td>
                <td class="tbltitle">F</td>
                <td class="tbltitle">H</td>
            </tr>
            <tr>
                <td class="tbl33item">1/2</td>
                <td class="tbl33item">7/8</td>
                <td class="tbl33item">5/16</td>
            </tr>
            <tr>
                <td class="tbl33item">5/8</td>
                <td class="tbl33item">1 1/16</td>
                <td class="tbl33item">25/64</td>
            </tr>
            <tr>
                <td class="tbl33item">3/4</td>
                <td class="tbl33item">1 1/4</td>
                <td class="tbl33item">15/32</td>
            </tr>
            <tr>
                <td class="tbl33item">7/8</td>
                <td class="tbl33item">1 7/16</td>
                <td class="tbl33item">35/64</td>
            </tr>
            <tr>
                <td class="tblspacer" colspan="3"></td>
            </tr>
            <tr>
                <td class="tbl33item">1</td>
                <td class="tbl33item">1 5/8</td>
                <td class="tbl33item">39/64</td>
            </tr>
        </table><br />
    </div>
    <div class="HowToTitle1">Bolt Tension, Joint Behavior</div>
    <div class="para1">
        <p>
            The usual purpose of a bolted joint is to clamp two or more parts together. The clamping force is achieved by applying torque
            to the bolt head and the nut. The mechanical advantage of the wrench and threads allows one to actually stretch the section
            of the bolt between the head and the nut (an area known as the grip), creating tension in the bolt. This tension is known as
            pretension because it exists before any other forces are applied to the joint.
        </p>
        <p>
            The pretension is transmitted to the mating parts through the head, nut, and any washers that may be present. It squeezes
            the mating parts together, and, if the joint is designed, assembled, and maintained properly, prevents the mating parts from
            separating or sliding under normal loads.
        </p>
        <p>
            The pretension in a bolt is often quite high: 70% of the bolt's tensile strength is not uncommon. At first glance it may
            seem that this leaves very little strength left to carry the externally applied loads, but it turns out that bolted joints
            are pretty clever when it comes to carrying loads, and their capacity is greater than you might expect.
        </p>
        <hr />
        <p>
            Consider the joint shown below: Two D-shaped yokes clamped together with a single bolt. First the bolt is tightened. This
            draws the faying surfaces (the portions of the mating parts that come in contact) together and applies a compressive force
            to the mating parts. The joint is in equilibrium, with the compressive force across the faying surfaces equal in magnitude
            to the pretension in the bolt.
        </p><br /><br />
        <img class="center" src="http://images.devestechnet.com/Projects/NutsAndBolts/yoke.gif" width="389" height="107" alt="Bolted Joint In Tension" />
        <p>
            As the external tensile load is applied to the joint, the joint responds by distributing the load. As expected, part of the
            load goes into the bolt, increasing its tension. But part of the load also goes into the mating parts, decreasing the
            compression at the faying surfaces. In most joints, this decrease in compression absorbs most of the applied load, shielding
            the bolt from large increases in tension. Exactly how much is shielded depends on the geometry and material makeup of the
            joint, but it is not unusual for as much as 90% of the applied load to be taken by the faying surfaces, leaving only 10% to
            be borne by the bolt.
        </p>
        <p>
            Of course, the compression at the faying surfaces can only decrease so far. Once the compression has been reduced to zero,
            the faying surfaces lose contact with each other and the bolt then carries all the applied load. A graph of the bolt tension
            vs. the applied load shows this change in behavior as a kink at the point at which the faying surfaces part (sometimes
            referred to as the decompression point.)
        </p><br /><br />
        <img class="center" src="http://images.devestechnet.com/Projects/NutsAndBolts/graph1.gif" width="391" height="386" alt="Bolted Joint Behavior&#10;&#9;Graph" />
        <p>
            Parting of the faying surfaces is generally considered a bad thing, especially in joints that are subjected to fluctuating
            loads. If the applied load cycles back and forth between levels below the decompression point, the cyclic stress range in the
            bolt is relatively low. If, however, the applied load cycles to levels beyond the decompression point, the cyclic stress
            range in the bolt jumps dramatically and can lead to an early fatigue failure. The graph below shows how a lowered pretension
            can create this effect.
        </p><br /><br />
        <img class="center" src="http://images.devestechnet.com/Projects/NutsAndBolts/graph2.gif" width="521" height="386" alt="Effect of Preload Change" />
        <p>
            For this reason, fatigue failures in bolts are often associated with low pretension.
        </p>
    </div>
