@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advance Design Paint Color Information";
    ViewBag.Message = "Paint Information for the AD";
}
<div class="HowToTitle1">Advance Design Paint Color Information</div><br />
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/ADArt/adart8.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/ADArt/adart8.jpg">
    </a><br />
    <p>
        Below you will find everything you should need with the exception of outside body paint colors. Years ago I left that part out
        in deference to Bob Adler who was at the time THE one-stop place to go for purchasing this information. I try not to get in the way
        of people making money. But these days, the reason I don't have that information here is because I just haven't gotten a round Tuit.
        Stay Tuned and I will get to it as soon as I have time. Go and visit <a href="http://www.adlersantiqueautos.com/index.htm">Bob's site.</a>
        Another very good source for paint information for these trucks is
        <a href="http://www.1954advance-design.com/AdvanceDesignTrucks/Colors/Advance-Design-Colors.html">Tim Lederman's site.</a><br /><br />
    </p>
</div>
<center><img src="http://images.devestechnet.com/REsources/50_colorchartb.jpg"></center><br /><br />
<div class="para"><strong>NOTE:</strong> The color codes are for <strong>modern</strong> versions of the older paints!</div>
<dl>
    <dt>1947-52 Cab Interior Colors</dt>
    <dd>PPG 27467</dd>
    <dd>DDL3613</dd>
    <dd>DuPont C8306</dd>
</dl>
<p>
    Interior is called Graphite Brown Metallic. A fairly close match for cab interior color in a rattle can spray paint is RustOleum
    "Dark Bronze Metallic" #7272.
</p>
<dl>
    <dt>1953 Cab Interior</dt>
    <dd>PPG 33210</dd>
</dl>
<dl>
    <dt>1947-1953 Steering Wheel, Column and Shifter Color</dt>
    <dd>DuPont 8540</dd>
</dl>
<dl>
    <dt>Engine Paint Color for 1947-1955</dt>
    <dd>Gray PPG 34560</dd>
    <dd>A substitute at local parts stores for the gray engine paint is Dupli-Color Ford (gasp!!!) Gray #DE1611.</dd>
</dl>
<dl>
    <dt>Misc Items</dt>
    <dd>Engine Color - Gray</dd>
    <dd>Clutch (Bell) Housing - Gray</dd>
    <dd>Transmission - Cast Iron (Natural)</dd>
    <dd>Torque Tube/Rear End - Semi-Gloss Black</dd>
    <dd>Leaf Springs and Shocks - Semi-Gloss Black</dd>
    <dd>Front End Parts - Semi-Gloss Black</dd>
    <dd>Frame - Semi-Gloss Black</dd>
</dl>
<p>
    Deluxe Fresh Air Heater - An excellent paint to use is "Hammerite Rust Cap", in the bronze color (Part No. 41185.) It duplicates
    the hammered finish of the original heater perfectly. Takes some practice to put on correctly (buy 2 cans!)
    <a href="http://www.kilz.com/hammerite/">MasterChem</a> is available through Eastwood (Part No. 10083Z) among other places.
</p>
<div class="bold">Support Information</div>
<dl>
    <dt>PPG</dt>
    <dd>Tech Line: (440) 572-6111</dd>
    <dd>Website: <a href="http://www.ppg.com/coatings/autooem/Pages/default.aspx">PPG's Technical Pages</a>.</dd>
</dl>
<dl>
    <dt>Sherwin Williams Automotive</dt>
    <dd>Tech Line: (800) 798-5872</dd>
    <dd>Website: <a href="http://www.sherwin-automotive.com">Ask Sherwin Williams</a>.</dd>
</dl>
<dl>
    <dt>DuPoint</dt>
    <dd>Tech Line: (800) 441-0575</dd>
    <dd>Website: <a href="http://www.dupont.com/industries/automotive/body-exterior.html">Dupont's Technical Pages</a></dd>
</dl>





