@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Installing a PCV System in your 216/235/261 Engine";
    ViewBag.Message = "PCV Information for the AD";
}
<div class="HowToTitle1">Installing a PCV System in your 216/235/261 Engine</div><br />
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
</aside>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv1lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/PCVInstall/pcv1sm.jpg">
    </a><br />
    <p>
        The Road Draft Tube survived many years as Chevy's way of eliminating crankcase gases, so most of us don't consider changing
        anything, but it has its drawbacks. It's dirty, it leaks small amounts of oil on your clean driveway, and it's hard to clean
        properly. Enter the Positive Crankcase Ventilation system! PCV is really simple. It simply means pulling the unwanted and unclean
        gases out of your crankcase using the engine's vacuum pressure. This very same system is being used today. Because the 216/235/261
        engines were the last to not have PCV from the factory, it is not hard to adapt them. In actual fact, there was a stock PCV system
        available on some AD models in 1954, but good luck finding one!
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv16lg.jpg">
        <img class="PicsRight" src="http://images.devestechnet.com/Projects/PCVInstall/pcv16sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv0027lg.jpg">
        <img class="PicsLeft" src="http://images.devestechnet.com/Projects/PCVInstall/pcv0027sm.jpg">
    </a><br />
    <p>
        In the case of the 216, 235 or 261 engine, remove the road draft tube which is just press fit and the bracket holding it in place then
        install a 1-1/4" Cup Style Freeze Plug (such as the Dorman 555-024) with a 3/4" hole in the center big enough to accommodate the PCV Valve.
        The plug fits in really snug so it's perfect. Install it with the cup up so the grommet can be set inside of it next. Do your best to get
        the hole in the very center and without distorting the freeze plug. Easier said than done, but if you use a step drill bit, or step up
        slowly to 3/4" you can be pretty exact. Install this freeze plug about 1/32" below the surface of the block. Shown is tapping it in with
        a 3/4" socket which fits the application perfectly. You then install the grommet (such as the Mr. Gasket No. MRG-6379), which is available
        at any good local automotive parts store, right inside the cup of the freeze plug. I used Permatex High-Temp Copper Gasket Sealer on the
        inside of the freeze plug (using your little finger, you should be able to get to it) and around the grommet to better hold it in place.
        It's the perfect fit, so it's not going anywhere anyway. At this point, you simply push the PCV Valve in and this step is complete.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv22lg.jpg">
        <img class="PicsLeft" src="http://images.devestechnet.com/Projects/PCVInstall/pcv22sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv0024lg.jpg">
        <img class="PicsRight" src="http://images.devestechnet.com/Projects/PCVInstall/pcv0024sm.jpg">
    </a><br /><br />

    <p>
        The Valve is Standard Brand V-237 and we are using 3/8" PCV/Fuel Line hose. I needed about 4 feet. The concept is to connect
        the PCV Valve via the hose to the intake manifold's vacuum inlet on the other side of the engine. How you go about doing this is up
        to you. I prefer making a hard line from the intake port to about 3 inches from the PCV inlet and then run a 5 inch long 3/8"
        soft line to connect them together. It works just as well to run soft line the whole way. <br /><br /><br />
        <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv0025lg.jpg">
            <img class="PicsLeft" src="http://images.devestechnet.com/Projects/PCVInstall/pcv0025sm.jpg">
        </a>
        <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv0023lg.jpg">
            <img class="PicsRight" src="http://images.devestechnet.com/Projects/PCVInstall/pcv0023sm.jpg">
        </a>
        <br /><br />
        If you are using that for windshield wipers, you have a problem that can be solved by installing a fuel pump that comes equipped
        with a vacuum outlet. Those are available through our vendors, or, take this opportunity to install electric wipers in your truck!
        Knowing the way vac wipers work without stealing vacuum for this, I can't imagine the wipers working the same after this mod, however,
        the above PCV Valve is for an inline 6 cylinder engine. This valve will not suck excessive oil into the intake manifold since it is
        designed for the vacuum properties of this engine.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv4lg.jpg">
        <img class="PicsRight" src="http://images.devestechnet.com/Projects/PCVInstall/pcv4sm.jpg">
    </a><br />
    <p>
        Because the air flow is from top to bottom, you will need to install a filtered and
        <a href="http://images.devestechnet.com/Projects/PCVInstall/Oil Breather Cap.jpg"> Vented Cap</a> on your Valve Cover. These are readily available
        at any auto parts store. Ask for the twist-on type for your valve cover. Air flow is from the vented and filtered cap, down through the engine,
        and out to the intake manifold. I wanted a clean installation, so I purchased new fittings to accommodate the 3/8" hose. Simply
        hook up the PCV Valve via the hose to the intake manifold, and you have just installed your very own PCV system! The experts tell
        me this is much, much better for your engine, and will extend the life of it. They also say you need to lean the fuel mixture out
        a little during setup. I have tested this system, and am very pleased with the results. This modification is cheap and doesn't hack
        up your truck in any way, so there is no harm in trying it. As always feedback is very much appreciated.
    </p>
</div>
<br /><hr /><br />
<div class="HowToTitle1">Testing To Get Just the Right PCV Valve</div><br />
<aside>
    To ensure we got the correct PCV Valve for these particular engines, we tested three Valves. These particular three were recommended because
    of their varying vacuum properties. PCV Valves are not all created equal by any means! Since the 216/235/261 engines had no PCV, and the
    properties are different than the next era 6 cylinders, we have to start from scratch.
</aside>
<p>
    My engine shop expert helped me pick out three PCV Valves that were appropriate for this test. One services large block V8's, another small
    block V8's and V6's and another Inline 6's. This is a moot point however because of the unique properties of this installation. The optimal
    vacuum in inches of Mercury is 1 to 3. This is the overarching factor and we must follow the rules of physics. We will test PCV Valves until
    we get a valve that will give us 1 to 3 inches!
</p>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv12lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/PCVInstall/pcv12sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv14lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/PCVInstall/pcv14sm.jpg">
    </a><br />
    <p>
        The test is performed with a standard Automotive Vacuum Gauge available at your favorite Auto Parts supplier. We will use the cone-shaped
        attachment that comes in the kit and do the testing through the dipstick tube. While I am thinking about it, it's a good idea to make
        sure your engine dipstick has a rubber washer where it comes in contact with the dipstick tube. This helps seal the engine to prevent a
        vacuum leak. If you can't find a rubber washer, use a 3/8" rubber wiring grommet. For this test we also want to make sure the engine is
        properly tuned. Our test platform is a 1959 235 engine on a test stand that is tweaked for maximum performance.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv15lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/PCVInstall/pcv15sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv21lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/PCVInstall/pcv21sm.jpg">
    </a><br />
    <p>
        Firing up the engine and ensuring we have no leaks around the dipstick tube, we tape up the valve cover cap inlet so this test can be performed
        with a sealed engine. The first candidate is the Standard Motor Products V-112. This is a very common Valve and as we can see from the Vac gauge
        reading, TOTALLY inappropriate for our purposes. We do not wish to suck all the oil out of the crankcase! This one is reading about 12 inches of
        Mercury. Our window is between 1 and 3. We are testing all three Valves at 800 RPM (Idle). So much for the V-112!
    </p>
</div>
<aside>
    Alot of you have a valve cover with slits in it that is open to the elements under the hood. Does that sound like a good idea to you? A better way
    is to put a filtered breather cap on the valve cover and seal up those slits. In the interest of keeping all things Vintage in their proper condition,
    I would use a method that can be undone (maybe a good strong metal tape on the inside (clean properly first)), or if you weld them shut, put the weld
    only on the inside so they look exactly the same from the outside. This can be done by adding a very small piece of metal under each slit.<br /><br />

    My good friend Dave Folsom had the best idea yet. Put some painters tape snugly over the outside of the slit area. Turn it over and from the inside
    spread some JB Weld to completely fill the slit. Once it's dry, you have a very solid solution and best of all, JB Weld matches the color of the cover!
    Be sure to clean the area good first with lacquer thinner or something that will ensure the JB sticks good. Once the tape is removed you will think it
    was always that way!
</aside>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv19lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/PCVInstall/pcv19sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv17lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/PCVInstall/pcv17sm.jpg">
    </a>
    <p>
        The second candidate (left) and the one I started off with years ago and has given me very reliable service is the Standard Motor Products V-178. This
        Valve is pretty close. To be honest, I wasn't aware of the differences in Valves years ago and just got relatively lucky. As we can see from the Vac gauge
        reading, it's above our target but not too far off. This will make a good one to change over to if for some reason you feel the recommended one is not
        evacuating crankcase gases well enough. I have had reports using this Valve that it sucks a small amount of oil into the intake if your engine is badly
        worn.<br /><br />

        <b>The third and recommended candidate (right) is the Standard Motor Products V-237.</b> Get the Standard Motor Products one so you do not have barbs on both
        ends of the Valve. You want it to sit in the grommet with no barbs on the engine side. If your Valve comes with a plastic barb on one side that has
        two outlets, large and small, PLUG the small one. It comes with its own plug for this purpose. As you can see, it reads about 2 inches on the Vac Gauge
        which is exactly where we want it. Without experts telling me how to test, and what to test, this document would not be possible. We are all very
        grateful for these guys sharing their knowledge.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv9lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/PCVInstall/pcv9sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/PCVInstall/pcv10lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/PCVInstall/pcv10sm.jpg">
    </a><br />
    <p>
        Here are two pages from the GMC manual that show that in 1954 GM actually made a stock PCV system for the 235. From personal
        experience, I know that the 1954 235 engine was unique in that it had 4 slits in the valve cover that exposed the engine to all
        matter of under-hood grime. I am not sure if the ones that were equipped with PCV originally had those slits closed?
    </p>
</div>
<aside>
    <a href="http://images.devestechnet.com/Projects/PCVInstall/PCV0034lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/PCVInstall/PCV0034sm.jpg">
    </a><br /><br />
    <b>The PCV Kits are now available!</b> You can do this yourself as described below, or we can make a kit just for you! There are two kits
    available, the Regular Kit and the Deluxe Kit (shown). <br /><br />
    The Regular Kit comes with all of the fittings needed to connect 3/8" PCV/Fuel Line Rubber hose from the Intake Manifold to the Engine
    Block. <br />
    The Deluxe Kit comes with everything you need to connect your system using 3/8" stainless steel hard line. The stainless steel is bent
    custom for your application.<br /><br /><br /><hr />
    <center>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="Q7TKVX3TF8BRU">
            <table>
                <tr>
                    <td>
                        <input type="hidden" name="on0" value="PCV Kit Pricing Options">
                        <div style="font-family:verdana,sans-serif; font-size:16pt; font-style:bolder; font-weight:bold; color: #0a4f12">
                            <b>PCV Kit Pricing Options</b><br /><br />
                        </div>
                        <center>
                            <select name="os0">
                                <br />
                                <option value="PCV Regular Kit">PCV Regular Kit $74.50 USD</option>
                                <option value="PCV Deluxe Kit">PCV Deluxe Kit $112.50 USD</option>
                            </select>
                        </center>
                            <br /><br />
                    </td>
                </tr>
            </table>
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form><br />
    </center>
    <p>
        Shipping the Deluxe kit is based on distance and must me computed by order. This has to do with oversize shipping rates and the special care taken to get
        the custom stainless to you in good shape. If you are ordering the Deluxe Kit, please send me an email deve@speedprint.com so I can adjust the price accordingly.
        Also, please send me an email when ordering to let me know what size your intake manifold takes for the fittings as described in this link:
        <a href="/Services/PCVUpgrade" target=_blank>PCV Kits</a>
    </p>
</aside><br />
<aside>
    So you want to make your own deluxe kit? You need 40 inches of 3/8" stainless tubing for the straight in 1/8" or 1/2" NPT and 42 inches of 3/8" stainless tubing for the 
    3/8" NPT that has the 120 degree angle. I get 20 foot rolls from Summit Racing. The cost is around $52. You cannot make very many of these with 20 feet when almost 4 feet
    of it is used for one! The BrakeQuip tools make this all possible. Stainless is HARD, so the straightening tools, the flaring tools, the bending tools, and the cutting tools
    have to be pretty sturdy for stainless. Stainless is essential if the objective is to have no rust, EVER, no discoloration EVER, just perfect all day everyday. The tubing is 
    not pre-polished, but if you are so inclined, you can make this stuff look like very high end chrome and with 100 times the durability!
</aside>
<div class="HowToTitle4">Check out our other Kits for your 216/235/261 Engine!</div>
<p>
    We are developing more fun stuff for your engine. The Kits that are available now are Regular and Deluxe PCV Upgrade Kits, Spin-on Oil Filter Adapter Kits, and of course
    our popular HEI conversion kit. Check out all of our offerings at <a href="/Services/Index" target=_blank>Farm-it-Out!</a>
</p>
