@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "1955 Chevy 235 Restoration";
    ViewBag.Message = "A Complete Rebuild";
}
<div class="HowToTitle1">1955 Chevy 235 Restoration</div>
<div class="TitleByLine">By Deve Krehbiel</div>
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
    <br /><br />
</aside>
<div class="para1">
    <div class="aside1main">
        <p>
            This 1954 235 was taken out of a badly burned truck. The block was thoroughly machined and tested so although I
            was skeptical about fire damage, there wasn't any. The head was bad, so I got another one and proceeded to rebuild
            the engine. I do not skimp when it comes to proper machining of heads and blocks. This one was bored to .030 over
            and the head got hardened valve seats to compensate for todays gas not having lead (a good lubricant for valves).
            I have a great machine shop locally and they deck, line bore, bore and test everything before handing me the parts
            and gaskets, etc. Then I take it back to the shop and assemble and test. I do not have assembly pictures. I have this
            personal battle with cameras. They are never handy when they are really needed the most!
        </p>
    </div>
</div>
<div class="aside1mainx">
    <span class="restopics">
        <a href="/Images/DevesArchive/1954235/54Engine1lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine1sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine2lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine2sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine3lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine3sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine4lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine4sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine5lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine5sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine6lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine6sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine7lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine7sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine8lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine8sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine9lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine9sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine10lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine10sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine11lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine11sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine12lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine12sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine13lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine13sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine14lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine14sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine15lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine15sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine16lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine16sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine17lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine17sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine18lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine18sm.jpg"></a>
        <a href="/Images/DevesArchive/1954235/54Engine19lg.jpg"><img src="/Images/DevesArchive/1954235/54Engine19sm.jpg"></a>
    </span>
</div>
