@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Products/Services/Community Page";
    ViewBag.Message = "Resources Page";
}
<div class="HowToTitle1">Advance Design</div>
<div class="HowToTitle2">Products/Services/Community Page</div>
<div class="HowToText">
    <p>
        <div class="Resourceimg">
            <img src="http://images.devestechnet.com/Resources/howtorestore.jpg" />
        </div>
        There isn't really anything lacking in what we can find for these trucks. Below is a list of favorites. If you haven't seen
        Tom Brownell's very well written book
        <a href="http://www.amazon.com/exec/obidos/ASIN/0879385006/o/qid=980017190/sr=8-1/ref=aps_sr_b_1_1/107-0440851-8699749" target=_blank>
            How to Restore Your Chevrolet Pickup
        </a> it's worth the effort. I got a lot of inspiration from that book in the early years.
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <aside>
            <b>Note:</b>  We could sure use your help in keeping this list up to date. If a link stops working, which is very common,
            drop us an email. Also, if there is a resource you feel needs to be here, tell us that too! One resource that will not be
            in Alphabetical Order is the StoveBolt! If you haven't visited John and Peggy Millimans outstanding resource, drop what you
            are doing and go check it out at <a href="http://www.stovebolt.com" target=_blank>www.StoveBolt.com!</a> Also, another great resource for a
            comprehensive Vendor List is <a href="http://www.chevytrucks.org/resources/vendors.htm" target=_blank>www.chevytrucks.org.</a>
        </aside>
        <div class="HowToTitle1">Products and Services</div>
        <div class="HowToText">
            <a name="education"></a>
            <div class="HowToTitle3">Educational Resources</div>
            <a href="http://www.howstuffworks.com" target=_blank>How Stuff Works</a> This site has gotten rather confusing over the years, but there is
            a lot of great information on how automotive systems work. Just have to find it!<br /><br />
            <a href="http://www.4lo.com" target=_blank>Tire and Gear Ratio Calculators</a> If you have any question about gear ratios, tire sizes or anything
            related, these guys have calculators for it. You just plug your info in. Great resource! <br />
            <a name="vendor"></a>
            <div class="HowToTitle3">Vendor Resources</div>
            <div class="floatright">
                <img src="http://images.devestechnet.com/ADArt1.jpg"></>
            </div>
            <a href="http://www.adlersantiqueautos.com/" target=_blank>Bob Adler's Antique Autos</a><br />
            Location: Stephentown, NY<br /><br />
            <a href="http://www.brotherstrucks.com/" target=_blank>Brothers Truck Parts</a><br />
            Location: Corona, CA<br /><br />
            <a href="http://www.bowtiebits.com/" target=_blank>Bowtie Bits Antique Truck Parts</a><br />
            Location: Wichita, KS<br /><br />
            <a href="http://www.americanclassic.com/" target=_blank>American Classic Truck Parts</a><br />
            Location: Aubrey, TX<br /><br />
            <a href="https://www.chevsofthe40s.com" target=_blank>Chevs of the 40s</a><br />
            Location: Vancouver, WA<br /><br />
            <a href="http://www.classicindustries.com/" target=_blank>Classic Industries</a><br />
            Location: Huntington Beach, CA<br /><br />
            <a href="http://www.classicparts.com/" target=_blank>Classic Parts of America</a>(Chevy Duty)<br />
            Location: Riverside, MO<br /><br />
            <a href="http://www.classicperform.com/" target=_blank>Classic Performance Parts</a><br />
            Location: Placentia, CA<br /><br />
            <a href="https://www.fillingstation.com/" target=_blank>The Filling Station</a><br />
            Location: Lebanon, OR<br /><br />
            <div class="floatright">
                <img src="http://images.devestechnet.com/ADArt2.jpg"></>
            </div>
            <a href="http://www.julianos.com/" target=_blank>Julianos Interior Products</a><br />
            Location: Ellington, CT<br /><br />
            <a href="http://www.langdonsstovebolt.com/" target=_blank>Tom Langdon's Stovebolt Parts</a><br />
            Location: Utica, MI<br /><br />
            <a href="http://www.lmctruck.com/" target=_blank>LMC Truck Parts</a><br />
            Location: Lenexa, KS<br /><br />
            <a href="http://www.mar-k.com/" target=_blank>Mar-K Quality Bed Parts</a><br />
            Location: Oklahoma City, OK<br /><br />
            <a href="http://www.mongosgarage.com/" target=_blank>Mongos Garage Radio Parts</a><br />
            Location: Independence, MO<br /><br />
            <a href="http://www.oldchevytrucks.com/" target=_blank>Jim Carter Truck Parts</a><br />
            Location: Independence, MO<br /><br />
            <a href="http://www.painlessperformance.com/" target=_blank>Painless Performance Products</a><br />
            Location: Fort Worth, TX<br /><br />
            <a href="http://www.patricksantiquecars.com/" target=_blank>Patrick's Antique Parts</a><br />
            Location: Casa Grande, AZ<br /><br />
            <a href="https://www.performanceonline.com" target=_blank>Performance On-line</a><br />
            Location: Corona, CA<br /><br />
            <a href="http://www.steelerubber.com/" target=_blank>Steele Rubber Products</a><br />
            Location: Denver, NC<br /><br />
            <a href="http://www.hhclassic.com/" target=_blank>H&H Classic Parts</a><br />
            Location: Bentonville, AR<br />
            <br />
            <div class="floatright">
                <img src="http://images.devestechnet.com/1950Pencil.jpg"></>
            </div>
            <a href="http://www.summitracing.com/" target=_blank>Summit Racing</a><br />
            Location: Akron, OH<br /><br />
            <a href="http://www.darrylsplates.com/index.html" target=_blank>Darryl's License Plate Restoration</a><br />
            Location: Duryea, PA<br /><br />
            <a href="http://www.hotrodwires.com/" target=_blank>Hot Rod Wires</a><br />
            Location: Garland, TX<br /><br />
        </div>
    </div>
    <div class="col-md-6">
        <a name="general"></a>
        <div class="HowToTitle3">General Resources</div>
        <div class="HowToText">
            <a href="http://www.stovebolt.com" target=_blank>The Stovebolt Publishing Company</a><br />
            Really the best place to start when looking for information on these trucks.<br /><br />
            <a href="https://www.gmheritagecenter.com/gm-heritage-archive/vehicle-information-kits.html" target=_blank>GM Heritage Center</a><br />
            You don't want to start your restoration without getting the info here. It's free and very revealing!<br /><br />
            <a href="http://chevy.oldcarmanualproject.com/" target=_blank>Old Car Manual Project</a><br />
            What a great resource for a lot of the manuals you will need for your project!<br /><br />
            <a href="http://www.chevytrucks.org" target=_blank>ChevyTrucks.org</a><br />
            These guys have been around awhile too. Great vendor resources page among other things.<br /><br />
            <a href="http://www.adlersantiqueautos.com" target=_blank>Bob Adler's Site</a><br />
            Bob Adler is THE go-to guy for information on original paint schemes. <br /><br />
            <a href="http://www.classicpickups.com" target=_blank>Classic Pickups On-line</a><br />
            General vintage truck resource for hot rodding, etc. Worthwhile if you are into that.<br /><br />
            <div class="floatright">
                <img src="http://images.devestechnet.com/AnimatedOK.gif" width="200"></>
            </div>
            <a href="http://www.oldchevytruck.com" target=_blank>Chevy Trucks/Parts for Sale</a><br />
            Vintage Truck buying and selling resource. <br /><br />
            <a href="http://www.classictruckshop.com" target=_blank>Classic Truck Shop Online</a><br />
            Another general truck resource. Worth looking into. <br /><br />
            <a href="http://www.hemmings.com" target=_blank>Hemmings Motor News On-line</a><br />
            Hemmings is the #1 vintage vehicle buy/sell resource. <br /><br />
            <a href="http://www.autorestorer.com" target=_blank>AutoRestorer On-line</a><br />
            Auto Restorer Magazine headquarters.

            <a name="individual"></a>
            <div class="HowToTitle3">Individual's Sites</div>
            <a href="http://www.1954advance-design.com/" target=_blank>Tim Lederman's Site</a><br />
            A very important resource. Tim knows his stuff! Check this one out!<br /><br />
            <a href="http://www.laroke.com/larryk4674/index.htm" target=_blank>Larry Kephart's BillyBob</a><br />
            What can we say about Larry? I have enjoyed his exploits immensely!<br /><br />
            <a href="http://www.team.net/mharc/archives/html/oletrucks/" target=_blank>Oletrucks Mailing List Archive</a><br />
            An amazing resource for solving any issue concerning these old trucks.<br /><br />
            <a href="http://www.truckwithaheart.com/" target=_blank>Scott Sensing's Website</a><br />
            Kudo's to Scott for raising money and awareness for humanities worst diseases.<br /><br />
            <a href="http://www.handyharmancanada.com/TheBrazingBook/bbook.htm" target=_blank>The Brazing Book</a><br />
            Amazing resource on the art of Brazing. Great Stuff!<br /><br />
            <a href="http://chev235guy.blogspot.com/" target=_blank>Dave's 235 Blog</a><br />
            Very in-depth straightforward information that you probably need!<br /><br />
            <p>Feeling left out? Give me your site and I will gladly add it!!!</p>
            <a name="tools"></a>
            <div class="HowToTitle3">Tool/Shop Sites</div>
            <a href="http://www.autobodystore.com" target=_blank>AutoBodyStore On-line</a><br />
            A good resource for paint and body issues. They also sell decent gear.<br /><br />
            <a href="http://www.tcpglobal.com/" target=_blank>TCP Global</a><br />
            For everything paint and body related. All brands, all products!<br /><br />
            <a href="http://www.harborfreight.com/" target=_blank>Harbor Freight</a><br />
            It is what it is! No need for an introduction!<br /><br />
            <a href="http://www.northerntool.com/" target=_blank>Northern Tool</a><br />
            Another great discount tool resource.<br /><br />
            <a href="http://www.craftsman.com/" target=_blank>Craftsman Tools</a><br />
            My choice for relatively decent tools.<br /><br />
            <p>Let me know what else belongs here!</p>
            <a name="forums"></a>
            <div class="HowToTitle3">Best Forum Sites</div>
            <a href="http://www.stovebolt.com" target=_blank>The Stovebolt Publishing Company</a><br />
            Again, really the best place to start when looking for information on these trucks.<br /><br />
            <a href="http://www.weldingweb.com" target=_blank>Welding Design and Fabrication</a><br />
            Another site that will change your life if you are into this stuff!<br /><br />
            <a href="http://www.autobody101.com" target=_blank>Paint and Body Expertise</a><br />
            Another site that will change your life if you are into this stuff!<br />
        </div>
    </div>
</div>