@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Deve's Restoration Journey";
    ViewBag.Message = "Restorations Page";
}
<div class="HowToTitle1">Deve's Restoration Journey</div>
<div class="aside1main">
    <a href="/Home/Deve1950AResto">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Restorations/1950A/deves1asm.jpg">
    </a>
    <a href="/Home/Deve1950BResto">
        <img class="PicsRight" img src="http://images.devestechnet.com/Restorations/1950B/d50b1sm.jpg">
    </a>

    <p>
        Since I got back into these old trucks in October of 1999, a lot has happened. I try to write it down so I don't forget the fun
        I have had. Almost right away I met a fellow that would change my life.. John Erb. He lived just outside of town and everyone
        knew him as the old Chevy truck guy. I found out why. Turns out, he made his retirement income by being a parts picker for some
        of our vendors, mainly Jim Carter. I asked him right away if I could come along with him to learn more about these trucks at no
        charge to him. (I was already being paid in the most important commodity we can get.. knowledge).
        </br></br>
        We went all over Kansas, Oklahoma, Missouri and Eastern Colorado to these very hard to find salvage yards. They all knew him and
        were glad for his business. I learned over the years I spent with him what is rare, what is not, and how to pick the more
        sought-after parts. He helped me to learn just about every nuance of this past-time. I will be forever grateful. He is sorely missed.
        </br></br>
        Below you will find the pages I have devoted to the restoration of these amazing trucks. I learned everything the hard way, by
        getting my hands dirty, and just researching the best I could before moving on. I am no expert, but it turns out you don't have
        to be one if you have your resources lined up. After all this time, I STILL don't have a single truck completed to my satisfaction.
        </br></br>
        When I look at my work, and don't like what I see, I start all over again. Such was the case with the 1950 Deluxe Cab below. I had
        the frame all painted and the engine sitting there, and decided I didn't pay enough attention to detail. It costs a few months when
        you do that, but there is no doubt about the satisfaction you feel from a job done right.</br></br>

        Restoration isn't just about Restoring, it's also about Preserving so using modern methods is quite an advantage. Even so, lots
        of steps and mis-steps have been pretty much normal operation in learning which processes are better than others. Your
        comments are greatly appreciated, so be sure to let me know what you think. No better way to learn.
        The bottom pics are as far as I have gotten on the Chassis. Lots of other things happening to delay the finishing process
        that will make sense as you get more familiar with the site.</br></br>
        <div class="centertext">
        Check out some of Deve's other AD-Related antics in <a href="/Home/DevesArchive">Deve's Historical Archive!</a>
        </div>
    </p>
    <div class="leftbutton">
        <a href="/Home/Deve1950AResto" class="btn btn-primary btn-sm">Learn more&raquo;</a>
    </div>
    <div class="rightbutton">
        <a href="/Home/Deve1950BResto" class="btn btn-primary btn-sm">Learn more&raquo;</a>
    </div>
    <a href="/Home/Deve1950AResto">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Restorations/1950A/deves38asm.jpg">

        <a href="/Home/Deve1950BResto">
            <img class="PicsRight" img src="http://images.devestechnet.com/Restorations/1950B/d50b100sm.jpg">
        </a>
    </a>
</div>
