@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Deve's Sandblasting Tips, Tricks and Links";
    ViewBag.Message = "Sandblasting Made Easy?";
}
<div class="HowToTitle1">Deve's Sandblasting Tips, Tricks and Links</div>
<a href="http://images.devestechnet.com/Projects/SandBlasting/2002007lg.jpg">
    <img class="center-block" src="http://images.devestechnet.com/Projects/SandBlasting/2002007sm.jpg"/>
</a>
<div class="para1">
    <p>
        Sandblasting is the most distasteful part of the Restoration process I can think of. You get sand in places you didn't even know
        existed, you've got a hot hood over your head for the duration, breathing is difficult with or without respirator, and it's slow
        going no matter what equipment you have to do the job. If I didn't believe in it so strongly, I wouldn't consider it for a minute.
        Sandblasting is the best and only real way of removing paint and rust that insures your metal is properly prepped for a long
        lasting paint job. Rust neutralizers, Paint-over-rust products, wire brushing, nothing works to really get into the metal and deep
        clean like sandblasting. The following is everything I have learned about the subject after spending about 800 hours under the
        blast hood.
    </p>
    <div class="SmallTitle">It's all in the sand!</div>
    <p>
        There are many varieties of abrasive blast media out there. I have always questioned the need for spending $25 or more for a bag
        of media so I researched and found the perfect media for 99% of everything a car restorer does with his blasting equipment. This
        includes the inside blast cabinet as well as siphon and pressurized equipment.
    </p>
    <p>
        The secret here is to get #1 Super-Fine Silica Sand. I purchase a 70 pound bag for $4.98. This is a fraction of the cost of normal
        blast media and works better and lasts longer than most. Its advantages are that it won't warp your metal, it cuts quickly clear
        through to the bare metal, its reusable, and it doesn't clog up your equipment like larger media does.
    </p>
    <p>
        <strong>Disclaimer:</strong> A number of people disagree with my plugging the use of Silica Sand for health reasons. For more
        information on the hazards of Silica Sand, check out <a href="http://www.cdc.gov/niosh/topics/construction/#Silica">the CDC's web site.</a> If
        you want an alternative, there is a product called StarBlast (by Dupont) that is non silica for around $8 a bag. It's rumored to be
        obtainable through any building materials supply house.
    </p>
    <div class="SmallTitle">Inside or Outside?</div>
    <img class="center-block" src="http://images.devestechnet.com/Projects/SandBlasting/935.jpg" width="225" height="302" alt="Sandblasting Cabinet" />
    <p>
        For small parts, you can purchase a blast cabinet. This is an indispensable tool and one I use quite often. It simply wouldn't be
        possible to do a proper restoration without it. You can make your own inexpensive cabinet in various ways or you can buy one ready
        made. I found the best resource for cabinet blasting equipment is TP Tools out of Canton, OH. They have everything you will ever
        need including plans to make your own. I highly recommend you get their catalog (800)321-9260 or go check out the web site at
        <a href="http://www.tptools.com">www.tptools.com</a>. I have their 930 blast cabinet and its performing quite nicely but if I had
        more money, I would opt for bigger. Bigger is better depending on your space availability. Sand is recirculated and a half bag of
        sand can last for a very long time.
    </p>
    <p>
        For larger parts, you will need to take it outside. I usually save up tons of work and then make an annual event out of it. This is
        because its not easy nor fun and setup is time consuming. More on that later.
    </p>
    <div class="SmallTitle">Air Compressors for Blasting</div>
    <p>
        Air compressors are not made for blasting. No matter what compressor you have, the minute you start blasting, the compressor
        will start running and stay running until you let off the blast trigger. This means it is very hard on the compressor, and you
        will want to save your equipment by taking periodic breaks to let the machines cool down. I am guilty of not doing this enough
        and have replaced one compressor pump already, which is expensive. To properly run an abrasive blaster and keep up with the large
        volume of air that is used, no less than a 60 gallon, 7 horse compressor will do. That is the bare minimum in my opinion. I worked
        at that level for a year until I had finally had enough of it running out of air and purchased a second 60 gallon, 7 horse and put
        them in tandem. Now I have no problems, but the point is, get the largest, nicest compressor you can afford. If I could do it all
        over again, I would get an 80 gallon two stage 15 horse and hope for the best. Two compressors in tandem give you twice the
        storage capacity and the second motor helps keep up.
    </p>
    <div class="SmallTitle">Siphon or Pressurized?</div>
    <img class="center-block" src="http://images.devestechnet.com/Projects/SandBlasting/pressureblaster.jpg" width="132" height="180" alt="Pressure Blaster" />
    <p>
        For outside work, and on one vehicle only, you can get by with a siphon blaster. They are about $50 at Sears and I have done an
        entire '50 Chevy Pickup with one. They are slower (much slower) than pressurized, but are less problematic, cheaper, and require
        fewer replacement nozzles since they don't wear out as quickly. Since the sand doesn't come out at near the velocity as pressurized,
        you can retain more sand in the local area for re-use. As you can see, there are advantages to siphon blasting, but if you are a
        serious restorer and will be doing more than one vehicle, pressurized is definitely better.
    </p>
    <p>
        Pressurized blasters work by pressurizing a tank filled with the blasting sand. This pushes the sand out at high speeds and cuts the
        paint and rust much quicker. I figure about 4 times quicker than siphon blasting. Decent Pressurized blasters start at about $100.
        I purchased a Harbor Freight 40 pound pressurized blaster for $79.95. This would be a bad idea if you weren't ready to put another
        $80 into it right away to make it usable. The water trap is plastic and broke after the first hour, the sand hose lasted two days,
        the nozzle valve lasted about 2 days, the ceramic nozzles last about 5 hours. I went down to the local tool store (didn't have to
        twist my arm to do that!) and purchased a glass water trap and a 15 foot piece of 320 pound pressure GoodYear hose. I then ordered
        a carbide nozzle from <a href="http://sandblast-nozzles.com/shop/tl2-series-tungsten-carbide-nozzles/">sandblast-nozzles.com</a>
        (part no. TL2-1) in the 3/32" size. The 3/32" is really the best size for the sand I use and the pressure I need. I was able to
        maintain about 80 pounds of pressure with my setup using that nozzle. I was very satisfied. Make sure the pressurized blaster you
        use comes with a choke valve. On high humidity days you will have clogging problems and this choke valve eliminates that problem.
    </p>
    <div class="SmallTitle">In Summary...</div>
    <p>
        If I had it to do all over again, I would purchase my pressurized system from Brut Mfg. You can call them at (888) 533-2693 or go to
        <a href="http:\\www.brutmfg.com">www.brutmfg.com</a>. It's more expensive, but the parts are more readily available.
        Harbor Freight gets all the replacement parts from China and they have to wait for the ship to come in. This means sometimes months
        before your replacement parts are available. If you plan for that, you are fine with your Harbor Freight unit, but Brut Mfg puts
        out higher quality American made equipment. I spent 5 weeks of 10 hour days in 100 degree heat this summer blasting the equivalent
        of two entire trucks (frame and all associated sheet metal). I am very glad it's over! Special thanks to Fred Zwicker from the late
        Trumans, Inc. for his insight and input into this article.<br /><br />
    </p>
    <div class="HowToTitle1">Problem Solved!</div>
    <a href="http://images.devestechnet.com/Projects/SandBlasting/SmallPartsBasket1lg.jpg">
        <img class="center-block" src="http://images.devestechnet.com/Projects/SandBlasting/SmallPartsBasket1sm.jpg" width="225" height="150" alt="My Sandblasting Operation" />
    </a>
    <p>
        I got about two 55 gallon drums worth of Advance Design era hardware from my friend John Erb. He was in the business of taking trucks apart to
        sell the parts to our vendors. He would just toss the hardware into a pile in the corner of his garage. When he sold out, I purchased
        all of this because I could see the value in stock hardware. It was all rusted, grease/dirt all over the parts, so what to do?
        <a href="http://images.devestechnet.com/Projects/SandBlasting/SmallPartsBasket2lg.jpg">
            <img class="center-block" src="http://images.devestechnet.com/Projects/SandBlasting/SmallPartsBasket2sm.jpg" width="225" height="150" alt="My Sandblasting Operation" />
        </a>
        You can purchase one of those baskets and shake, shake, shake in your blast cabinet, or, you can make
        one of these, set your gun in the holster and walk away for about 30 minutes. It was a real time saver and something that really
        made the job possible. Not too pretty at the moment, but it gets the job done. I want to make this a Think Tank project. There are
        improvements to be made, but the sealed motor and drive system works really well.
    </p>
</div>
<div class="HowToTitle1">Pics that didn't make the cut...</div>
<div class="aside1mainx">
    <span class="restopics">
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002001lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002001sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002002lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002002sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002003lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002003sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002004lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002004sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002005lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002005sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002006lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002006sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002007lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002007sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002008lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002008sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002009lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002009sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002010lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002010sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002011lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002011sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002012lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002012sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002013lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002013sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002014lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002014sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002015lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002015sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002016lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002016sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002017lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002017sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002018lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002018sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002019lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002019sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002020lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002020sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002021lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002021sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002022lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002022sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002023lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002023sm.jpg" width="175"></a>
        <a href="http://images.devestechnet.com/Projects/SandBlasting/2002024lg.jpg"><img src="http://images.devestechnet.com/Projects/SandBlasting/2002024sm.jpg" width="175"></a>
    </span>
</div>