@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Removing and Re-Installing the Seat Frame on an Advance Design Truck";
    ViewBag.Message = "Seat Frame R&R";
}
<div class="HowToTitle1">Removing and Re-Installing the Seat Frame on an Advance Design Truck</div>
<div class="TitleByLine"> by Tom Caperton</div>
<div class="aside1main">
    <img class="PicsLeft" img src="/Images/adart2.jpg">
    <div class="HowToTitle3">Removing the Seat Frame on an Advance Design Truck</div>
    <p>
        <b>NOTE:</b>  The process described below is for removing the seat FRAME.  The seat PLATFORM is welded to the bottom of the cab and cannot be
        removed.
    </p>
    <p>
        <b>STEP 1</b> Remove the bottom seat cushion. This is done by pushing the seat cushion toward the back of the cab while pulling it upward.  Once
        released, the seat can be pulled forward and lifted out of the truck.
    </p>
    <p>
        <b>STEP 2</b> Remove the back seat cushion. This is done by removing the screws on top of the three C-shaped tabs that loop over the top part
        (bar) of the seat frame.  NOTE:  These screws, if original, will be clutch-head screws. A special clutch-head screwdriver is needed to remove
        them. If the screws are to be discarded, a pair of vice-grips can be used to remove them. Once the screws on top of the seat frame have been
        removed, pull the back seat cushion forward until the C-shaped tabs on top have cleared the "bar" of the seat frame.  At that point, the entire
        back part of the seat can be lifted up and removed from the truck.  NOTE:  The back part of the seat is held in place by the C-shaped tabs on top
        AND three tabs on the bottom that fit into three slots on the seat platform.  Lifting the back part of the seat upward will pull the bottom tabs
        out of the slots in the seat platform.
    </p>
    <p>
        <b>STEP 3</b> Remove the two seat adjustment springs. The springs are located under the seat frame on the right and left sides. The springs are
        approximately 10 inches long.  Be careful to note how the springs are attached to the seat platform and the seat frame….. so they can be
        re-attached properly when the frame is put back in the truck.
    </p>
    <p>
        <b>STEP 4</b> Locate the four bolts holding the seat frame to the bottom platform. These bolts are located at each of the four corners of the seat
        platform. The bolts are stationary, and only the nuts are removed.
    </p>
    <p>
        <b>STEP 5</b> Remove the clips holding the seat adjustment cable. These clips are located on each side of the seat, approximately midway along the
        seat platform.  NOTE:  The clips are part of the seat platform, NOT part of the seat frame (the part you’re removing).  The clips are visible
        through an opening (approximately two inches) in the bottom of the seat frame.  If the clips are not visible through the opening, push the seat
        forward or backward until the clips are visible and can be accessed. By removing the bolts holding the clips, the bottom part of the clip can be
        removed. Once removed, screw the bolts back into the bottom part of the clip for safekeeping as you set it aside.
    </p>
    <p>
        <b>STEP 6</b> All nuts, bolts, and screws holding the seat frame have now been removed, and the seat frame can now be taken out of the truck.
        This is done by lifting upward on the seat frame until it clears the four bolts holding it down at each corner.  Although this can be done by one
        person, it is best done with two people, one on each side of the seat frame (one on driver’s side, and one on passenger side).  NOTE: The seat
        frame will need to be lifted up slightly and moved toward the driver’s side to clear the seat adjuster lever.
    </p>
</div>
<div class="aside1main">
    <img class="PicsRight" img src="/Images/adart3.jpg">
    </a>
    <div class="HowToTitle3">Re-installing the Seat Frame</div>
    <p>
        <b>STEP 1</b> Place the seat frame back in the truck, being sure to align the four bottom corner holes with the four stationary bolts in the seat
        platform.  NOTE:  As with the removal of the seat frame, the frame will need to be placed in the truck, then moved toward the driver’s side to
        clear the seat adjustment lever.
    </p>
    <p>
        <b>STEP 2</b> Put the nuts on the four corner platform bolts. Do not tighten them at this point.
    </p>
    <p>
        <b>STEP 3</b> Reattach the seat cable to the "ears" on the seat platform. To assist with this, move the seat frame forward or backward until the
        "ear" for the cable clips can be easily seen through the slots in the seat frame.
    </p>
    <p>
        <b>STEP 4</b> Replace the two seat adjuster springs. As you noticed when these springs were removed, each spring is attached to a slot in the seat
        frame and a corresponding slot in the seat platform.
    </p>
    <p>
        <b>STEP 5</b> Replace the seat back. The first step is being certain the three "prongs" on the bottom of the seat back fit properly into the three
        slots in the seat platform.  Once the bottom of the seat back is in place, the seat back can be pushed backward so the three C-shaped tabs fit
        around the seat frame bar.  Be certain the C-shaped tabs are positioned properly over the holes in the seat frame bar… so the screws on top of the
        clamps can be replaced.  NOTE:  If clutch head screws are not available – or not desirable – standard sheet metal screws can be used.  (Sheet
        metal screws are not "authentic", but are readily available and easier to use.)
    </p>
    <p>
        <b>STEP 6</b> Replace the bottom seat cushion. Place the seat cushion on the seat frame, then lift it up slightly in the front while pushing it
        down and toward the rear of the truck.  Once pushed back far enough, the cushion can be pressed down on the front and it will slide into the seat
        frame.
    </p>
</div>
