@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advance Design Hood Side Emblems";
    ViewBag.Message = "Hood Emblem Primer";
}
<div class="HowToTitle1">Advance Design Hood Side Emblems</div>
<div class="TitleByLine">Provided by Jeff Nelson</div>
<p>The 1947 and 1948 side emblems read Chevrolet at the top, and Thriftmaster in the smaller type below.</p>
<p>The 1949 through 1951 models used two side emblems; Chevrolet above and the model number (I.E. 3100 for 1/2-Ton, 3600 or 3/4-Ton, etc.) below.</p>
<p>The 1952 models eliminated the model number and just used the Chevrolet piece.</p>
<p>The 1953 and 1954 models used just the model number, but the model number emblem was redesigned with a larger base.</p>
<p>The 1955 First Series was again redesigned as a single piece with the model number at the top, and Chevrolet below.</p>
<img src="http://images.devestechnet.com/Projects/SideEmblems/emblem.jpg" width="404" height="433" alt="Side Emblems" />

