@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Stake Rail Sideboard Info";
    ViewBag.Message = "Stake Rail Info";
}
<div class="HowToTitle1">Stake Rail Sideboard Info</div>
<img class="center" src="/Images/Projects/StakeRail/stake1.jpg" width="510px" height="243px" alt="Stake Rail Photo" />
<div class="TitleByLine">Bill Green, Canton OH - Grandpa's '52 3100 "Nona," lovingly named after Grandma...</div>
<div class="para">
    <p>
        In the days when the Advance Design pickups were new, these trucks were bought for work, often on the farm. A very common
        accessory/modification would be stake and rail sides to allow the hauling of much higher loads than would be accommodated by the
        pickup bed itself. Bill Green of Canton Ohio e-mailed me a description and pictures of the stake sides on his Grandpa's '52.
        Here is what Bill had to say...
    </p>
    <p>
        "Here is some of the information on the stake rails that my grandpa got on his '52. As far as I know, he purchased the truck with
        the rails. They are painted the same color and appear to be made to pattern, not home-made, fasteners all consistently placed, fit
        and finish uniform, etc. They appear to be made of pine; possibly yellow pine.
    </p>
    <p>
        The only problem with reproducing them may be in coming by the hardware that joins the rail sides at the upper corners. They appear
        to be similar to a fence gate latch. They are heavy in gauge and are identical pieces for each mating pair. They appear to be made
        from a piece of flat stock, cut to rectangle for the mount plate, and the latch piece welded in from one of two locations to make
        the mating of the two match at the corner. The other fasteners are just carriage bolts fastened with washers and square nuts."
    </p><br /><br />
    <img class="center" src="/Images/Projects/StakeRail/corner.jpg" width="381" height="213" alt="Stake Rail Corner" />
    <div class="SmallTitle">Lumber Dimensions</div>
    <dl>
        <dt>Side Rails</dt>
        <dd>Corner Post: 1.25" x 1.75" x 37" (to fit the corner pockets)</dd>
        <dd>
            Middle Vertical Stiffener: 2.125" x 1.00" x 31.5" - placed 38" OC between corners, with the top square and flush with the top
            rail and the bottom extending slightly below the bottom rail and cut on a beveled angle to match the truck bed lip.
        </dd>
        <dd>Bottom Rail: 0.75" x 5.5" x 76" (plus notched overlap)</dd>
        <dd>Other Four Rails: 0.75" x 3.5" x 76"</dd>
        <br />
        <dd>Spacing between bottom rail and second rail = 2.0"</dd>
        <dd>Spacing between second rail and third rail = 2.125"</dd>
        <dd>Spacing between fourth and fifth rail = 3.875"</dd>
    </dl><br /><br />
    <img class="center" src="/Images/Projects/StakeRail/side.jpg" width="305" height="157" alt="Side Photo" />
    <dl>
        <dt>End Rails</dt>
        <dd>
            End Rail dimensions match the side rails, except that they are 54.25" long with the bottom rail notched back to accept the side
            rail notch.
        </dd>
        <br />
        <dd>
            Uprights: 1.00" x 2.75" x 36" (Fastened 9.5" OC away from each end) - The front rail has a second board from the top removed
            between the uprights for visibility from the cab.
        </dd>
    </dl>
    <p>
        You can see from the pictures that the extra length on the front and rear uprights is left on the bottom. On the front, this provides
        a positive placement against the front bed sheet metal. On the rear rail, this allows the tailgate to lock the rail in place when
        closed.
    </p>
</div><br /><br />
<img class="center" src="/Images/Projects/StakeRail/inside.jpg" width="349" height="238" alt="Cab Photo" /><br /><br /><br />
<img class="center" src="/Images/Projects/StakeRail/rear.jpg" width="180" height="195" alt="Stake Rail Rear" />


