@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advance Design Steering Wheel Repair";
    ViewBag.Message = "Steering Wheel Repair";
}
<div class="HowToTitle1">Advance Design Steering Wheel Repair</div>
         <p>Here is a useful document on how to fix that crusty old steering wheel...</p>
         <img class="center" src="/Images/Projects/SteeringWheel/steeringwheel.jpg" width="400" height="510" alt="Steering Wheel Repair Document" />         


