@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advance Design Steering Gearbox Repair";
    ViewBag.Message = "Gearbox Info";
}
<div class="HowToTitle1">Advance Design Steering Gearbox Repair</div>
<div class="para1">
    The vendors sell a nice kit for repairing your steering gearbox. It includes new parts and new seals to make your gearbox as
    good as new. This page gives an overview of how to repair your steering gearbox.
</div><br /><br />
<img class="center" src="/Images/Projects/SteeringGearBox/steeringbox1.gif" width="384px" height="289px" alt="Steering Gearbox Instructions #1" />         <br /><br />
<img class="center" src="/Images/Projects/SteeringGearBox/steeringbox2.gif" width="384px" height="289px" alt="Steering Gearbox Instructions #2" />         <br /><br />
<img class="center" src="/Images/Projects/SteeringGearBox/steeringbox3.gif" width="384px" height="289px" alt="Steering Gearbox Instructions #3" />         <br /><br />
<img class="center" src="/Images/Projects/SteeringGearBox/steeringbox4.gif" width="384px" height="289px" alt="Steering Gearbox Instructions #4" />
