@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "The Venerable 261 GM 6";
    ViewBag.Message = "A Great Engine Choice for the AD";
}
<div class="HowToTitle1">The Venerable 261 GM 6</div>
<div class="HowToTitle3">A Great Engine Choice for the AD</div>
<div class="TitleByLine">Compiled by Deve Krehbiel</div>
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
</aside>
<div class="aside1main">
    <div class="floattoleft">
        <img src="http://images.devestechnet.com/216Enginelg.gif" width="175">
    </div>
    <p>
        <b>Between</b> 1947 and 1953 the only choice Chevy offered for their Advance Design Series Trucks was a Splash Oiler in two different
        sizes, the 216 and the 235. These were Babbitt motors meaning the bearings were poured rather than the newer style Insert
        Bearings. This is notable because these trucks experienced very heavy use and these motors weren't really up to the task of
        Post World War Two commerce. Chevy corrected this problem in 1954 with the first pressurized motor with Insert Bearings. The
        235 and 261 was born. These engines stood up very nicely to all challenges and really helped boost Chevy's reputation at the
        time.
    </p>
    <p>
        These days we see a lot of '47-'53 Chevy trucks with the newer style 235 engine because most of them were replaced pretty early
        on in their lifetime. These are not delicate engines, they are real workhorses, and competed and even outclassed Fords
        F-1 offerings with the flathead V8. Chevy enthusiasts these days who want to keep a nice 6 cylinder between the frame rails have
        two good choices for replacing their tired worn out old engine, the 235 or the 261 built between 1954 and 1962*.
    </p>
    <p>
        <b>*Note:</b> Replacement blocks were made as late as 1964. These can be identified by looking at the flat area at the base of the
        Distributor. If there is no serial number there, it's a replacement block. In addition, just above the starter will be the numbers
        L17 4. The last number denotes the year of manufacture between 1954 and 1964. These numbers are used in tandem with the casting number
        to determine the year the block was made.
    </p>
    <a href="~http://images.devestechnet.com/Restorations/1950B/D50b00484lg.jpg">
        <img class="PicsRight" img src="~http://images.devestechnet.com/Restorations/1950B/D50b00484sm.jpg">
    </a>
    <p>
        Between 1954 and 1962, Chevrolet produced their famous full oil pressure 235 cubic inch six-cylinder in trucks and it soon proved
        to be one of the greats among engines. However, at the same time a lesser known "big brother" to this base engine was being used.
        This was the venerable 261 cubic inch six cylinder! This 261 was available only in 2-ton (6000 or C60 series) trucks and
        school buses. During it's early years (1954-57) it was an extra cost option above the standard 235 six-cylinder.
    </p>
    <p>
        In 1958-62 (the 261 now had a full flow remote oil filter) it became standard in the 2-ton chassis up to 19,000 pounds
        gross weight. Above that Chevrolet substituted a V-8. This larger six was not offered in US cars, however there was an exception in
        Canadian built full-size Pontiac's. Their base engine, also produced only in Canada, was the 261 not the V-8 as in the US. This
        provided basic power, great dependability, and better gas mileage.
    </p>
    <a href="http://images.devestechnet.com/Projects/Venerable261/image001.jpg">
        <img class="PicsLeft250" img src="http://images.devestechnet.com/Projects/Venerable261/image001.jpg" width="248">
    </a>
    <p>
        Basically, this larger engine was a 235 with the same crankshaft but GM engineers made various modifications to give it extra
        strength and horsepower. Its standard bore diameter increased from 3-9/16 inches to 3-3/4 inches. The connecting rods were heavier
        and attached to increased diameter piston wrist pins.
    </p>
    <p>
        Its higher lift camshaft, for better breathing, was shared only with the early 235 six cylinder Corvette. A modified larger
        Rochester carburetor was also a 261 only feature. Unfortunately, most of these larger sixes have long since had their original
        Rochester's replaced with 235's and therefore do not perform to their full potential.
    </p>
    <p>
        In pure big truck form the 261 has a larger thermostat housing holding a double acting thermostat. This is designed to circulate
        water through the block and head before the thermostat opens to allow hot water into the radiator. Thus, no internal steam hot
        spots during warm ups, especially in winter. This is particularly important with very cold coolant. Vital engine spots can become
        very hot before the total coolant becomes hot enough to open a normal thermostat on the front of the block.
    </p><br />
    <center>
        <p>
            Below is the statistical data to illustrate the difference between the 235 and 261. <br /><br />
        </p>
        <table style="WIDTH: 50%" border=1 cellpadding=0
               width="50%">
            <tbody>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <center>
                            <b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">
                                    6-Cylinder
                                    Engines
                                </span>
                            </b>
                        </center>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="33%">
                        <center>
                            <b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">
                                    Jobmaster
                                </span>
                            </b>
                        </center>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <center>
                            <b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">
                                    Thriftmaster
                                </span>
                            </b>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;Displacement</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;261 Cu. In.
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;235.5 Cu. In.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;Bore</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;3-3/4"
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;3-9/16"
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;Stroke</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;3-15/16"
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;3-15/16"
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;Firing Order
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;1-5-3-6-2-4</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;1-5-3-6-2-4</span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;Compression Ratio</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;7.8 to 1
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;8 to 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;Horsepower</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;33.7 (AMA) 148 (Rated)
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;30.4 (AMA) 140 (Rated)
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;No. of Main Bearings
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;4</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;4</span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;Wrist Pin Diameter
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;0.927 inches
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;0.866 inches
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;Rod Shaft Thickness<br>&nbsp;Front to Back
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;0.595 inches
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;0.595 inches
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;Rod Shaft Thickness<br>&nbsp;Side to Side
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;0.975 inches
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;0.760 inches
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;Crankshaft Journal<br>&nbsp;Diameter
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;2.435</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;2.435</span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;Engine Color in trucks
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;Green<br /> - some later yellow
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;Gray</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </center><br /><br />
    <p>
        It may also be of interest to know the displacement numbers for the different over-bore sizes. This information is easily ascertained by
        working through a basic formula using the numbers in the chart above. The formula is:<br />

        <center><b>(bore ÷ 2)&#178; × stroke × Pi × 6 = </b></center><br />

        <center>(Where Pi is 3.14159 and 15/16ths is .9375, 9/16ths is .5625)</center><br />
    </p>
    <center>
        <table style="WIDTH: 50%" border=1 cellpadding=0 width="50%">
            <tbody>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <center>
                            <b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">
                                    Over-Bore Size
                                </span>
                            </b>
                        </center>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="33%">
                        <center>
                            <b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">
                                    Jobmaster 261
                                </span>
                            </b>
                        </center>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <center>
                            <b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">
                                    Thriftmaster 235
                                </span>
                            </b>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;.000 Stock</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;260.930 Cu. In.
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;235.490 Cu. In.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;.010 Over</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;262.323 Cu. In.
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;236.813 Cu. In.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;.020 Over</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;263.721 Cu. In.
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;238.141 Cu. In.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;.030 Over
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;265.121 Cu. In.</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;239.472 Cu. In.</span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;.040 Over</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;266.526 Cu. In.
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;240.807 Cu. In.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;.050 Over</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;267.934 Cu. In.
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;242.146 Cu. In.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;.060 Over
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;269.346 Cu. In.</span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">&nbsp;243.488 Cu. In.</span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;.070 Over
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;270.762 Cu. In.
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;244.834 Cu. In.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;.080 Over
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;272.182 Cu. In.
                        </span>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 30%; PADDING-RIGHT: 0.75pt; PADDING-TOP: 0.75pt"
                        valign=bottom width="30%">
                        <span style="COLOR: navy; FONT-SIZE: 10pt">
                            &nbsp;246.184 Cu. In.
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </center><br /><br />
    <b>They even had their own Carb!</b><br />
    <a href="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610002lg.jpg">
        <img class="PicsLeft" img src="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610002sm.jpg">
    </a>
    <a href="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610001lg.jpg">
        <img class="PicsRight" img src="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610001sm.jpg">
    </a>
    <p>
        Although quite rare, the 261 had it's own Rochester B Carburetor with increased capacity. The reason they are rare is they look to
        most people exactly the same as the 235 Carb and they usually ended up in the rebuild stream with the 235 Carbs of the day. To see
        which one is the correct one, there are four indicators that will provide you with the clues you need. The picture on the left is
        the Throttle Body differences between the 235 and 261. Not only is the 261 larger, but note the placement of the vacuum hole. The
        picture on the right verifies the vacuum holes are different. Both gaskets are available depending on which Carb Kit you get. The
        261's Throttle Body (bottom) measures 1.750 inches while the 235 measures 1.500 inches across. 
    </p>
    <aside>
        Note: Another great indication is the vacuum hole described above will be VERY close to the butterfly edge if it's a 261 due to the
        1/4" larger diameter. The gaskets above are presented so that you know the carb riser may not be notched where you expect it to be.
        Depending on the year model, either of these gaskets may be correct for your engine.
    </aside>
    <a href="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610003lg.jpg">
        <img class="PicsLeft" img src="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610003sm.jpg">
    </a>
    <a href="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610004lg.jpg">
        <img class="PicsRight" img src="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610004sm.jpg">
    </a>
    <p>
        These pictures are offered to show the differences in the bottom of the Carbs Fuel Bowl with the throttle body removed. If you
        look closely, you can see a significant difference in size and style. The 235's fuel bowl measures 1.575 inches across while the
        261's measures 1.750. It is also noteworthy that the main Jet sizes are larger on the 261. While most 235's are around .056 depending
        on the year, the 261's can be as large as .068. The internal passage between the Jet and the Power Valve is larger as
        well at .0635.<br /><br />
    </p>
    <a href="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610005lg.jpg">
        <img class="PicsLeft" img src="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610005sm.jpg">
    </a>
    <a href="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610006lg.jpg">
        <img class="PicsRight" img src="~http://images.devestechnet.com/Projects/Venerable261/Venerable2610006sm.jpg">
    </a>
    <p>
        Shown here is the fuel bowl comparison. This is the easiest way to tell if you have a 261 Carb without taking it off. If you can
        see down the carb, you can get a pretty good idea of which one you have. As you can see, the Venturi is significantly wider on the
        261. If you do not have a 261 Carb, not to worry. The 235 Carb has been successfully installed on the 261 engine for years and most
        vehicle owners do not even know. You might lose a little top end, but other than that, that combination has been around for many
        years without notice.<br /><br />
    </p>
    <b>And there is more...</b><br />
    <p>
        After four years into production, a major quality feature was added to the 261 engine. For the first time a Chevrolet in-line
        six-cylinder came standard with a full flow oil filter system. This improvement, used only with the later 261, forced oil through
        a remote filter cartridge before it reached the engine. It was not like the optional by-pass oil filter system as found on 216 and
        235 Chevrolet sixes. This new system helped insure longer life to this larger six-cylinder, which was often subjected to heavy
        commercial use. This means that if you have the older 1954-1958 261 Engine if it has an Oil Filter at all, it will be a Bypass Filter System.
        (more information below).
    </p>
    <p>
        A full flow oil system has been a characteristic of almost all automotive engines for over 40 years but it was just beginning in
        the mid 1950's. With the 261, the disposable filter is remote and not built in as with later engines. It still resulted in a
        major design improvement.
    </p>
    <a href="~http://images.devestechnet.com/Restorations/1950B/D50b00491lg.jpg">
        <img class="PicsLeft" img src="~http://images.devestechnet.com/Restorations/1950B/D50b00491sm.jpg">
    </a>
    <p>
        As with the 235 light truck engine, the 261 came standard with solid valve lifters and an aluminum camshaft timing gear.
        The passenger car's 235 was equipped with hydraulic valve lifters and a fiber timing gear for quieter operation.
    </p>
    <p>
        During the 1955-62 Canadian Pontiac application the lifters were the hydraulic type, the cam gear was fiber not aluminum, and
        it did not have the full flow oil filter. These Canadian made 261's did not add the full flow filter in 1958 as in the U.S.
    </p>
    <p>
        Visually the 261 looks almost identical to the 235. It perfectly replaces the smaller engine and in stock condition increases
        horsepower from 140 to 148.
    </p>
    <p>
        Those planning on a major rebuild or adding performance options to their Chevrolet in-line six should seriously consider locating
        a 261. Often there is no extra cost in purchasing a rebuild-able unit, and the results will be rewarding. If you plan on adding
        additional carburetion, a higher lift cam, or just want additional performance and more lower end strength in your daily driver,
        the 261 is for you!
    </p>
    <b>Locating and Identifying a 261</b><br />
    <p>
        Though last placed in larger Chevrolet trucks almost 40 years ago, this now scarce engine can still be located and often at a
        price no higher than for the smaller 235. Many still remain in the original Chevrolet trucks and are now setting in salvage
        yards or behind farm buildings. In Canada, the big Pontiac cars are sometimes in the back rows of more isolated older wrecking
        yards.
    </p>
    <p>
        Don't overlook the wrecked and badly rusted Chevrolet cars of the 1940's and 1950's, particularly those showing signs of some past
        exterior customizing changes. The Chevrolet enthusiasts of that era knew about the 261 and its potential for added
        performance. Some of these will already have had extras added such as a higher lift cam shaft, extra carburetion, or dual
        exhausts.
    </p>
    <p>
        When you have found what you suspect might be a 261, check a few specifics to verify you have the real thing and not the visual
        almost identical 235. Casting numbers, not stamped numbers, on the 261 head are very visible beside the rocker arm cover.
        A different set of numbers relate to the 261 block. These seven digits are located on the right side between the fuel
        pump and starter except for 1954 where it is located forward of the fuel pump. See chart below.
        <br><br>
    </p>
    <center>
        <table style="WIDTH: 70%" class=MsoNormalTable border=1 cellpadding=0>
            <tbody>
                <tr style="HEIGHT: 15pt">
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 10%; PADDING-RIGHT: 0.75pt; HEIGHT: 15pt; PADDING-TOP: 0.75pt"
                        width="10%">
                        <p style="TEXT-ALIGN: center" class=MsoNormal align=center>
                            <b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">YEAR</span>
                            </b>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 10%; PADDING-RIGHT: 0.75pt; HEIGHT: 15pt; PADDING-TOP: 0.75pt"
                        width="10%">
                        <p style="TEXT-ALIGN: center" class=MsoNormal align=center>
                            <b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">ENG.</span>
                            </b><b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">SIZE</span>
                            </b>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 25%; PADDING-RIGHT: 0.75pt; HEIGHT: 15pt; PADDING-TOP: 0.75pt"
                        width="25%" colspan=3>
                        <p style="TEXT-ALIGN: center" class=MsoNormal align=center>
                            <b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">
                                    BLOCK
                                    NO.
                                </span>
                            </b>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 25%; PADDING-RIGHT: 0.75pt; HEIGHT: 15pt; PADDING-TOP: 0.75pt"
                        width="25%" colspan=3>
                        <p style="TEXT-ALIGN: center" class=MsoNormal align=center>
                            <b>
                                <span style="COLOR: navy; FONT-SIZE: 10pt">
                                    HEAD
                                    NO.
                                </span>
                            </b>
                        </p>
                    </td>
                </tr>
                <tr style="HEIGHT: 14.25pt">
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 11%; PADDING-RIGHT: 0.75pt; HEIGHT: 14.25pt; PADDING-TOP: 0.75pt"
                        width="11%">
                        <p style="TEXT-ALIGN: center" class=MsoNormal align=center>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">54-55</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 16%; PADDING-RIGHT: 0.75pt; HEIGHT: 14.25pt; PADDING-TOP: 0.75pt"
                        width="16%">
                        <p style="TEXT-ALIGN: center" class=MsoNormal align=center>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">261</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 10%; PADDING-RIGHT: 0.75pt; HEIGHT: 14.25pt; PADDING-TOP: 0.75pt"
                        width="10%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3703414</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 14.25pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3733950</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 14.25pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3702436</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 10%; PADDING-RIGHT: 0.75pt; HEIGHT: 14.25pt; PADDING-TOP: 0.75pt"
                        width="10%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3703570</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 14.25pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3836850</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 14.25pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3835499</span>
                        </p>
                    </td>
                </tr>
                <tr style="HEIGHT: 13.5pt">
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 11%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="11%">
                        <p style="TEXT-ALIGN: center" class=MsoNormal align=center>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">55-57</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 16%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="16%">
                        <p style="TEXT-ALIGN: center" class=MsoNormal align=center>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">261</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 10%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="10%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3836340</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3837012</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3738813</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 10%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="10%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3703570</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3836850</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt"></span>
                        </p>
                    </td>
                </tr>
                <tr style="HEIGHT: 13.5pt">
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p style="TEXT-ALIGN: center" class=MsoNormal align=center>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">58-62</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 16%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="16%">
                        <p style="TEXT-ALIGN: center" class=MsoNormal align=center>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">261</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 10%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="10%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3739365</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3769717</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3769925</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt">3836850</span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt"></span>
                        </p>
                    </td>
                    <td style="PADDING-BOTTOM: 0.75pt; PADDING-LEFT: 0.75pt; WIDTH: 9%; PADDING-RIGHT: 0.75pt; HEIGHT: 13.5pt; PADDING-TOP: 0.75pt"
                        width="9%">
                        <p class=MsoNormal>
                            <span style="COLOR: navy; FONT-SIZE: 10pt"></span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </center><br />
    <p>
        Watch for the "Captain Bars! The 261 has two pairs of parallel raised 3/4 inch long bars cast in the block. This is not seen on a 235 except in 1953
        (w/ Powerglide Transmission) where there is only one set of Captain Bars on the passenger side just above the starter.  On the 261, One pair is above
        the starter and the second pair is at the top middle of the left side of the block very close to the head. See photos below. Also, note the odd marking
        on the final picture. This is also a 261 but very rare. Information about that one is very sketchy.
    </p>
    <center>
        <div class="PicsCenter">
            <a href="http://images.devestechnet.com/Projects/Venerable261/261engine1_big.jpg">
                <img class="PicsCenter" src="http://images.devestechnet.com/Projects/Venerable261/261engine1_big.jpg" width="200"></>
            </a>
            <a href="http://images.devestechnet.com/Projects/Venerable261/261engine2_big.jpg">
                <img class="PicsCenter" src="http://images.devestechnet.com/Projects/Venerable261/261engine2_big.jpg" width="200"></>
            </a>
            <a href="http://images.devestechnet.com/Projects/Venerable261/261engine3_big.jpg">
                <img class="PicsCenter" src="http://images.devestechnet.com/Projects/Venerable261/261engine3_big.jpg" width="200"></>
            </a>
            <a href="http://images.devestechnet.com/Projects/Venerable261/261engine4_big.jpg">
                <img class="PicsCenter" src="http://images.devestechnet.com/Projects/Venerable261/261engine4_big.jpg" width="200"></>
            </a>
            <a href="http://images.devestechnet.com/Projects/Venerable261/261engine5_big.jpg">
                <img class="PicsCenter" src="http://images.devestechnet.com/Projects/Venerable261/261engine5_big.jpg" width="200"></>
            </a>
        </div>
    </center><br />
    <p>
        Most used 261 blocks are re-build-able, however often their cylinder heads will have a few very small cracks in the
        combustion chamber. This is typical due to occasional abuse of over heating in past years. If you choose not to add to
        your expense by having the cracks repaired, an alternative exists. The more common 235 head is the same except for the
        three pair of internal steam holes. These can be manually drilled to make the water flow just like in the 261! Sorry,
        but some 235 heads can be cracked even more than the 261 because they lack heat releasing steam holes.
    </p>
    <a href="http://images.devestechnet.com/Projects/Venerable261/261JUNKYARD2_big.jpg">
        <img class="PicsRight330" src="http://images.devestechnet.com/Projects/Venerable261/261JUNKYARD2_big.jpg">
    </a>
    <p>
        <b>The block and head surface have three pair of matching small water holes</b> that allow any water/steam hot pockets to vent away from
        the open water cooled areas between the cylinders that are not solid metal. Of course, this means the 261 must have its own
        specialized head gasket.
    </p>
    <a href="http://images.devestechnet.com/Projects/Venerable261/848HeadDrillAnglelg.JPG">
        <img class="PicsLeft" src="http://images.devestechnet.com/Projects/Venerable261/848HeadDrillAnglesm.jpg"></>
    </a>
    <p>
        A trick that people often use to increase the compression of their 261 is to use the higher compression '848 Head from a 235
        engine. This head was the most produced and a great fit for your 261, however, you MUST drill the aforementioned water holes
        in this head. To locate the holes, place the 261's Head Gasket on the Head and then mark the holes. Verify these 6 markings are
        in the right place by measuring on the engine blocks surface just to be sure. Tape off or mask anything that could get metal
        shavings in it and cause failure. Using a 3/16" Drill Bit, drill the holes into the Head's water cavity at 12 degrees as
        shown. If drilling straight in would reliably intersect the water jacket GM would have done it that way. Take a look at why even a
        slight angle towards the manifold side will improve chances of flow. Note that 3 of the holes are pretty much can’t miss and
        the other 3 may not exit the head bolt boss if drilled straight. I’m sure there are folks out there that only have flow in 3
        of 6 places but possibly that is just enough to get by. GM locations are in green and red shows straight in. <br /><br />

        The 261 head resulted in lower compression than found on 235's with the "848" head from 1956-1963. GM/Chevrolet did increase
        the 261 compression a little between 1954 and 1963, but the 848 head 235's always had higher compression. The 848 Head will
        result in considerably higher compression than even the stock 261 850 Head on your 261 Engine. Be absolutely sure you know what
        you are doing if attempting this drilling procedure. Most engine shops, with this document can do it with precision.
    </p>
    <b>"Warning" When Installing a Later Model 261!</b><br /><br />
    <p>
        The stock remote <b>full flow filter system</b> has two very visible 1/2" lines threaded into the block. One is from the pump
        to the filter and the other from the filter back to the block. Oil must leave and return to the engine by these lines
        (even if the filter is eliminated) or the engine will fail from lack of lubricant. Many 261 engines have been quickly seized
        after persons plugged the two oil line holes. They had many years experience on Chevrolet engines without the full flow oil
        system. Some thought it was an easy fix to just remove the 1/2" lines if one was leaking and cap the holes. This procedure was
        acceptable on the older 216 and 235 but <b>never</b> on the <b>1958-62 261 truck engine</b>.
    </p>
    <p>
        <b>Note:</b> If you have a 235 or earlier model 261 but still wish to have a full flow oil filtration system, there is a How-To for that.
        That one is called <a href="http://devestechnet.com/Home/FullFlowOil">Adding Full Flow Oil Filtration to your 235/261</a>.
        But wait! There's more!
    </p>
    <a href="http://images.devestechnet.com/Projects/Venerable261/261OilPin.jpg">
        <img class="PicsLeft250" src="http://images.devestechnet.com/Projects/Venerable261/261OilPin.jpg" width="225"></>
    </a>
    <p>
        If you have a late 261 with the ½" pipe thread holes on the left side, great! These engines have a full pressure
        full flow oil filter system capability. What that means is that 100% of the oil from the pump goes through the filter before it
        enters the engine. <b>Maybe!</b> Over the lower hole, you will see a boss with a dowel in the middle. If the dowel is out flush
        with the block, there will be a passage opened between the oil pump outlet and the main oil galley. If the dowel has been pushed
        in, all the oil has to go through the filter first. The dowel passage is 1-5/8" long. The dowel itself is 1 inch long.
    </p>
    <a href="http://images.devestechnet.com/Restorations/1950B/D50b00479lg.jpg">
        <img class="PicsRight" src="http://images.devestechnet.com/Restorations/1950B/D50b00479sm.jpg"></>
    </a>
    <p>
        Shown on the right is the dowel in the BYPASS position. In BYPASS you must use a bypass oil filter system. This system usually
        has smaller oil lines. To connect it, you connect one end to the small connection at the block (Out To Filter depicted above),
        plug the larger 1/2" outlet beside it, then connect the other hose to the 1/2" (Return From Filter depicted above) using an
        adapter. Bypass filters have their advantages. If the hoses connected to them break, your engine won't be completely starved of
        its oil. This is a real concern when using a full flow system.<br />
        <br />
        <b>Note:</b> You can use a full flow filter system on a bypass motor, but you have to narrow the passage at the engine block to keep your
        engine from being starved. To do this, adapt the lower line down to fit the small port, plug the big lower hole, and add a Holley
        carburetor main jet drilled out to 1/16" diameter to the fitting that screws into the 1/8" NPT port. A 1/4-28 tap is close enough
        to the Holley jet thread to work. In other words, adapt the lower small port down to a 1/16" orifice.
    </p>
    <a href="http://images.devestechnet.com/Restorations/1950B/D50b00489lg.jpg">
        <img class="PicsLeft" src="http://images.devestechnet.com/Restorations/1950B/D50b00489sm.jpg"></>
    </a>
    <p>
        Shown on the left is the dowel in the FULL FLOW position. In FULL FLOW you MUST use a Full Flow Filtration system OR you MUST
        connect the two large ports together. The proper depth for that dowel to be driven in to the block is 5/8" (or .63) below the
        surface of the boss. To use a Full Flow setup, cap off the small diameter hole next to the 1/2" diameter hole. It's a good idea
        to keep a proper length hose with the proper fittings to jumper the two large holes in case of a leak. The engine will not last
        very long if anything happens that those two holes are not ported together. The Chevrolet reference for the depth of this dowel
        is <a href="http://devestechnet.comhttp://images.devestechnet.com/ChevPartsAccessories1929to59.pdf">Chevrolet Parts and Accessories Manual 1929-1959</a>.
    </p>
    <p>
        For more interesting information on the 261 Engine and how to rebuild one, there is a nice write up about it at
        <a href="http://www.inliners.org/tech/261_build.htm"><b>Inliners.org</b></a><br /><br />

        Many people helped to write this article. Some of it was compiled from other How-To documents. Special thanks to everyone who
        contributed. This How-To effort is designed to bring to you the most complete and useful information possible in a simple, easy-to-read
        format. Additions, Corrections, etc. contact <a href="mailto:deve@speedprint.com">deve@speedprint.com</a><br /><br />

        If I forgot you, just drop me an email.. it was not intentional! Special thanks to the folks at 97330.com and their original writeup
        <a href="http://97330.com/Chevy_261/261_6.html">The Forgotten 261</a>. Thanks to Tim Lederman and his
        <a href="http://www.1954advance-design.com">Awesome Site</a>! There is a lot there to digest. Thanks to Dave Folsom who helped make sure
        we stayed on point with his research efforts. Check out <a href="http://chev235guy.blogspot.com/">Dave's Blog</a>. Of course, we all
        know that <a href="http://www.oldchevytrucks.com/">Jim Carter</a> probably had something to do with this! On a personal note, I have been
        honored to have been a member at <a href="http://www.stovebolt.com">StoveBolt.com</a> for many years. The community that John and Peggy
        Milliman have nurtured by not just having the premier old Chevy Truck Forum site, but going out of their way to put on events, gathering
        some of us together and the good times had by all will never be forgotten. Not to ever leave out the friends I have made there, you know
        who you are! You found this at: <a href="http://devestechnet.com"><b>DTN</b></a>
    </p>
</div>
<div class="HowToTitle4">Check out our other Kits for your 216/235/261 Engine!</div>
<p>
    We are developing more fun stuff for your engine. The Kits that are available now are Regular and Deluxe PCV Upgrade Kits, Spin-on Oil Filter Adapter Kits, and of course
    our popular HEI conversion kit. Check out all of our offerings at <a href="/Services/Index" target=_blank>Farm-it-Out!</a>
</p>
