@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Installing a Unity Spotlight in your AD";
    ViewBag.Message = "Unity Spotlight Installation";
}
<div class="HowToTitle1">Installing a Unity Spotlight in your AD</div><br />
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
</aside>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight1lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight1sm.jpg">
    </a><br />
    <p>
        The Unity Spotlight is one of my favorite accessories. I had one on my original 1954 back in the day and I had an experience
        where the headlights went out and the only way I could see to get home was my Spotlight. The one I purchased even has the GM
        logo on the top of it. It will be a fine addition to this restoration.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight2lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight2sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight3lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight3sm.jpg">
    </a><br />
    <p>
        I haven't gotten very far on this installation but the cab is drilled properly per the unity template. I even installed it
        on my unfinished cab just to make sure. The kit included all of the parts in both pictures here. I got mine at Chevs of the
        40's. These are the pictures of the parts that came in the kit.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight4lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight4sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight5lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight5sm.jpg">
    </a><br />
    <p>
        These are inside and outside pics of the holes in the cab put in the proper location. You want to be sure to print this template at 100%. Most printers are set from the factory at 97%. Not knowing this
        could be catastrophic! If the measurement across the top of the template is not EXACTLY 1-13/16" then fix your printer and try
        again. Somewhere in your printer options is an ability to change the percentage. You will be about 1/8" in error if you don't.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight6lg.jpg">
        <img class="PicsLeft" img src="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight6sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight7lg.jpg">
        <img class="PicsRight" img src="http://images.devestechnet.com/Projects/UnitySpotlight/spotlight7sm.jpg">
    </a><br />
    <p>
        Pics of the logo and the back of the unit. I was very impressed at the quality of this kit. Below are the scans of the install
        instructions and the template. Just click on them to make them larger, then print per my previous instruction.
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/UnityTemplate1lg.jpg">
        <img class="PicsLeftLng" img src="http://images.devestechnet.com/Projects/UnitySpotlight/UnityTemplate1sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/Unity1lg.jpg">
        <img class="PicsRightLng" img src="http://images.devestechnet.com/Projects/UnitySpotlight/Unity1sm.jpg">
    </a><br />
    <p>
        Be sure to patronize our vendors and purchase whatever you can from them. I am only putting this stuff up here for those who
        find a spotlight at a Swap Meet or somewhere and need more info!
    </p>
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/Unity2lg.jpg">
        <img class="PicsLeftLng" img src="http://images.devestechnet.com/Projects/UnitySpotlight/Unity2sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/Unity3lg.jpg">
        <img class="PicsRightLng" img src="http://images.devestechnet.com/Projects/UnitySpotlight/Unity3sm.jpg">
    </a><br />
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/Unity4lg.jpg">
        <img class="PicsLeftLng" img src="http://images.devestechnet.com/Projects/UnitySpotlight/Unity4sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/Unity5lg.jpg">
        <img class="PicsRightLng" img src="http://images.devestechnet.com/Projects/UnitySpotlight/Unity5sm.jpg">
    </a><br />
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/Unity6lg.jpg">
        <img class="PicsLeftLng" img src="http://images.devestechnet.com/Projects/UnitySpotlight/Unity6sm.jpg">
    </a>
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/Unity7lg.jpg">
        <img class="PicsRightLng" img src="http://images.devestechnet.com/Projects/UnitySpotlight/Unity7sm.jpg">
    </a><br />
</div>
<div class="aside1main">
    <a href="http://images.devestechnet.com/Projects/UnitySpotlight/Unity8lg.jpg">
        <img class="PicsLeftLng" img src="http://images.devestechnet.com/Projects/UnitySpotlight/Unity8sm.jpg">
    </a>
</div>
