@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "216/235/261 Valve Adjustment Procedures";
    ViewBag.Message = "Two Professionals, Two Procedures";
}
<div class="HowToTitle2">216/235/261 Valve Adjustment Procedures</div>
<div class="HowToTitle1">Two Professionals, Two Procedures</div>
<div class="TitleByLine"> by Nathan Hall and Jeff Pohlar</div><br />
<aside>
    I asked two good friends of mine the same questions and decided to put them both here for you to decide. Really they are both
    saying the same thing, but one elaborates on one thing, while the other elaborates on another. You will find Jeff's procedure to be
    more hydraulic friendly, while Nate as always gives practical sound advice for solid lifter engines. Everything you wanted to know
    about valve adjustment should be here.
</aside><br />
<div class="HowToTitle1">Nate's 216/235/261 Valve Adjustment Procedures</div><br />
<div class="para">
    <p>
        This is a critical, often overlooked part of the tune up of your old GM 6-cylinder engine and it can make a world of difference in
        how that worn-out engine runs - you may find after doing this adjustment that your old StoveBolt runs so well you decide to ignore
        the smoking and just run it as is for another 20 years.
    </p>
    <p>
        This is the GM dealer mechanic's method and saves quite a bit of time. The tools & supplies are simple: a new valve cover gasket
        for your engine, a box wrench, a flat blade screwdriver and a set of feeler gauges; the stepped ones are best and easily available
        from NAPA, Harbor Freight or Craftsman Tools.
    </p>
    <p>
        First thing is to warm up the engine fully as you need it <strong>HOT</strong>, not just idling in your driveway for 45 minutes,
        so go to the store and buy some tools and beer, chips and what not. A bit of highway or freeway driving is the very best thing.
        You'll need to set the engine to TDC (Top Dead Center) on the #1 cylinder; this is the front-most cylinder on your engine.
    </p>
    <p>
        Just above the starter motor you'll see a window and if you look closely you'll see a thin pointer at about 10:00 pointing to the
        center of the hole.
    </p>
    <p>
        Shift the tranny into neutral, set the parking brake and chock the wheels, remove the spark plugs & the entire #1 plug wire from
        the engine and using the fan, and turn the engine until you see a steel ball bearing (like a BB) in the flywheel line up with the
        pointer. Now carefully remove the distributor cap by holding it in place and <strong>gently</strong> prying the two spring clips
        off with your screwdriver, lift the cap away and see if the outer tip of the rotor is pointing at the same position that the #1
        plug wire occupied in the distributor cap - it may well be 1/2 turn away (180 degrees); this is OK. You can either begin at step
        2 or turn the engine one full revolution until the steel ball is again lined up in the window with the pointer and the rotor tip
        is pointing toward where #1 plug wire goes.
    </p>
    <p>
        Now remove the valve cover by removing the two acorn nuts on the top or the four screws if it's a 235/261; if the cover is well
        and truly stuck from sitting for 25 years don't panic and DON'T beat on it! It is very easy to dent in the sides, and that will
        cause oil leaks later. Get a bit of scrap 2 X 4 or 4 X 6 and lay it along the side of the cover and whap that wood with your
        mallet to knock the cover loose, if your wood is as long as the cover is you can hit it pretty hard and not bend it. Once it's
        free, lay it aside. You shouldn't need to fiddle with the steel fuel and vacuum lines but, if needed, remove them for good access.
    </p>
    <p>
        The first two rockers should be slightly loose, but not to worry, take your feeler gauge and unfold the .006" and .018" blades,
        fold up the rest and tighten the nut so they're not sliding all over, see if the .018" blade will fit between the tip of the
        rocker and the 1st valve then see if the .006" blade will fit between the #2 valve; if not, take a <strong>box</strong> end wrench
        and loosen the locknut on the far end of the adjuster, fit your screwdriver into the slotted screw and adjust until the feeler
        gauge blade just lightly fits with a slight drag
        <strong>be aware that the angle you hold it at has a great effect on how accurate the adjustment is.</strong>
        Once you've got it where you feel it's good, hold the screw from turning and tighten the locknut again with the box wrench then
        re-check the adjustment. Be aware that if you use an open end wrench, you'll not only strip and ruin the locknut but you'll soon
        have professional mechanic's knuckles - bloody and scarred for life. It hurts too. You don't need to really crank the nuts down
        tight; a tiny bit more then snug will do.
    </p>
    <p>
        Once you've set the two front valves, count down the valves from front to back. There are 12 of them and the next one to adjust
        is #3 to .006" (this is an intake valve) then on to #5 .018" (this is the #3 cylinder exhaust valve,) next is #7 to .006"
        (this is the #4 intake valve) then on to #9 set to .018" (this is the #5 cylinder exhaust valve.)
    </p>
    <p>
        Set down your tools and relax for a moment; you're halfway through.
    </p>
    <p>
        Now turn the engine one complete revolution until the steel ball lines up on the pointer in the window
        again; you're now on TDC cylinder #6, so let's do the other 6 valves in this order, working from front
        to back: valve #12 to .018", #11 to .006", then #10 to .006", then #8 to .018", next is #6 to .006", and lastly #4
        to .018".
    </p>
    <p>
        GM has varied the exhaust valve clearance for different engines over the years: 216s used 013" - .015", and 235s used
        .018" - .020", and always recommended to use the <strong>larger</strong> gap if the engine was to be run in severe service
        - that's what we do today with our higher road speeds and freeway driving - you're miles ahead if you set the intakes to .008"
        and the exhaust valves to .020"; they're <strong>supposed </strong> to clatter a bit!
    </p>
    <p>
        "A noisy valve is a happy valve"
    </p>
    <p>
        Once you're done, if your truck is a work truck and you don't mind a little bit of oil spillage, start the engine and allow it
        to idle for a few minutes; oil should begin to seep out of the tiny holes on top of each rocker or from between the joints, if
        not, you might have a blocked oil passage and this is serious. On the passenger side of the cylinder head, there's a pipe plug;
        remove it and see if oil dribbles out; it should. If not, you need to either clean the plugged passageway or run an external
        line from the driver's side of the block where the oil pressure gauge connects around the back of the block and up to this pipe
        plug; this will ensure sufficient oil to the rockers and is a standard GM repair. Often changing the oil to full synthetic and
        running it for a few hundred miles will clear out the sludge blocking the internal passage as synthetic oil is incredibly
        detergent; you must be sure to change the filter too, change it again after no more than 100 miles, and only change it when the
        engine is <strong>HOT</strong>, not just warm. Synthetic oil will not hurt your classic engine; in fact, it'll make it outlast
        <strong>you</strong> and run cooler.
    </p>
    <p>
        If oil dribbled out the pipe plug's hole but not out of the rockers, the shaft is probably full of sludge; the only real way to
        fix this is to remove the entire rocker shaft assembly and <strong>carefully</strong> lay it on a large old towel or blanket.
        It comes apart in the middle, and you can carefully lay each part (rocker, shim, spring etc.) out in the <strong>EXACT</strong>
        sequence it came off, then flush the rocker shaft out with de-greaser, brake cleaner, solvent tank etc. Once again, NO BEAD
        BLASTING! You'll usually find a bunch of grooves worn into the bottom of the shaft, and it's good, if you can afford it, to buy
        new shafts and maybe even re-bushed or NOS rockers, but it will run just fine with terribly worn shafts and rockers; it'll be
        a bit noisier is all.
    </p>
    <p>
        Once it's clean, liberally oil all the parts and re-assemble them exactly as you took it apart, then carefully install on the
        cylinder head paying close attention to the rockers sitting in the push-rods and the valves lined up correctly; start the 6 bolts
        by hand and tighten bit by bit. Not one should be tightened all at once; they must be drawn down evenly to prevent damage to
        anything. Tighten to 25-30 Lb. Ft. then do the valve adjustment again.
    </p>
    <p>
        Clean  the valve cover well, inside and out but DO NOT use bead blasting; just spray gasket remover along the edge and allow it
        to soak in the shade for 30 minutes to soften up the old rock hard gasket. Wear gloves, as the gasket remover is actually paint
        remover in a foo-foo can and will cause severe chemical burns if it touches your skin or eyes.
    </p>
    <p>
        It is much easier to clean the sealing surface on the cylinder head as it is cast iron and you can use a sharp screwdriver or
        scraper on it with no fear of damage. Both sealing surfaces must be squeaky clean; lay the new gasket on the cylinder head then
        position the cover and loosely install one screw at a time. It's usually necessary to move the cover around to line up the screws,
        gasket and holes.
    </p>
    <p>
        The correct screws are flat-head slotted with a cute little spreader bar under each one to prevent buckling the sealing surface
        of the valve cover - reproductions are available for under $5.00 a set from all the vendors, and they're made in America too!
        It looks really nice to have the correct hardware; I get mine from the nasty junk 'core' engines at the scrapyard.
    </p>
    <p>
        Do not over-tighten the screws; just enough to hold the cover snugly in place. Run the engine and look for oil leaks. Lightly
        re-tighten as needed.
    </p>
    <p>
        Once in a while, you may need to invert the valve cover and support the edge with a sturdy piece of hardwood and then tap down
        the high spots with a ball-peen hammer but it's very easy to make it leak worse, so beware.
    </p>
    <p>
        The NAPA/Victor gasket part numbers are #VS39725 for the 216 engine and #VS39687 for the later 235 and all 261s.
    </p>
    <p>
        It looks complicated, but it isn't: print this out and take it under the hood with you; soon you'll be making money fixing your
        buddies' old cars & trucks.
    </p>
    <p>
        <strong>NOTE:</strong> If your 235/261 is equipped with hydraulic lifters, the adjustment procedure is the same, except you
        carefully adjust each valve to <strong>zero</strong> lash when it is in position, then give the adjusting screw 1/4 turn more
        and lock the nut. After all are done you must run the engine and whilst it is idling, adjust any valve that clatters only just
        enough to make it stop clattering.
    </p>
    <p>
        Some folks will tell you to set zero lash then 1-1/2 turns more on the adjusting screw; this is wrong, and will result in
        misfiring and burned valves.
    </p>
    <p>
        Be aware that the 235/261 engine design isn't good for installation of hydraulic lifters, and once the engine is fully broken in,
        the oil pressure at idle will not be sufficient to keep the lifters pumped up at idle, leading to clattering valves again.
        Later blocks have larger oil galleries in the lifter areas to provide the increased oil flow required by hydraulic lifters but
        normal hot idle oil pressure in these engines is under 20#; this isn't sufficient to keep the lifters pumped up.
    </p>
    <p>
        So don't be in a hurry to add hydraulic lifters when you're building your engine; they rob power and are usually unsatisfactory
        in service.
    </p>
</div><br />
<div class="HowToTitle1">Jeff's 216/235/261 Valve Adjustment Procedures</div><br />
<img class="PicsRight" img src="/Images/1950Pencil.jpg">
<div class="para">
    <p>
        To answer your question about the valve train;  assuming that the side cover has already been installed so that you can't see the
        lifters, just lay the push-rods in place on the lifters and watch the action of the push rods where they stick up through the head.
        Whether or not the rest of the valve train is installed or adjusted is not really important at this point.
    </p>
    <p>
        You have touched on another question that gets asked a lot. Initially adjusting the valve train. With the engine at #1 TDC (firing),
        you can adjust both valves for the #1 cylinder. Then rotate the crankshaft 120 degrees in the normal direction of rotation (CCW
        looking at the flywheel end) and you can adjust the valves of the next cylinder in the firing order and so on until you have done
        them all. I could write this procedure also. I was going to suggest it anyway since its a FAQ. It goes more like this though.
    </p>
    <p>
        You split the firing order in two halves. 153  624 When the lifters of #6 are "rocking", adjust #1. When the lifters of #2 are
        rocking, adjust #5. When the lifters of #4 are rocking, adjust #3. This will continue on every 60 degrees with #1 rocking, adjust
        #6; #5 rocking, adjust #2; and #3 rocking, adjust #4.  To help while you are doing this, write 153 above 624 on paper and scratch
        off the cylinders as you go. I hope that makes sense.You can do this before you install the distributor if you prefer. Just
        remember to put the crankshaft back to #1 again.
    </p>
    <p>
        Did you understand the short version of how you rotate the engine 120 degrees at a time to bring each cyl to TDC firing? The main
        thing is to understand that when any certain cyl is TDC firing, its sister cyl is TDC between IN/EX. This works on 4s, 6s, 8s,
        10s, 12s, 16s and so on. The books say to adjust these valves hot, but if you add .002" to the intake spec and .003" to the exhaust
        spec it works just fine when building an engine (cold). If the spec reads .006" IN and .013 EX (hot), then set them at 008" and
        .016" cold. This is measured between the rocker tip and the valve stem tip.
    </p>
    <p>
        Lifters "rocking" means the same thing as when I wrote "alternating up and down" in the timing procedure. When the lifters of
        any particular cylinder alternately ride up and down the intake (IN) and exhaust (EX) lobes of the camshaft as you rotate the
        crankshaft clockwise and counter-clockwise they appear to "rock" up and down. For instance, if #1 cylinder is top dead center
        (TDC) firing, #6 cylinder will be TDC in between the exhaust and intake stroke and also vice versa. The same goes for 5 and 2, 3
        and 4. These are called "sister cylinders" because the pistons travel up and down together but they are actually 180 degrees
        apart in the "four stroke" cycles. Since #6 is TDC in between IN and EX, when you rotate the crankshaft (just a few degrees) in
        the normal rotation the piston begins its downward intake stroke and the IN valve will begin to open. When you rotate the
        crankshaft backwards the piston backs up into the exhaust stroke and the EX valve begins to open. When viewing the lifters (and
        pustrods or rockers if installed) of the #6 cyl., they will appear to "rock". Therefore, if any particular cylinders lifters are
        "rocking" (TDC IN/EX) then the sister cylinder is TDC firing and that cylinders valves can be accurately adjusted.
    </p>
    <p>
        Lets say that you have just adjusted the #1 cylinders valves while the #1 cylinder was TDC firing. The next cylinder in the firing
        order is #5 so you just watch for the lifters to "rock" on its sister cyl. (#2) while you rotate the crankshaft about 1/3 of a
        revolution (120 degrees). In that 1/3 of a rev. the #2 cyl will be finishing its exhaust stroke and beginning the intake stroke.
    </p>
    <p>
        Once the relationship between all of the cylinders becomes clear you it will all seem way to easy. By the way, when done correctly,
        installing the distributor and all of the adjustments will require only two revolutions of the crankshaft.
    </p>
    <p>
        <strong>Hydraulic Lifters.</strong> First, when I started building engines with hydraulic lifters I tried these "procedures" of
        soaking and pumping, pumping and soaking, etc. I eventually came to the obvious conclusion that my lifters didn't shut up any
        sooner than "mechanic B" that did nothing but install the damn things and start the engine. Lifters installed right out of the
        box will pump up on their own within the first minute of initial start up. Sometimes, they will shut up in the first ten seconds.
        This will not damage the lifters on these OHV engines.
    </p>
    <p>
        Now, to get the initial valve adjustment with your fresh squishy lifters, bring #1 cyl. (and subsequent cylinders as you move
        along in the firing order) to TDC firing position. This insures that the camshaft lobes of the #1 cyl. are facing down away from
        the lifter base and that the lifter base is sitting on what is called the "base circle" of the cam lobe. This doesn't have to be
        a precise TDC, just so that #1 is close to TDC and you are sure that the cyl. is in the firing position. This is easy if the
        distributor is correctly installed. If #1 piston is up and the rotor is pointing to the #1 wire tower, then both valves of #1 are
        ready to adjust. So forth through the firing order until all six are done.
    </p>
    <p>
        Back to the actual adjustment. With all valve train components in place and the cylinder you are working on in the proper
        position, slowly tighten the rocker arm adjustment screw (intake or exhaust) with one hand while spinning that push-rod with the
        fingers of your other hand. As soon as your clearance or lash reaches zero you will immediately feel some resistance to your once
        effortless spinning of the push-rod. This lets you know that you have just begun to compress the spring loaded plunger in the
        lifter. Tighten the adjustment screw another half turn and lock it down. This sets the plunger into the center of its travel
        within the lifter body. Do the other valve of that cylinder, complete the entire procedure on the other five cylinders, and you
        are done. One note; due to some assembly circumstances it may be necessary to first loosen some rocker arm adjustments if they
        are already to tight.
    </p>
    <p>
        Rotate the Crank 120 degrees at a time to get to the next set of valves (CCW looking from the back of the engine).<br /><br />
        When the lifters of #6 are rocking, Adjust #1<br />
        When the lifters of #2 are rocking, Adjust #5<br />
        When the lifters of #4 are rocking, Adjust #3<br /><br />
        When the lifters of #1 are rocking, Adjust #6<br />
        When the lifters of #5 are rocking, Adjust #2<br />
        When the lifters of #3 are rocking, Adjust #4<br /><br />
        Add .002 to the intake spec for a cold engine<br />
        Add .003 to the exhaust spec for a cold engine<br />
    </p>
    <p>
        Taken from <a href="http://www.cranecams.com" target=_blank>Crane Cams Website</a> "Mechanical cam designs require a running clearance or
        valve lash, while hydraulic lifters are just the opposite. When the rocker arm assembly is properly torqued down into position, the push-rod
        must take up all the clearance and descend into the hydraulic lifter, causing the push-rod seat to move down by .020" to .060". The distance
        that the push-rod seat moves down away from the retaining lock is the "Lifter Pre-load". The hydraulic mechanism requires this precise
        amount of "pre-load" for it to do its job properly."
    </p>
</div>


