@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Internal Oil Distribution Instruction for the 216 Engine";
    ViewBag.Message = "Internal Oil Distribution";
}
<div class="HowToTitle1">Internal Oil Distribution Instruction for the 216 Engine</div><br />
<aside>
    As with all of the content on this website, you can simply click on any picture to get its largest size. In this way,
    we can maintain the clearest definition to make it easier for you to see the detail. If the picture is so big you can't
    see all of it on your screen, all you have to do is hold down CONTROL and move the mouse wheel up and down to resize!
</aside>
<div class="para">
    <p>
        Below is the diagram for how the oil pipe threads through the 216 engine block. I included a few pictures to help you sort things out.
        The threads are 1/8" NPT and are sweated in place. This is now the oil gets from the bottom end to the valve rocker assembly. The line
        threads through the water jacket and up through a hole in the head and connects at the rocker assembly. You want to make sure those two
        fittings on the block are leak-proof because coolant will leak out otherwise.
    </p>
</div>
    <a href="/Images/Projects/ValveOiler/valveinstruction.jpg">
        <center>
            <img src="/Images/Projects/ValveOiler/valveinstruction.jpg" width="600">
        </center>
    </a>
<br /><br />
<div class="HowToTitle1">Oiler Side of 216 Engine</div>
<div class="aside1mainx">
    <span class="restopics">
        <a href="/Images/Projects/Valveoiler/216oiler1lg.jpg"><img src="/Images/Projects/Valveoiler/216oiler1sm.jpg" width="175"></a>
        <a href="/Images/Projects/Valveoiler/216oiler2lg.jpg"><img src="/Images/Projects/Valveoiler/216oiler2sm.jpg" width="175"></a>
        <a href="/Images/Projects/Valveoiler/216oiler3lg.jpg"><img src="/Images/Projects/Valveoiler/216oiler3sm.jpg" width="175"></a>
        <a href="/Images/Projects/Valveoiler/216oiler4lg.jpg"><img src="/Images/Projects/Valveoiler/216oiler4sm.jpg" width="175"></a>
        <a href="/Images/Projects/Valveoiler/216oiler5lg.jpg"><img src="/Images/Projects/Valveoiler/216oiler5sm.jpg" width="175"></a>
        <a href="/Images/Projects/Valveoiler/216oiler6lg.jpg"><img src="/Images/Projects/Valveoiler/216oiler6sm.jpg" width="175"></a>
    </span>
</div>
<aside>
    Do you have Pictures or some information that would add to this conversation? Send Pics and/or improvements to
    <a href="mailto:deve@speedprint.com?subject=216 Valve Oiler">Deve</a> and we will make sure they are considered for this document.
    Meanwhile don't forget to check the <a href="/Services/Index" target=_blank><b>Farm-It-Out</b></a> section for unique items
    that may make your restoration just a little better.
</aside>
