@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vehicle Storage";
    ViewBag.Message = "Safely Storing Your Old Truck";
}
<div class="HowToTitle1">Long Term Storage of Your AD</div>
<div class="TitleByLine">Compiled by Deve Krehbiel</div>